[2019-04-17 16:03] tomchristie opened #5 "Check connection aliveness on acquiry from pool"
Aside: Probably a whole bunch of robustness testing would be good, for lost-connection cases in general.

[2019-04-17 16:04] tomchristie opened #6 "Timeout tests"

[2019-04-17 16:38] #6 closed

[2019-04-17 16:43] tomchristie opened #8 "Redirects"
I *guess* we want to support redirects at this level, but it's not 100% clear.

[2019-04-18 12:17] tomchristie opened #10 "Exceptions for decoding errors"
If Gzip, Brotili or Deflate decoding fails it should raise a specific exception type.

[2019-04-18 14:58] tomchristie opened #11 "Multipart helper"
The first part of this would be a class that *just* implements taking a files/data dict, and returning the byte-wise multipart content, plus the Content-Type header.

Places to start with this include `urllib3`, and the `requests-toolbelt` streaming multipart encoder.

[2019-04-23 11:00] tomchristie opened #14 "Wait for connection close"
Sync support for `.raw()` doesn't work just yet because the transport close is implemented as as a "call_soon", and we're currently not using `transport.wait_closed`, meaning that the asyncio loop ends up being closed before the pending task completes.

[2019-04-24 06:42] Hanaasagi opened #16 "`Bad file descriptor` when use httpcore to request https site"
I found the problem when using `request_async` to request a https site. After reading the code, I think it may a bug of `httpcore`

### Env
- Python 3.7.2
- httpcore 0.2.0

### Steps to reproduce the problem

[code]

Above code will report

[code]

It seems that the socket has already been closed when sending SSL close_notify message.  And when I use python-dbg to run the code, there are some warn

[2019-04-24 08:49] tomchristie commented on #16
Okay, thanks. Looks like a core python SSL issue to me.
Reduced it down to this example:

[code]

Raised as: https://bugs.python.org/issue36709

[2019-04-24 09:32] tomchristie commented on #16
A workaround for us would be to fire off a single global task that keeps track of all open connections, and closes them on `asyncio.CancelledError`.

That wouldn't work with `loop.run_until_complete(f()) / loop.close()`, but it would work with `asyncio.run(f())`, since that correctly makes sure to cancel any outstanding tasks.

[2019-04-24 11:07] tomchristie commented on #16
Version 0.2.1 will now cleanup keep-alive connection on `ConnectionPool.close()`

I still think there's a valid python bug here, but we can at least make sure to avoid this issue if we cleanup our resources properly. Suggested usages are either:

[code]

Or:

[code]

This should also play nicely with `request_async` sessions.

[2019-04-24 11:14] #16 closed

[2019-04-24 11:25] Hanaasagi commented on #16
Thank you so much for the feedback!

[2019-04-28 22:03] njsmith opened #22 "Combining efforts?"
Hey, I just discovered this. Looks pretty cool!

I don't know if you're aware, but we've been working on a similar project for a while now:

- https://github.com/urllib3/urllib3/issues/1323
- https://github.com/python-trio/urllib3/

Some key features:

- Based on urllib3, rather than a rewrite, to take advantage of their years of work finding edge-cases. Supports tricky stuff like proxies and earl

[2019-04-29 08:23] tomchristie commented on #22
Yes mate! I'm not at PyCon sadly. We can either chat here or DM me [on twitter](https://twitter.com/_tomchristie) and I'll ping you my skype username.

I've been doing some work on the `adapters` branch that's not yet made it back into master, but together with what's already here that'd give us...

* Easy to add trio support - all the asyncio specific bits factored into a single (small) place.
*

[2019-05-01 10:45] tomchristie commented on #22
We chatted. And it was ✨*good*✨.

I'm v. confident in the approach here - tho there will doubtless be *tons* of good experience and edge casing for us to bring across from urllib3. (Eg. decoding gnarliness, early responses, etc.)

Going to keep working on getting the API complete, fully test-covered, etc.etc. then can review what good stuff to pull across from urllib3's gnarly-real-world HTTP expe

[2019-05-01 10:45] #22 closed

[2019-05-01 10:47] #8 closed

[2019-05-01 10:47] tomchristie commented on #8
Supported now.

[2019-05-01 10:47] #10 closed

[2019-05-01 10:47] #14 closed

[2019-05-01 14:31] njsmith commented on #22
I'd definitely suggest checking out the core HTTP logic and networking layer, which is where a lot of the attention has gone:

https://github.com/python-trio/urllib3/blob/bleach-spike/src/urllib3/_async/connection.py
https://github.com/python-trio/urllib3/tree/bleach-spike/src/urllib3/_backends

This handles proxy support, early responses, the backend API has been iterated on repeatedly to narrow

[2019-05-02 13:01] tomchristie opened #24 "Text streaming"
Currently all of the streaming APIs we're providing are byte-wise. We ought to also support text-decoding interfaces.

This would likely mean that we'd want `stream(text=True)`. Difficulties here are that we don't have `.apparent_encoding` available to us prior to the content being available. We'd need to use [chardet's incremental decoding](https://chardet.readthedocs.io/en/latest/usage.html#exam

[2019-05-02 13:05] tomchristie opened #25 "HTTP/2 Upgrade support"
Currently we only support HTTP/2 on https connections.

Establishing HTTP/2 on http works a little differently in that it starts with a regular HTTP/1.1 connection, and includes an `Upgrade` header. If the server responds with an appropriate upgrade response, then we switch to HTTP/2.

This would require a little bit of work, since we'd need the `HTTP11Connection` class to be able to call back int

[2019-05-02 13:06] tomchristie opened #26 "100% Test coverage"
Let's get the test coverage up to 100%, and then force-pin it.

Any contributions towards this are welcome.

[2019-05-02 13:13] tomchristie opened #27 "Add `params` to API."
All of our `.requests()`, `.get()`, `.put()` etc... APIs should accept a `params` dict, and should modify the URL if it is provided.

In fact it'd actually make sense for the first pass on this to be adding `params=...` as an optional argument to the `URL` class.

This ticket would be a good one for a contributor to jump onto, since it's nicely bounded. Start with a PR *only* for adding `params` t

[2019-05-02 13:20] tomchristie opened #28 "Add `data` to API."
An initial pass here would probably be to *only* support URL encoded data initially.

We probably want to change things around so that our current `content` argument supporting bytes or async bytes iterator becomes `data` instead, and supports bytes, or async bytes iterator, or dict.

A later follow up to this will probably be also supporting `str` as an option, and encoding to `Content-Type: text

[2019-05-02 13:21] tomchristie opened #29 "Add `.raise_for_status()` to API"
Following the same behavior as requests.

**A good one for a contributor to jump on, since it's nicely bounded.**

[2019-05-02 13:26] tomchristie opened #30 "Handle early responses"
Ideally our HTTP/1.1 and HTTP/2 cases should be able to handle pulling responses *before* they've finished sending the entire request.

Some server implementations could deadlock on large request bodies if we strictly require that the entire request has been sent before reading the response.

[2019-05-02 13:30] tomchristie opened #31 "Auth support"
We currently have `adapters/authentication.py` stubbed out for this.

The client will need to create an AuthConfig which should be bound to the origin of the initial request. The auth should be included during `prepare_request`, if the origin matches.

[2019-05-02 13:31] tomchristie opened #32 "Cookie persistence"
We currently have `adapters/cookies.py` stubbed out for this.

A precursor to persistence should probably be adding a `Cookies` class and cookie interfaces on the request and response. Once we support sending and getting cookies back, *then* we can also add the cookie persistence layer.

[2019-05-02 13:35] tomchristie opened #33 "Environment support"
Needs to handle anything that requests currently deals with when `trust_env=True` is set.
`.netrc`, `REQUEST_CA_BUNDLE` and anything else relevant.

First step to dealing with this would be to outline *exactly* what set of stuff `requests` includes. If anyone wants to dig into this and comment on this issue comprehensively with what set of behavior we need, then that'd be a great start.

We have `

[2019-05-02 13:37] tomchristie opened #34 "Keep-Alive timeouts"
We should automatically close any Keep-Alive connections after a timeout period.

[2019-05-02 13:38] tomchristie opened #35 "Close all outstanding responses on client close"
Client close currently [closes off any keep-alive connections](https://github.com/encode/httpx/blob/master/httpx/dispatch/connection_pool.py#L171).
Actually the behavior would be more neatly bounded if we forcibly close off *all* connections.

[code]

[2019-05-02 13:40] tomchristie opened #36 "Proxy support"
Best place to look would be `urllib3`.
Will need to be handled by the "dispatch" layer.

[2019-05-02 13:44] tomchristie opened #37 "Tighten up `.next()` behavior"
Currently `.next` is set as an attribute on the response.

Really it'd be good to have:

* An explicit `async def next(self):` method
* A `.call_next` attribute that the RedirectAdapter can set.

This'll mean we can have more neatly guarded behavior...

[code]

[2019-05-02 13:46] tomchristie commented on #29
We *could* include hyperlinks in the exceptions to `httpstatuses.com`... eg. https://httpstatuses.com/413

[2019-05-03 13:13] tomchristie opened #38 "Add base_url to Client"
Client should support an optional `base_url`. If provided then .get() etc should accept relative URLs such as “/homepage”, which should automatically be joined against the base url.

[2019-05-08 09:08] tomchristie commented on #29
Closed via #39

[2019-05-08 09:08] #29 closed

[2019-05-08 10:07] tomchristie opened #41 "Use `HTTPStatus` instead of our own int enum."
https://docs.python.org/3/library/http.html#http.HTTPStatus

[2019-05-09 08:27] tomchristie opened #48 "Pull adapters into client class"
I *think* we'll probably want to drop the existing adapters layering, and just have `Client` / `Dispatcher`. Refactoring away should be easy enough, given the annotations and coverage, so will probably just continue in this vein for the moment, but I think it'd be a better way around.

[2019-05-09 09:02] tomchristie opened #49 "Add WSGI and ASGI dispatchers"
We should allow clients to trivially plug into WSGI and ASGI apps.
This will allow:

* Using `httpcore` as a test client.
* Stubbing out third-party-services during tests, rather than making live network requests.

We should support the following:

[code]

And...

[code]

This is easy enough for us to do, since we've already got a `dispatch=...` interface, so we'll want something like this:

[code

[2019-05-09 09:23] tomchristie opened #50 "Parallel requests"
We *could* consider adding a concurrency API to simplify making multiple requests in parallel.

I'll give sync examples here, but we'd also have equivelent async cases too.

If you have a number of requests that you'd like to send in paralell, then...

[code]

Alternatively, if you don't need to care about getting the responses back out-of-order, then:

[code]

Nice things here:

* Bring the goodn

[2019-05-09 09:51] tomchristie opened #51 "Sync or Async first"
We *might well* want to switch things around, and have `httpcore.Client` be the standard threaded case. This'd particularly make sense if we include #50 as part of the functionality that gets built out.

[2019-05-13 08:37] tomchristie commented on #51
Stronger: There's no "might well want to" about this.
`httpcore.Client` should be that standard case.
For folks who have the requirement `httpcore.AsyncClient` has your back.

[2019-05-13 13:00] tomchristie commented on #51
Close via #58.

[2019-05-13 13:00] #51 closed

[2019-05-13 13:43] tomchristie commented on #48
Done

[2019-05-13 13:43] #48 closed

[2019-05-13 13:45] #41 closed

[2019-05-14 19:30] yeraydiazdiaz commented on #26
The merged PRs and #64 is as much as I've been able to increase the coverage, the report on that branch is as follows:

[code]

- `httpcore/dispatch/http11.py                  73      3    96%   69, 100-103`
    + Line 69 covers receiving an informational response which I haven't been able to reproduce from our server fixture.
    + Lines 100-103: Close with H11 protocol error, I've tried manually

[2019-05-14 20:07] tomchristie commented on #26
Stonkin great work here!
Sending an `Expect : 100-continue` header ought to trigger Uvicorn to issue a 100 informational response. That’d knock off one more!

[2019-05-14 20:09] tomchristie commented on #26
I think closing a steaming response without reading it should trigger the h11 protocol error case, but I’m not 100% without reviewing it more thoroughly.

[2019-05-14 20:16] tomchristie commented on #26
For the WriteRimeout, try sending a large request in `test_timeouts.py`,  to the slow_response endpoint, using a tiny write timeout.

[2019-05-15 08:48] yeraydiazdiaz commented on #26
Awesome, thanks for the tips! I'll try those out (in separate PRs) today 👍

[2019-05-15 09:20] tomchristie commented on #26
Rad.

[2019-05-15 15:46] tomchristie commented on #31
Closed via #65

[2019-05-15 15:46] #31 closed

[2019-05-16 10:06] tomchristie commented on #26
@yeraydiazdiaz Final remaining line here is in `write_no_block`. We use that interface in the HTTP/2 case in order to *strictly* write the HTTP/2 connection initialization, without allowing for any race conditions of "we've hit an async/await, so the task switched out under us, and wrote some different data first".

Because uvicorn doesn't currently have HTTP/2 support we're only ever testing out

[2019-05-16 10:06] tomchristie commented on #26
Thanks so much for your help on this!

[2019-05-16 10:08] yeraydiazdiaz commented on #26
No worries, glad we could get it done 🎉

[2019-05-16 10:14] #26 closed

[2019-05-16 10:17] tomchristie commented on #26
🤩

[2019-05-17 13:02] tomchristie commented on #38
Let's punt on this for the moment. There'd probably be some other things to think about here - eg. expectation for redirect-off-domain behavior.

[2019-05-17 13:02] #38 closed

[2019-05-17 13:03] #32 closed

[2019-05-17 13:03] tomchristie commented on #32
Resolved.

[2019-05-17 13:31] tomchristie opened #74 "Finesse json"
* Detect encoding from initial bytes, rather than just using "utf-8".
* Allow additional arguments to `response.json()` and review any subtle API diffs to requests.

[2019-05-24 10:32] tomchristie opened #78 "Community discussion"
Although I've not yet done much in the way of documentation or branding this pacakge up, it's quickly narrowing in on a slice of functionality that's lacking in the Python HTTP landscape.

Specifically:

* A requests-compatible API.
* With HTTP/2 and HTTP/1.1 support (and an eye on HTTP/3)
* A standard sync client by default, but the option of an async client, if you need it.
* An API for making r

[2019-05-24 14:23] tomchristie commented on #49
Related #79

[2019-05-24 14:28] tomchristie commented on #78
Other scattered thoughts:

* Requests test suite: Perhaps at some point we could look at running the existing requests test suite against this code base to help thrash out an missing feature partity, API changes, behavioral differences.
* Words of caution: There's a lot to corral in all this. Supporting both sync and async cases, bridging between them correctly all the way through when required, a

[2019-05-25 09:23] manatlan opened #80 "HTTP/2 connection implementation is currently flaky."
Is it me ?
Or the simplest test fails:

     httpcore.Client().get("https://www.google.com")

outputs:

    Traceback (most recent call last):
      File "/usr/local/lib/python3.7/dist-packages/httpcore/concurrency.py", line 65, in read
        self.stream_reader.read(n), timeout.read_timeout
      File "/usr/lib/python3.7/asyncio/tasks.py", line 423, in wait_for
        raise futures.TimeoutError

[2019-05-25 10:53] yeraydiazdiaz commented on #80
Thanks for the report. TL;DR Google is using HTTP2 and returning a 400 error which creates an unexpected content which causes the ReadTimeout. I've tried with other URLs and it seems to work correctly.

Looking deeper there are few things happening:

- Firstly Google is returning a 400 response and resetting the stream, here are the raw events:
[code]
- The HTTP2 dispatcher attempts to get a body

[2019-05-25 13:06] tomchristie commented on #80
Thanks folks. I should be able to review this on Tuesday.

[2019-05-25 13:08] tomchristie commented on #80
Something that’d be really useful for us with debugging would be configuration on the client to determine which HTTP protocols should be supported. Then if we get something like this we can easily narrow it down to eg. “Is this an issue in the HTTP/2 implementation”

[2019-05-25 18:30] tomchristie commented on #80
It's specifically an issue with HTTP/2 (doesn't reproduce if I switch the connection to force HTTP/1). Doesn't reproduce on all sites (eg. I'd be testing against the HTTP/2 implementation against `https://www.example.com`.)

[2019-05-25 20:25] tiran commented on #78
I opened https://bugs.python.org/issue37048 to track QUIC related changes to the SSL module.

[2019-05-26 07:13] njsmith commented on #78
CC'ing some folks where I'm not sure if they've seen this or not: @pquentin @RatanShreshtha @nateprewitt @shazow @asvetlov @dstufft

@tomchristie: this is super cool, and thanks for starting the conversation.

I'll start by summarizing what's happening with the async-urllib3 work and what we've been thinking about there, so we can start figuring out how these different initiatives relate.

# The a

[2019-05-26 08:54] manatlan commented on #80
thanks in advance ...
I will use httpcore in https://github.com/manatlan/reqman ...

Hope you release a httpcore on pypi with cookies soon

[2019-05-27 23:48] theacodes commented on #78
I believe beyond technical details we should establish a new PSF Work Group for HTTP to better acquire resources and funding to pay all of you to solve this problem.

There is *no* reason why we should be unorganized or alone in this. A PSF Work Group would allow us to better leverage fiscal sponsorship, governance, and cross-maintenance of projects.

From a technical perspective, my ideal world w

[2019-05-28 13:39] #80 closed

[2019-05-28 13:43] tomchristie commented on #80
Now resolved in master.

[code]
[code]

[2019-05-28 16:07] manatlan commented on #80
great, thanks !
Are you planning to release a pypi version with this fix ?

[2019-05-30 13:35] tomchristie commented on #78
Seems very reasonable, yup. I'm not *personally* blocked by funding, since Encode's model is proving sufficient for my time at the moment, but certainly in terms of maintainance and long-term I think it's super important. I don't really know how the working groups function, but it'd likely be to everyone's benefit that whoever's heading up the governance aspects shouldn't also be the primary lead

[2019-06-06 12:47] akjanik commented on #80
@tomchristie I am trying to use the lib with Google Cloud services which use HTTP/2 and got hit by that, while trying to authenticate to `https://www.googleapis.com/oauth2/v4/token` Installing from git resolves the problem, would be it possible to do (minor?) release anytime soon?

[2019-06-06 13:45] tomchristie commented on #80
Gotcha. Released as 0.3.1. 👍

[2019-06-06 18:38] harveyxia opened #84 "Breaking changes release in version 0.3.1"
The [`requests-async`](https://github.com/encode/requests-async) library depends on httpcore 0.3.*, which is now failing for me when running httpcore 0.3.1—specifically [this line](https://github.com/encode/requests-async/blob/23c21e05721d1bc6fbd270727782a495ae4ca228/requests_async/adapters.py#L55) with  `request() got an unexpected keyword argument 'ssl'`

@tomchristie I'm guessing that version 0

[2019-06-07 08:00] tomchristie commented on #84
Try uninstalling and re-installing httpcore. The 0.3.1 release has been deleted from PyPI, so you should end up with 0.3.0.

[2019-06-07 08:00] #84 closed

[2019-06-18 03:15] gvbgduh opened #93 "Event loop gets stuck awaiting the request after last change or requests-async/http3"
I've discovered an interesting behaviour recently.
The matter is that the code below starts getting stuck at awaiting the request since the bump of `request-async` to `0.5.0` (`0.4.1` works well), but the only meaningful change in https://github.com/encode/requests-async/pull/48 is bumping of `httpcore`/`http3` to `0.3.0` (if I'm not mistaken). That's why I decided to open an issue here.

I'm wond

[2019-06-18 10:39] tomchristie commented on #93
Gotcha - that was an HTTP/2 issue in an older version.
I've updated `requests-async` to depend on the `http3` now, which appears to resolve the issue.

Sometime soon I'll start recommending just to use `http3.AsyncClient()` rather than the `requests-async` wrapper.

[2019-06-18 10:39] #93 closed

[2019-06-18 10:46] #11 closed

[2019-06-18 16:36] didip opened #96 "h11._util.RemoteProtocolError: can't handle event type ConnectionClosed when role=SERVER and state=SEND_RESPONSE"
I intermittently got this error when load testing uvicorn endpoint.

This error comes from a proxy endpoint where I am also using `encode/http3` to perform HTTP client calls.

[code]

[2019-06-18 17:08] didip opened #95 "Failing to detect lost connections (asyncio only)"
1 of 5 requests I initiated would raise ConnectionResetError('Connection lost') when calling `AsyncClient` from inside Starlette and Uvicorn.

In comparison, urllib, requests and Tornado's AsyncClient works as expected.

Stacktrace:

[code]

[2019-06-18 19:21] tomchristie commented on #95
Could you break this down to the simplest possible reproduction? Which URL, what kind of request? Does it reproduce on a range of URLs, or mainly on one specific site. Can you reproduce independently of Starlette, and just demonstrate it standalone? Thanks so much!

[2019-06-18 20:50] tomchristie commented on #95
Could be that it’s caused by https://github.com/encode/http3/issues/5 - will need to replicate, and then do some digging.

[2019-06-19 01:01] gvbgduh commented on #93
Awesome! Thanks a lot for fast update and it's good to know.

[2019-06-19 07:30] tomchristie commented on #96
Yup - the traceback is from `http3` there - have moved this issue across.

[2019-06-21 11:24] jodal opened #97 "AsyncClient(app=asgi_app) does not run startup/shutdown functions"
This might be by design, but it seems like the client, when wrapping an ASGI app, does not trigger the startup/shutdown lifespan events or wait for their event handlers.

If the only thing the startup/shutdown handlers do is to connect/disconnect to the database, I might as well solve this with additional fixtures in my test setup. My concern is keeping the startup/shutdown handlers and the test s

[2019-06-21 11:35] tomchristie commented on #97
So.

Yes, it is by design really.

Starlette's test client happens to bundle the test client up with the startup/shutdown functionality but really I think we ought to separate them, so that we've got `AsyncClient()` for making the requests, and `Lifespan()` for triggering startup/shutdown. (Lifespan would be something we'd provide in Starlette, rather than here.)

[2019-06-21 12:01] tomchristie commented on #97
It would look a bit like this...

[code]

Then usage either with...

[code]

or...

[code]

[2019-06-24 12:22] #49 closed

[2019-06-24 12:22] tomchristie commented on #49
Done.

[2019-06-25 14:06] StephenBrown2 opened #106 "Implement http_version attribute on BaseResponse object"
Currently, I am utilizing requests, which under the hood uses urllib3, whose [HTTPResponse object](https://github.com/urllib3/urllib3/blob/master/src/urllib3/response.py#L155-L211) contains [a `.version` attribute](https://github.com/urllib3/urllib3/blob/master/src/urllib3/response.py#L218), which is an `int`, ten times greater than the actual HTTP version (i.e. 10 for 1.0, 11 for 1.1, etc).
I cur

[2019-06-25 14:21] tomchristie commented on #106
Yup. So we've got `response.protocol`, which is a string and right now can be either `"HTTP/2"` or `"HTTP/1.1"`.

We actually ought to improve on that by using the `.http_version` that `h11` returns in order to return `"HTTP/1.0"` or `"HTTP/0.9"` when appropriate.

Its also possible that we might want to include a `.protocol_value` property which returns tuples such as eg. `(1, 1)` , `(2, 0)`.

[2019-06-25 15:14] sethmlarson commented on #106
I think keeping this a string is best due to all the draft versions of QUIC.

[2019-06-25 15:40] StephenBrown2 commented on #106
Ah perfect. I had seen `.protocol` but clearly missed it in the docs as being exactly what I needed. You can go ahead and close this out unless you'd like to keep it for the discussion on `h11`'s `http_version`

[2019-06-25 16:07] tomchristie commented on #106
We might also want to think about switching the name over to `http_version` at some point, since I think that's probably more obvious.

[2019-06-25 16:15] tomchristie commented on #106
Alright, we've got "HTTP/1.0" and "HTTP/0.9" detection in there now.

Keep in mind that we might consider switching the API to `http_version` at some point (thoughts on naming, anyone?) so you may want to pin to `0.6.*`.

[2019-06-25 16:15] #106 closed

[2019-06-25 19:55] StephenBrown2 commented on #50
Currently I'm using `requests-async` to generate a bunch of requests to get simultaneously and using `asyncio.gather` and to run them all (Modified from actual code that splits up a large range into multiple "pages"):
[code]
And then I join the results together and return the resulting formatted data.

I recently came across the requests-toolbelt again and found it has a solution for threading as

[2019-06-25 20:13] StephenBrown2 opened #108 "Retry requests"
urllib3 has a very convenient [Retry](https://github.com/urllib3/urllib3/blob/master/src/urllib3/util/retry.py) utility ([docs](https://urllib3.readthedocs.io/en/latest/reference/urllib3.util.html#urllib3.util.retry.Retry)) that I have found to be quite useful when dealing with flaky APIs. http3's Clients don't support this sort of thing yet, but I would love it if they did!

In the meantime, I ca

[2019-06-26 08:39] tomchristie commented on #108
I think our tack onto this should probably be to match `requests` API wherever possible (so no built-in retry functionality). What we *should* defiantly do tho would be to do a good job of documenting how to implement this or other functionality with a custom dispatcher. That way we can make sure we're allowing for a range of differing behaviors, without having to extend our API surface area.

I'm

[2019-06-26 14:30] sethmlarson commented on #108
I'm actually of the opposite opinion here. Every `requests` usage I've seen in the wild uses urllib3's Retry, let's not repeat that lapse of API. :)

[2019-06-26 14:36] tomchristie commented on #108
Oh right, I was under the impression that it disables it, but I must be misremembering?

[2019-06-26 14:39] tomchristie commented on #108
Okay, looks like it's disabled by default, but can be enabled in the HTTPAdapter API... https://github.com/kennethreitz/requests/blob/master/requests/adapters.py#L113

[2019-06-26 14:49] tomchristie commented on #108
Not documented in the QuickStart or Advanced guides there, but it is part of the API reference. https://2.python-requests.org/en/master/api/#requests.adapters.HTTPAdapter

So, sure, let's treat that as in-scope.

[2019-06-26 15:24] Hellowlol commented on #108
I have used backoff atm, but it would be nice to have some native solution 👍

[2019-06-28 00:48] StephenBrown2 commented on #106
I wouldn't necessarily switch to `http_version`, as `protocol` makes sense the way that it is now, I'd just mention it in the API [compatibility docs](https://www.encode.io/http3/compatibility/).

[2019-07-03 10:43] tomchristie commented on #78
Okay, so I think we're far enough along the road here that I think it's time to plant a stake in the ground and say "yeah, this is the direction we're going".

There's still various technical aspects to work on. In particular, stuff like:

* Reviewing any aspects of the API that could be bought more into line with the `requests` API. (eg. the dispatcher API vs. requests' adapter API)
* Implementin

[2019-07-03 11:07] tomchristie commented on #78
Have pinged @kenneth-reitz on this.

[2019-07-03 14:18] sethmlarson commented on #78
Personally I think we should leave urllib3 to its long-term support maintenance state instead of trying to revive it into the spotlight via a next-gen HTTP client library.  When requests depended on urllib3 for dispatch we were essentially (and actually) treated as internal code. Why not just house that complexity within the client library itself rather than shelling it out and dealing with packag

[2019-07-03 14:26] tomchristie commented on #78
@sethmlarson - Agreed. I guess what I really meant to say there was that it might be helpful at some point if we had a old-school urllib3 dispatcher available as a third party package or whatever, so that we can more easily isolate any behavioral differences when dealing with any gnarly edge-case-ish behaviors.

[2019-07-05 14:04] tomchristie commented on #78
I've slung together [a requests3 branch](https://github.com/encode/http3/tree/requests3), which demos how our existing docs would look if the project *did* take over the mantle of Requests III.

Docs build is here: http://www.encode.io/requests3-demo/

I'm conflicted about it, but I *think* that encode taking over ownership and responsibility for delivering `requests3` is likely the best community

[2019-07-06 09:10] tomchristie commented on #78
On reflection I'm less sure now that trying to pursue "requests3" for the sake of continuity is necessarily the best option.

A fresh project under the umbrella of `python-http` would be a cleaner approach, tho if we go that route, then I think this project doesn't have the right name yet.

Also open to the question of "should this live under `encode`, or should it live under `python-http`.

* `en

[2019-07-06 13:34] sethmlarson commented on #78
Member repositories don't necessarily have to live within the organization though they definitely can. The name "https" is available to us instead of something ending in 3.

[2019-07-07 18:16] simonw commented on #95
I'm seeing this bug too. Here's a recent traceback (from my Heroku logs):
[code]
Here's my code that's making the API call: https://github.com/simonw/datasette-auth-github/blob/b4bbb0ecbc66a67fe6b57dc9c47870fe8fa6c0fc/datasette_auth_github/github_auth.py#L188-L199
[code]
Where `github_api_client = http3.AsyncClient()` as a class-level property.

I'm going to try instantiating a new `AsyncClient()`

[2019-07-07 18:28] simonw commented on #95
I changed my code to stop re-using the `AsyncClient()` instance across multiple requests and it seems to have fixed the problem for me - see https://github.com/simonw/datasette-auth-github/issues/27

[2019-07-07 20:32] tomchristie commented on #95
Gotcha - thanks for the report. Seems pretty likely it’d be occurring when attempting to use a connection that’s disconnected, eg due to keep alive timing out on the server side.

[2019-07-08 14:57] #5 closed

[2019-07-08 15:01] tomchristie commented on #95
Alrighty. I could recreate this issue by creating a client, issuing a request, then waiting 5+ mins, and making another request.

Version 0.6.7 properly deals with the case where an expired connection is obtained from the connection pool. In my testing this resolves the issue. 👍

[2019-07-08 18:54] sethmlarson commented on #36
Thoughts on implementing sans-I/O proxy handlers as a part of connection generation? Most proxy interchanges aren't as complex.

[2019-07-08 19:27] tomchristie commented on #36
I’ve not really looked into what needs to change for proxy support on each of http, https.

Is there a good resource to point at, or summary of the difference in how the request is formed in each of those two cases?

[2019-07-08 19:55] sethmlarson commented on #36
HTTP/HTTPS: Send a request with method=CONNECT, target=[host]:[port] along with proxy headers, if you get a 2XX response back then you start using that TCP connection as a tunnel immediately.
SOCKS4: Similar but uses it's own protocol to request a TCP tunnel. Has own authentication.
SOCKS4a: Same as above but DNS resolution can occur on the client side or proxy-side.
SOCKS5: Same as above but diff

[2019-07-08 20:05] yunstanford commented on #50
Just curious, why not just `asyncio.gather` ?

[2019-07-08 20:23] StephenBrown2 commented on #50
The ability to loop through several generated requests and extend a list of results is appealing, and I haven't figured out how to do that with `asyncio.gather()` yet.

[2019-07-09 02:32] StephenBrown2 commented on #108
Should the urllib3 team be pinged on implementation details? I could potentially work on porting it straight over, but I'm unsure about where it would lie in this library, and if someone else knows better they would probably be better to implement.

[2019-07-09 02:50] sethmlarson commented on #108
I'd love to be put on the review if you're willing to take a stab at implementation. :) No worries on getting it right the first time.

[2019-07-09 03:14] StephenBrown2 commented on #108
Also want to give attribution where it's due, so would probably start with a copy and reference comment, then work on async-ifying it... Will put some effort into it over the next couple weeks. I don't have much free time, so I'm not opposed to duplicate work on it.

[2019-07-09 08:49] tomchristie commented on #108
It might be worth tackling it API-first, before jumping in on the implementation.

How many controls and dials do we really want the retry API to provide? What critical bits of control over that are actually needed/used in the wild? Whatever is the most minimal possible sounds good to me - we can always extend it out further in time if needed.

We may also want to think about allowing for more com

[2019-07-09 11:33] tomchristie opened #113 "API design question - `Response.url`"
Currently our `Response.url` attribute exposes a `URL` instance.

This is a breaking change from the requests API where it just exposes a plain string.

It's feasible that we should instead only be exposing plain string URLs, in order to aim for drop-in replacement API compatibility w/ requests, *and* in order to keep the API surface area low.

Options here are:

* Expose `request.url` as a URL in

[2019-07-09 11:42] tomchristie commented on #113
If we do keep it as a URL instance, then one option to keep closer API compat would be to allow string comparisons, eg `URL(“https://www.encode.io/“) == “https://www.encode.io/“`

That has the advantage of being string-like, and far less likely to introduce an API breakage.

[2019-07-09 12:22] sethmlarson commented on #113
I'm for allowing string comparisons and providing the read-only URL instance. :) Seems like something users are probably doing themselves and shouldn't have to.

[2019-07-09 13:42] tomchristie commented on #113
Seems like it's probably the best all round option yeah.

[2019-07-09 15:57] sethmlarson commented on #108
I'll start by enumerating urllib3's existing functionality for `Retry`:
- `read` Number of times that a read operation can fail
- `write` Number of times that a write operation can fail
- `connect` Number of times that an operation related to creating a connection can fail (Doesn't apply to read timeouts on TLS, those are under `read`)
- `redirect` Number of times that a redirect can be followed
-

[2019-07-09 15:58] sethmlarson commented on #108
IMO the `raise_on_redirect` and `raise_on_status` are things that don't need to be attached to the `Retry` class?

[2019-07-09 17:03] StephenBrown2 commented on #108
Here's a typed skeleton of the current Retry object:
https://gist.github.com/StephenBrown2/2fc6bab18b30037488deb0f4db92e001

[2019-07-09 17:13] sethmlarson commented on #108
So I definitely want to make the new Retry object have one critical feature that actually makes sub-classing useful: Have a method that is subclassable that passes in the Request and the Response and then by some interface is allowed to decide whether a retry occurs and in addition also allows modifying the Request that will be emitted for that retry.

This exact functionality is tough to implemen

[2019-07-10 08:56] graingert commented on #113
how about:
[code]

[2019-07-10 09:03] graingert commented on #108
I'd rather retry was an ABC and could be implemented without subclassing

[2019-07-10 09:09] graingert commented on #24
having an incrementally decoding File and StreamReader like objects would be amazing contributions to the chardet project https://github.com/chardet/chardet/issues/154

[2019-07-10 11:29] sethmlarson commented on #113
I'd say that flags / parameters that massively alter the behavior of a function should probably be avoided.
Typically what a lot of URL instance classes do to recover the original string for the URL is provide an `.unsplit()` method.

[2019-07-10 11:33] sethmlarson commented on #108
Could you explain the benefit of not needing to implement with sub-classing in this situation? I'm not seeing one right away.

[2019-07-10 11:57] tomchristie commented on #108
There’s some great stuff to dig into here, tho I don’t think it’s on the critical path.

The API will be `retries=int|RetryConfig` available either per-client or per-request.

Finer grained control and/or a method override will then exist on the RetryConfig.

[2019-07-10 15:31] StephenBrown2 commented on #108
Personally, I don't see a need to support the `int` option, as all the options could have good defaults and one can simply use `retries=Retries()` to get those.

What I would like to see, as the minimum for my needs right now, is:
- `total`: `int`, Need this to be an overall limit, read/write specificity not needed, but I can see it would be useful as reads would be retryable much more than writes

[2019-07-10 15:44] sethmlarson commented on #108
Noting here that having `respect_retry_after` on by default can cause a DoS attack on the HTTP client by setting excessive wait times. If it's on by default we need a reasonably short `max_retry_after` value.

[2019-07-10 16:38] tomchristie commented on #108
100%. No reason folks should have to think about this.

[2019-07-10 16:42] graingert commented on #108
How about just a `max_retry_after` which can be set to 0 to not respect Retry-After

[2019-07-10 16:59] sethmlarson commented on #108
I'm okay with having `max_retry_after` being zero mean we don't respect Retry-After and I guess `None` being no limit? We just have to be careful designing APIs where specific values have special meanings because it makes extending those APIs tougher and more confusing for the user and makes code using our library harder to read.  In this case I think that Retry-After is very well defined and unli

[2019-07-10 17:20] sethmlarson opened #114 "Design Multipart helper to stream by default"
This is a frequent problem with urllib3 in that the default behavior loads all of the file's data into memory at once before sending resulting in a huge files getting loaded into memory.

It's a hard problem to fix in urllib3 because of how the API was designed, but we can still fix our implementation not to do this.  I've got part of a patch for this currently.

[2019-07-10 17:49] tomchristie commented on #114
Yup, defo.

One subtlety here is that right now we either support the request content being bytes or a byte iterator. The iterator case *can't* support body-preserving redirects. So we've actually got a precursor to this issue of supporting a rewindable/seekable type. (To allow rewinding back to the start of the upload.)

[2019-07-10 17:53] sethmlarson commented on #114
Yeah there's some bits and pieces I can lift from urllib3 and some unmerged branches for that specific case.  Effectively we add support for passing a seekable object as `data` and then we implement an file-like interface for the multipart data and internally can rewind the individual file objects.

Would something like this be effective?

[2019-07-11 14:14] StephenBrown2 commented on #108
Since `0` is `False`y, that would work, though I might prefer an explicit `False` being documented, the check would remain the same `if respect_retry_after and max_retry_after:` or similar.

[2019-07-11 16:14] #74 closed

[2019-07-11 18:30] sethmlarson opened #117 "Add support for Google's Brotli Python implementation"
This is handled by urllib3 and it'd be pretty trivial to lift from there.

[2019-07-11 18:54] tomchristie commented on #117
Is that different to the implementation that we currently support? https://github.com/encode/http3/blob/master/http3/decoders.py#L83

[2019-07-11 18:58] sethmlarson commented on #117
Unfortunately it is: https://github.com/urllib3/urllib3/blob/master/src/urllib3/response.py#L103

[2019-07-11 19:04] tomchristie commented on #117
Gotcha. What’s the difference?

[2019-07-11 19:11] sethmlarson commented on #117
Brotlipy provides `decompress()`/`flush()`, Google's Brotli on provides `process()`

[2019-07-11 21:12] graingert commented on #113
How about instead of maintaining backwards compatibility with requests, provide a series of codemods so people can upgrade their code to the new api?

[2019-07-11 21:29] sethmlarson commented on #113
We'll definitely need a section in the documentation on migration strategy, especially from requests but also useful to how for instance urllib3 does something compared to http3.

[2019-07-13 09:25] ambrozic opened #119 "DataField.render_data fails when value is not string"
DataField only likes `str` objects as values. DataField.render_data will produce an error when ie. `int` or `bytes` objects are part of posted data or form as well as `files`.

[code]

Test to reproduce
[code]

or code

[code]

[2019-07-13 11:26] tomchristie commented on #119
Okay. Multipart encoded data can *only* handle string or File data. We could perfectly well either coerce a limited set of scalar types, or just coerce any inputs with str()

[2019-07-13 11:31] tomchristie commented on #119
Would probably be a useful point of reference to stay in line with whatever urllib3 currently does.

[2019-07-13 12:06] ambrozic commented on #119
https://github.com/urllib3/urllib3/blob/master/src/urllib3/filepost.py#L84-L90

urllib3 isn't doing anything particularly advanced either. i can make a PR with a similar solution if you are fine with it.

[2019-07-13 13:12] tomchristie commented on #119
So looks like urllib3 only accepts str/byte values. What does requests do for that case? If it coerces to str, then any idea where it does that?

[2019-07-13 15:37] ambrozic commented on #119
Most of the fiddly magic in requests happens in [requests.models:_encode_files](https://github.com/kennethreitz/requests/blob/bedd9284c9646e50c10b3defdf519d4ba479e2c7/requests/models.py#L124-L139). Quite a bit of knowledge implemented which can help us. Prepared data is then sent to [urllib.filepost:encode_multipart_formdata](https://github.com/urllib3/urllib3/blob/master/src/urllib3/filepost.py#L

[2019-07-14 00:27] sethmlarson opened #120 "Add support for a Trio ConcurrencyBackend"

[2019-07-14 06:13] tomchristie commented on #119
Okay, so to keep in the with the behaviour I can see there, we should:

* Ignore `None` values.
* Cast any non-str/bytes to str.
* Handle lists of args.

[2019-07-14 06:20] tomchristie commented on #120
Indeed, yes.

I think there’s a conversation to be had about if that ends up in the core package or not.

My strong inclination is that we should support alternate concurrency backends, but that implementations other than asyncio should live in third party packages.

[2019-07-14 21:34] StephenBrown2 commented on #113
Personally I am quite in favor of the `URL` class, and am currently using [urlpath](https://pypi.org/project/urlpath/) for approximately the same function, including the ability to concatenate parts with `/`. Making `URL` instances string comparable (and bonus: `/` concat-able!) would be the best option I think, giving the best of both worlds.

[2019-07-15 01:51] sethmlarson commented on #119
I already posted in the PR (didn't realize this was the issue for that PR until looking further down the list) but I'm not a fan of blindly casting objects that are passed in to strings and then shipping that. Why not raise an error in that situation?

[2019-07-15 07:53] ambrozic commented on #119
my argument would be that data ends up as string in multipart form body anyway and interface should let user go as far as reasonably possible before raising errors.

[2019-07-15 08:19] tomchristie commented on #119
There's no right answer here - either API could be an resonable design choice.

I *think* we should probably prefer to nail things down quite tightly - given that we've got properly typed interfaces all the way through, it'd be nice if we worked towards raising `TypeError` on *any* incorrect type passed to one of our public interfaces.

[2019-07-15 08:26] tomchristie opened #122 "TypeErrors against public interfaces."
Partly prompted by [this comment](https://github.com/encode/http3/issues/119#issuecomment-511312157).

I think we should *probably* be a bit strict about enforcing types passed to our public interfaces. It'd be nice to raise loud clear errors, rather than failing with some arbitrary AttributeError in the middle of the codebase if a user passes something completely invalid to the interface. This wo

[2019-07-15 12:07] sethmlarson commented on #119
We should strive towards no `typing.Any` usage in public interfaces. :)

[2019-07-15 12:09] sethmlarson commented on #122
I'd rather be strict about what we accept, then we don't have to handle odd-ball cases down the road as a point of "backwards-compatibility" because it used to work but not on purpose.

[2019-07-15 12:37] tomchristie commented on #122
Sounds good to me.

[2019-07-15 12:55] ambrozic commented on #119
Does this imply this issue is a non-issue then? It already works as expected under current implementation. Should libraries using `http3` convert passed values in `data` dict according to interface?

[2019-07-15 13:08] tomchristie commented on #119
I guess there's still *some* issues to be resolved here:

* Ensure we deal with list of str / list of bytes okay.
* Ensure we raise `TypeError` on any dict values other than `bytes|str|typing.List[bytes]|typing.List[str]`.
* Ensure we raise `TypeError` on any dict keys other than `str`.

Slightly depends on exactly which points we intend to perform the type checking at.

[2019-07-15 19:47] sethmlarson opened #124 "Try connecting to HTTPS on schemaless URLs"
urllib3's behavior with schemaless URLs was to connect via `http`. Maybe we can have some logic that if we have `verify=True` active and we receive a schemaless URL either from a user or a redirect we try `https` first before falling back on `http`? Would have to be implemented within the connection retry logic.

[2019-07-16 02:08] lch277 commented on #96
This problem still exists in the lastest version 0.6.7
[code]

[2019-07-16 09:03] tomchristie commented on #96
@lch277 Could you provide a simple reproducible example so that we can replicate the issue?

[2019-07-16 10:06] lch277 commented on #96
There are two web servers.
`testapp.py`
[code]
`testapp1.py`
[code]
The reproduce steps:
1. run the two servers
2. open the `http://127.0.0.1:8000/` in browser
3. refresh the page. the response is 200 and ok.
4. then stop refreshing, do some other works for seconds
5. switch back and refresh again, the first refresh result is 500 most of the time

This happens, not every time.
The logs again:
[cod

[2019-07-18 13:13] sethmlarson commented on #25
Is this functionality even worth implementing given how all major browsers only implement HTTP/2 over HTTPS? We'll need something like this for QUIC for sure but I'm not sure about HTTP/2.

[2019-07-18 13:21] tomchristie commented on #25
Undecided. I think it's probably helpful for some stuff eg. against a local HTTP/2 server, but I certainly don't think it makes the 1.0 cutoff, and it may well not be worthwhile at all.

On the grounds that I think we should try to keep the scope strictly narrowed in on a viable 1.0 release I'm going to close this off.

[2019-07-18 13:21] #25 closed

[2019-07-18 20:10] sethmlarson opened #127 "Disable TLSv1 and TLSv1.1 by default"
TLSv1.2 was released over 10 years ago and is widely deployed.

Quote from [IETF Draft on Deprecating TLSv1 and TLSv1.1 from 2018](https://tools.ietf.org/id/draft-moriarty-tls-oldversions-diediedie-00.html)

We may be able to tighten up the ciphers we're enabling by default as well as a result of this change.

[2019-07-18 22:30] sethmlarson commented on #119
Can this issue be closed now?

[2019-07-19 07:52] #119 closed

[2019-07-20 05:34] dsvictor94 opened #131 "Allow use the async api without instantiate a client"
Hi!

Would be more intuitive and more symmetric if the asynchronous api were accessible without instantiating the client.

e.g

[code]

Thank you for this wonderful project.

[2019-07-20 06:54] tomchristie commented on #131
Thanks! I don’t think that’s something we’re likely to do. async is useful specifically for making highly concurrent number of requests, in which case you always want to be using a Clients connection pool. (If anything I’d prefer dropping the top level API entirely and always requiring a client instance)

[2019-07-20 06:54] #131 closed

[2019-07-21 02:03] sethmlarson opened #132 "Remove asyncio usage within SSLConfig"
Should have to pass in the backend to call `run_in_threadpool()` to make it agnostic to backend being used.

[2019-07-21 14:38] sethmlarson opened #133 "Implement http+unix dispatcher"
Lots of users for Docker, Sentry, etc use the `http+unix://...` URLs. Might necessitate additional backend interface if we intend this to be first-class support.

[2019-07-22 14:42] tomchristie commented on #132
Alternate. We don't use `run_in_threadpool` in the Config at all, and instead do that within the `Connection`... https://github.com/encode/httpx/blob/edd702955ef670a365122ac96a8cd0064895de7e/httpx/dispatch/connection.py#L69

(We'd want to inspect if the `ssl` property was already set, and only call use a threadpooled call to  `load_ssl_context` if needed.)

[2019-07-23 09:39] #78 closed

[2019-07-23 09:42] tomchristie commented on #96
There's a really useful thing for a contirbutor to help progress here.

* Can someone else reproduce this?
* What's the simplest possible case you can reduce it down too? (Eg. Can you remove FastAPI from the equation, and replicate against either a plain WSGI or ASGI service)

[2019-07-23 09:50] tomchristie opened #137 "Blockers for 1.0 release."
List of things that I currently think are required for a 1.0 release.

We should try to keep this scope as narrow as possible. Anything related to the external API is fair game, plus any critical level implementation issues.

Anything else that doesn't meet those criteria should be regarded as not strictly required for 1.0.

- [ ] Implement parallel requests. (See #52)
- [x] Make `URL` support str

[2019-07-23 09:53] tomchristie commented on #133
Any good reference describing this scheme?

I'd expect that this is more of a good case for us ensuring that the dispatcher interface is sufficiently capable, and sufficiently well documented. If we can allow third party packages to support themore complex use cases, without building them into the core package itself, then I think that'd be a great thing.

[2019-07-23 09:57] tomchristie commented on #34
Actually I don't have any issue with the behavior that our ConnectionPool currently has. (let the connection expire on the server, limit number of connections and close above that limit)

I think we will *likely* want to later round that out with a timeout value too, but it doesn't seem strictly required, and I think we can close this off as "currently out of scope".

[2019-07-23 10:01] #97 closed

[2019-07-23 10:02] #30 closed

[2019-07-23 10:02] tomchristie commented on #30
Resolved.

[2019-07-23 11:27] yeraydiazdiaz commented on #96
I can reproduce it. I've narrowed it down to this "caller" script:

[code]

It is not reproducible against a simple Flask WSGI server:

[code]

The script outputs:

[code]

But it fails with ASGI servers, interestingly it fails for both FastAPI+Uvicorn and Quart+Hypercorn:

[code]

The Quart code:

[code]

For both implementations the script's output is:

[code]

[2019-07-23 11:52] yeraydiazdiaz commented on #96
Relevant snippet from the [h11 docs](https://h11.readthedocs.io/en/latest/api.html#h11.Connection.next_event):

[2019-07-23 12:48] sethmlarson commented on #137
Do we want to make proxy support a part of 1.0?

[2019-07-23 13:55] tomchristie commented on #137
I think we could probably either take it or leave it.

[2019-07-23 14:01] sethmlarson commented on #137
Also I know you've already got mkdocs setup, but what are your thoughts on switching to Sphinx to get code referencing to work? For example currently you can't click on `httpx.Client` and go to where it's documented.

We can pull all the styling from the current docs into a template so the look and feel will be the same.

[2019-07-23 14:05] tomchristie commented on #137
Personally, I'd prefer not too. Or at least not unless we're streamlining a whole bunch of related projects under `python-http`. As long as it's something under `encode` I'd like to see it in-line with how other projects in this org are being managed - that keeps things simple from my POV.

Instead I'd rather get around to adding better interlinking and API docs generation to mkdocs.

[2019-07-23 14:05] tomchristie commented on #137
May well be that my gauge on that evolves as things go, but that'd be where I'm at right now.

[2019-07-23 14:27] tomchristie commented on #96
Okay, so it's related to an issue with keep-alive connections on HTTP/1.1.

I can replicate fine with `uwsgi`, but not `gunicorn`. (Difference being that gunicorn doesn't *itself* support keep-alive, but instead relies on being proxied behing nginx in order to support persistent connections)

[2019-07-23 15:27] didip commented on #96
I believe you can turn on gunicorn keepalive setting with —keepalive N

[2019-07-23 15:27] yeraydiazdiaz commented on #96
Did some more debugging, I'm a bit out of my depth on this lower level details so bear with me 😅

During keep-alive situations the asyncio `StreamReader` and `StreamWriter` objects part of the `HTTP11Connection` are reused. I noticed once the reader reads the first response its [`at_eof`](https://docs.python.org/3/library/asyncio-stream.html#asyncio.StreamReader.at_eof) is returning `True`. When t

[2019-07-23 15:31] sethmlarson commented on #96
Or we need to not feed an empty string into the `h11` state machine. Maybe instead if we an EOF back we don't forward it to `h11`.

[2019-07-23 16:57] yeraydiazdiaz commented on #96
I had a look at the asyncio code looks to me like there's no real way of reusing the reader? 😕

Once the first EOF is read the [protocol's `eof_received` method](https://github.com/python/cpython/blob/v3.7.4/Lib/asyncio/streams.py#L260) [sets the reader's EOF flag](https://github.com/python/cpython/blob/v3.7.4/Lib/asyncio/streams.py#L419-L421) which [prevents further reading from it](https://githu

[2019-07-24 01:05] jtimmins-post20 commented on #33
If this is still important, I'd be interested in doing some research here to determine what exactly `requests` includes, and then possibly implementing proper functionality.

[2019-07-24 01:29] jhtimmins commented on #33
If this is still important, I'd be interested in doing some research here to determine what exactly requests includes, and then possibly implementing proper functionality.

[2019-07-24 02:29] sethmlarson commented on #33
This is definitely important! If you can lend a hand with discovery that'd be great.

[2019-07-24 15:25] StephenBrown2 commented on #137
Re: mkdocs, [pydoc-markdown](https://pypi.org/project/pydoc-markdown/) handles the auto-generation of mkdocs pages from docstrings. It's not quite as smart as Sphinx in that it doesn't do cross-references well yet, though that's apparently planned for 3.x. I'd love to see it or mkdocs gain support for that.

[2019-07-24 15:28] #113 closed

[2019-07-24 19:25] StephenBrown2 opened #140 "How best to implement a Logging Adapter?"
I see that adapters were [added](https://github.com/encode/httpx/pull/23), [debated](https://github.com/encode/httpx/issues/48), and then [removed](https://github.com/encode/httpx/pull/55) for simplicities sake, but I'd like to set up a logging adapter like is possible by [subclassing `requests.adapters.HTTPAdapter`](https://2.python-requests.org/en/master/user/advanced/#transport-adapters) like s

[2019-07-24 19:39] tomchristie commented on #140
The Dispatcher interface is a very close equivalent to the Adapter interface.

You could achieve the same usage you’ve given an example of by subclassing the default Dispatch implementation (ConnectionPool), and passing it to the client with dispatch=.

That’d be equivalent to how this example subclasses HTTPAdapter, and uses mount to add it to the client.

[2019-07-24 21:31] pgjones commented on #96
When I run this against the latest Hypercorn using @yeraydiazdiaz example it works, with this output,
[code]
crucially though I changed the time between the requests to **2 seconds** as the hypercorn keep alive timeout default is **5 seconds**. I think this is why it failed for Hypercorn and Uvicorn as both have a 5 second keep alive timeout.

This is what Hypercorn receives (`>`) and sends (`<`),

[2019-07-24 22:53] StephenBrown2 commented on #140
Excellent. I'll give that a shot tomorrow. Thanks!

[2019-07-25 08:37] RRMoelker opened #141 "Add request and response properties to Exceptions"
In order to gracefully handle different HttpErrors I would like to know the url and status code of the offending call. Currently I'm wrapping the httpx `raise_for_status` code so this is added. However I think this would be a good addition to the core HttpError exception.

So an HttpError would consist of:
* message
* status code
* url

A drawback is that these additional properties may grow unwie

[2019-07-25 08:37] tomchristie opened #142 "URL.join behaviour is incorrect."
Our `URL.join` behavior currently isn't as expected. It should be in line with rfc3986#section-5.2, and Python's existing `urljoin`.

It ain't...

[code]

[2019-07-25 08:48] tomchristie commented on #141
One of the intents of `httpx` is to provide a broadly requests-compatible API - so looking towards what requests provides on exceptions is a good first pass here.

Sensible their base exceptions allow for `request` and `response` arguments, which is pretty much what we should do too.

`request` and `response` would presumably be sufficient here - since we can access `url`, `status_code` or whateve

[2019-07-25 08:54] RRMoelker commented on #141
Agreed... Much cleaner solution.

For reference:
* https://2.python-requests.org/en/master/_modules/requests/exceptions/
* https://2.python-requests.org/projects/3/user/quickstart/#errors-and-exceptions

[2019-07-25 10:24] yeraydiazdiaz commented on #96
Right, so if understand correctly, the issue is handling the server closing keep-alive connections after a timeout.

My initial approach would be to have httpx handle the exception, reestablish the connection and retry, I'll see if I can put together a PR for this.

Thanks for looking into it @pgjones  🌟

[2019-07-25 11:43] tomchristie commented on #96
So the thing that's not clear to me on first sight, is why the disconnect isn't being caught at the point we start writing the next response... https://github.com/encode/httpx/blob/master/httpx/dispatch/http11.py#L50

We've got the logic there to handle the disconnect case, and we're writing to the network and calling drain.

That *actually* needs to be the point at which we figure out if we're st

[2019-07-25 11:50] sethmlarson commented on #96
urllib3 has a [`is_connection_dropped()`](https://github.com/urllib3/urllib3/blob/master/src/urllib3/util/connection.py#L7) function that doesn't tell the whole story. Have to look at httplib as well.

[2019-07-25 12:11] tomchristie commented on #96
Okay, so I think the right approach would be for us to have an equivelent `is_connection_dropped` on the `Reader` class in https://github.com/encode/httpx/blob/master/httpx/concurrency.py replacing the existing logic of "suck it and see".

Does that make sense to you too, @yeraydiazdiaz? #143 is a great start - nice test case for the issue that can still be used here.

(Actually I think we'll also

[2019-07-25 12:47] sethmlarson commented on #142
Thoughts on using the built-in `urljoin` function (this is what urllib3 does)? Otherwise we could use [`rfc3986.URIReference.resolve_with()`](https://github.com/python-hyper/rfc3986/blob/master/src/rfc3986/_mixin.py#L231) as well.

[2019-07-25 13:06] tomchristie commented on #142
Strongly prefer using `resolve_with()` which is what the intent already is: https://github.com/encode/httpx/blob/master/httpx/models.py#L201

Evidently not quite right tho.

[2019-07-25 17:43] tomchristie commented on #133
Let's treat this as out-of-scope at this point in time.

[2019-07-25 17:43] #133 closed

[2019-07-25 21:25] tomchristie opened #146 "Handle 408-response connection closes."
PR #145 ensures that we're checking for disconnections when we reacquire connections, by using the `StreamReader.at_eof` interface.

However @njsmith points out, that's not always quite sufficient. https://github.com/encode/httpx/pull/143#issuecomment-515202982

Either of those would be do-able.

How common is 408 usage in the wild - are there example URLs we can confirm against?

Also worth notin

[2019-07-25 21:31] tomchristie opened #147 "Drop `Origin` class."
We currently have an `Origin` class that we use for eg. being able to lookup connections-by-origin from the connection pool. (With hostname and scheme normalization.)

We don't *really* need to do this. There's no reason we can't just use the existing `URL` model for this purpose, and only use URLs that just include the host/scheme portions.

* Change the `URL.origin` property to instead return a

[2019-07-25 21:48] sethmlarson commented on #147
Aren't URLs and URL origins logically different things though? I'm having trouble seeing the positive vs. negative of this change.

[2019-07-25 21:54] tomchristie commented on #96
Closed via #145
Released to PyPI as 0.6.8

[2019-07-25 21:58] sethmlarson opened #148 "Start capturing version information in a changelog"
Should we use towncrier? A simple changelog?

We should probably capture old changes in our changelog as well so that historical information isn't lost.

[2019-07-25 22:01] #142 closed

[2019-07-25 22:06] StephenBrown2 opened #149 "Set Headers like Cookies in Client session for all requests"
Assuming one can use `Client`/`AsyncClient` as a drop-in replacement for `requests.Session`, I would like to be able to set headers (and cookies) to be sent for each request, for example for token-based authentication.

With `requests`, I can do:
[code]

`cookies` can already be set on the `httpx.Client`. I would like to be able to also do that with `headers`:
[code]

[2019-07-25 22:10] tomchristie commented on #148
Don't know what tooling if any we'd want, but certainly yup.
Personally I'm probably okay with us only starting to do so from some beta-release point onwards, but also happy if there's some good suggestions for us to just start with now.

[2019-07-25 22:12] tomchristie commented on #149
Indeed, yup! 👍
We've got a `.cookies` interface on there already, but we don't yet have a `.headers` interface.

[2019-07-25 23:05] sethmlarson commented on #148
I've always wanted to use towncrier but it's a big burden to start using within a mature project. I can leave this open until you have more time to research the tool?

[2019-07-26 04:47] sethmlarson opened #150 "Use IDNA 2008 instead of IDNA 2003"
Using `str.encode("idna")` uses IDNA 2003 which isn't recommended for modern use. We should be using IDNA 2008 provided by the `idna` module (which is a dependency of `httpx` but I don't think we're using it anywhere?)

[2019-07-26 14:19] StephenBrown2 commented on #149
So there is a `cookies=` option! I missed it because I was searching so hard for `headers`. I'll update the OP.

[2019-07-26 21:26] StephenBrown2 opened #152 "Ignore `None` Headers"
I wanted to set an optional Header, so sometimes the value is `None`. What I expected was for the header to be omitted from the list when the value is `None`. Instead, I got:
[code]
`if v is not None` could be added [here](https://github.com/encode/httpx/blob/master/httpx/models.py#L325) and [here](https://github.com/encode/httpx/blob/master/httpx/models.py#L330) to filter the headers on instantia

[2019-07-26 21:56] sethmlarson commented on #152
What is the use-case for this that can't be accomplished via `headers.pop("name", None)` to remove headers if they exist?

Do any other HTTP libraries have this behavior? urllib3 I know doesn't.

[2019-07-26 23:57] StephenBrown2 commented on #152
I suppose I could filter the dict before passing it to Headers, but my use was like:
[code]
Instead I _could_ do:
[code]

but that doesn't seem as clean to me. I hadn't seen it elsewhere, it was just surprising behavior when I tried it.

[2019-07-27 00:07] StephenBrown2 opened #154 "Change QueryParams(key=None) to not emit a parameter"
This one I know is [`requests` behaviour](https://github.com/psf/requests/blob/9a2e5df000691ad28613524ca7f80aa28a94a8d5/requests/models.py#L101):

Take a dict:
[code]
Expected:
[code]
Adding `if v is not None` [here](https://github.com/encode/httpx/blob/master/httpx/models.py#L263-L264) will do it.

[2019-07-27 02:15] halbow commented on #127
I can take a look at this !

[2019-07-27 03:29] sethmlarson commented on #127
Great! Reach out if you need any help or have questions. :)

[2019-07-27 03:33] sethmlarson commented on #154
So there's an issue on the requests tracker where there's no interface for setting query parameters without a value. Cuz you can do `{"q": ""}` -> `q=` but there's no way to get just `q` followed by the next parameter. Requests can't make the change for None to be the interface for that behavior because it'd be a breaking change. Maybe we should look through that thread first before inheriting tha

[2019-07-27 03:37] sethmlarson commented on #154
Found the issue: https://github.com/psf/requests/issues/2651

[2019-07-27 04:25] halbow commented on #117
I can take a look at this !

[2019-07-27 05:03] #127 closed

[2019-07-27 05:42] halbow commented on #141
I'd like to take a look on this if @RRMoelker is not already implementing a solution !

[2019-07-27 08:06] RRMoelker commented on #141
Not working on a solution @halbow. So please

[2019-07-27 19:08] cansarigol opened #158 "use uvloop as event loop provider."
Should we use uvloop as event loop provider? I couldn't find any discussion about this and I'm wondering that what you are thinking of using uvloop?

[2019-07-27 19:52] StephenBrown2 commented on #154
Rats, I was relying on that behavior as well to remove a param that breaks the API I'm calling if it's provided but not in the right format, but I haven't tried it as a valueless param. I'll have to see if it breaks as a valueless param `?key=` on Monday.

[2019-07-27 21:11] StephenBrown2 commented on #117
This has been added in https://github.com/encode/httpx/pull/156

[2019-07-28 08:32] yeraydiazdiaz commented on #158
I believe the point is for the user choose their concurrency framework and have `httpx` adapt to it, which would extend to the choice of event loop implementation.

[2019-07-28 11:33] cansarigol commented on #158
you're right but event loop of `asyncio` is already used in project hence I thought that we can use `uvloop` and nothing changes, just increases the performance.

From doc:
"uvloop implements the asyncio.AbstractEventLoop interface which means that it provides a drop-in replacement of the asyncio event loop."

[2019-07-28 11:39] yeraydiazdiaz commented on #158
Sure, I'm just saying that we should not *impose* `uvloop` on the user by making it a requirement of `httpx`.

If they can't or won't use `uvloop` they should be free to do so, in the same way that if they choose to use trio instead of asyncio.

Of course this is just my opinion 🙂

[2019-07-28 11:40] yeraydiazdiaz commented on #158
Unless I'm misunderstaning and you mean using `uvloop` in development?

[2019-07-28 11:50] cansarigol commented on #158
I mean using in production.

[2019-07-28 11:55] cansarigol commented on #158
if using uvloop makes sense, maybe we can add "use uvloop" feature with a parameter and document it?

[2019-07-28 12:09] tomchristie commented on #158
This shouldn’t really be in-scope for httpx. Switching to uvloop might be a reasonable thing to do in certain very high throughput scenarios, but there’s no need for us to couple this package to uvloop. Users can just set the event loop policy explicitly if that’s what they need.

In a typical case, you’ll often be running within the context of a web server, such as uvicorn, which is a more approp

[2019-07-28 12:09] #158 closed

[2019-07-28 12:13] cansarigol commented on #158
Ok thanks, I got the logic.

[2019-07-28 16:42] sethmlarson commented on #117
Yep! Closing this issue. Thanks @StephenBrown2

[2019-07-28 16:42] #117 closed

[2019-07-28 18:25] nsidnev opened #164 "non-ASCII characters filename in multipart/form-data"
I tried to send a file with russian letters in the file name, and `httpx` escaped all non-ASCII characters (as I understood it the way specified in [RFC 7578](https://tools.ietf.org/html/rfc7578)). But this is different from `requests` [behavior](https://github.com/psf/requests/blob/589a82256759018a7e5e289302898dae32544949/requests/models.py#L110), where the file name is simply written as is (usin

[2019-07-28 19:04] halbow commented on #122
I could take a look at this with ! :) I'll probably start with Client.request and AsynClient.request, do you have an idea/thoughts on the implementation ? (I was thinking that a decorator checking func.__annotations__ could maybe do the trick)

[2019-07-28 21:04] sethmlarson commented on #164
We should follow the HTML5 spec here for sure and not quote the characters.

Are you comfortable making a PR to fix this behavior? Look at urllib3 for an example. :)

[2019-07-28 21:13] sethmlarson commented on #122
Yeah start with a small example that Tom and I can take a look at for implementation review before we start applying it to all our interfaces. Are there any examples of this in another library?

[2019-07-28 21:32] nsidnev commented on #164
Yes, I can take it. Thanks.

[2019-07-28 21:45] sethmlarson commented on #140
This issue is no longer needed it seems? Reopen if I'm wrong here :)

[2019-07-28 21:45] #140 closed

[2019-07-28 21:50] sethmlarson opened #165 "Origin should be (scheme, host, port) not (is_ssl, host, port)"
Example: `http+unix//localhost` and `http://localhost` would currently have the same origin despite being a different scheme. Change this by using URL.scheme instead of is_ssl.

[2019-07-28 21:51] sethmlarson commented on #147
Going to close this in favor of #165

[2019-07-28 21:51] #147 closed

[2019-07-28 21:55] StephenBrown2 commented on #140
Yup, the custom Dispatcher worked for me, was going to update on Monday once I had a bit more testing done. Good to close :+1:

[2019-07-28 22:05] VeNoMouS opened #166 "How to configure TLS beyond client certificate and CA root certs?"
Typically in requests you can use a __HTTPAdapter__ to hijack and set the SSL context and define what ciphers to use, how does one go about doing the same in __httpx__?

[2019-07-29 01:08] sethmlarson commented on #166
I was thinking about this, maybe we need to either provide a better interface or a recipe for how to do this. There are plenty of valid use-cases for configuring beyond our defaults and we should expose that in the way that forces us to do the least work possible.

[2019-07-29 01:10] sethmlarson commented on #166
My proposed solution was the allow passing an `ssl.SSLContext` into `verify=...`. It would get transformed into an `SSLConfig` object and then still call `load_client_cert()` if `cert=...` is called with it?

[2019-07-29 01:15] sethmlarson commented on #152
What about?

[code]

?

[2019-07-29 01:16] StephenBrown2 commented on #165
It's an easy change, but what about [this](https://github.com/encode/httpx/blob/master/httpx/dispatch/connection.py#L69)?

Could potentially just add `.scheme` and keep `.is_ssl` around as well:

[code]

[2019-07-29 01:26] StephenBrown2 commented on #152
Yeah, there are several ways to do it. I'd probably make a utils function for myself [like](https://stackoverflow.com/a/54817412):

[code]

and then:

[code]

[2019-07-29 01:39] #149 closed

[2019-07-29 01:42] sethmlarson commented on #152
So I'll close this issue, I think we'll require values within the `headers` parameter.

[2019-07-29 01:42] #152 closed

[2019-07-29 01:43] sethmlarson commented on #165
Yeah we can keep the `is_ssl` parameter on the `Origin` class. Did you want to turn that mockup into a PR? :D

[2019-07-29 02:10] StephenBrown2 commented on #165
I was planning on it! :-)

[2019-07-29 02:43] #165 closed

[2019-07-29 03:10] StephenBrown2 commented on #152
Fair enough

[2019-07-29 03:16] #164 closed

[2019-07-29 05:10] VeNoMouS commented on #166
I think your biggest hurdle doing that is around here https://github.com/encode/httpx/blob/master/httpx/dispatch/connection.py#L64-L78 due to your logic and how the logic in config is constructed

[2019-07-29 05:15] VeNoMouS commented on #166
Is there anyway to access HTTPConnection i mean you could populate __HTTPConnection.ssl.ssl_context__ with a context

[2019-07-29 05:16] VeNoMouS commented on #166
But that creates issues in https://github.com/encode/httpx/blob/master/httpx/config.py#L68-L105 where it just blindly creates a new context

[2019-07-29 09:35] tomchristie commented on #166
Yeah either overloading `verify=...`, or else adding a new `ssl=...` argument.

I think I probably quite like your suggestion here @sethmlarson.

[2019-07-29 09:39] tomchristie commented on #122
Indeed - I reckon a `@typechecked` decoartor approach is worth trying out here.
We can keep it faily limited - it only needs to deal with the cases that we want to use it with.

Wrt. implementation I'd suggest starting out by only handling checking of actual types, and treating any `typing.Union`/`typing.Optional`/`typing.Dict` cases all as `Any`.

Once you've got it working with basic types you c

[2019-07-29 09:50] tomchristie commented on #154
I think the desired behavior somewhat depends on how strict we want to be about types here, and if we're allowing type coercing of *other* non-str types.

I think either of the two following options are reasonable choices:

* Strictly type check, and *only* allow `str` types. Anything else raises a type error.
* Allow primitive types only - `str`, `int`, `float`, `Decimal`, `bool`, `None`, with `N

[2019-07-29 13:30] StephenBrown2 commented on #154
I'm using Pydantic to roundtrip my params and standardize on values with custom validators/parsers: https://pydantic-docs.helpmanual.io/#json-serialisation
so I'm sure some inspiration could be taken from that.

I would not be opposed to the latter, especially since query params can imitate form data, they should also allow lists, and explode them since QueryParams is already a multi-dict. This ho

[2019-07-29 15:34] yeraydiazdiaz opened #173 "H2 StreamClosed error while requesting duckduckgo.com"
Running the following script on the current `master`:

[code]

Errors with the following traceback:

[code]

Anyone else getting this error?

[2019-07-29 23:14] VeNoMouS commented on #166
I like the `ssl` argument suggestion personally, I am really excited for this project :) and thanks for taking the time to look into this

[2019-07-29 23:46] sethmlarson opened #174 "Create a Client.build_request() method"
See: https://github.com/encode/httpx/issues#issuecomment-515950955

[2019-07-29 23:51] sethmlarson commented on #154
Since I'm no longer on mobile and can type symbols easily I'm proposing:

- `{"q": "1"}` -> `?q=1`
- `{"q": ""}` -> `?q=`
- `{"q": None}` -> `?q`

There are also instances where the order matters for the parameters, so maybe we need to allow `typing.Iterable[typing.Tuple[typing.AnyStr, typing.AnyStr]]` in addition to dict?

[2019-07-30 00:09] sethmlarson commented on #173
I can reproduce that error. We need to think about integrating debug logging into some of our classes otherwise it's impossible to figure out what's wrong as a user.

[2019-07-30 00:49] sethmlarson commented on #173
(Even with debug logging it isn't obvious what the issue is here, you get a big blob back and then h2 complains about the stream being closed)

[2019-07-30 00:51] sethmlarson commented on #173
So, it looks like DuckDuckGo's HTTP/2 implementation is sending a Window Update frame on stream 1 after itself closes stream 1 and so H2 is freaking out over it.  This is the order h2 is seeing the events after a request is sent:

[code]

I don't know if this is wrong or not, seems strange to me. cc @pgjones

[2019-07-30 02:42] sethmlarson commented on #124
Relevant discussion: https://github.com/python-http/discussions/issues/4

[2019-07-30 03:09] njsmith commented on #173
I don't know anything about this, I think you'd have to read the RFC or ask @lukasa...

[2019-07-30 06:34] Lukasa commented on #173
This isn’t technically wrong, but h2 doesn’t love it. Of course, depending on the timings that END_STREAM frame may have been in flight when DDG generated the WINDOW_UPDATE. We should probably patch h2 to be more tolerant in this case.

[2019-07-30 06:51] VeNoMouS commented on #174
@sethmlarson bad reference link

[2019-07-30 13:54] cansarigol commented on #33
Hi, I tried to include netrc support. #177 what do you think about this approach?

[2019-07-30 22:02] sethmlarson commented on #173
I've opened up https://github.com/python-hyper/hyper-h2/issues/1196 related to this issue.

[2019-07-30 23:27] #154 closed

[2019-07-31 00:17] sethmlarson commented on #108
Per #134 we're going to hold off on implementing this feature.

[2019-07-31 00:17] #108 closed

[2019-07-31 08:23] vmagamedov commented on #173
This is already fixed in h2, waiting for a new release.

[2019-07-31 10:37] bennovakovic opened #179 "Use the existing runloop for sync calls in async handler"
Hi, this library looks awesome and I really want to use it; but I seem to have hit a blocker and can't seem to find a solution in the docs.

TL;DR: Is there any way to provide our own runloop when using the `sync` calls as looking through the source the sync calls are actually using the async request call.

Basically I'm writing a client api that provides 2 interfaces; an async and sync interface.

[2019-07-31 10:45] bennovakovic commented on #179
FWIW; I tried the following in a vein hope that it would do what I wanted:
[code]

But alas, no success.. this the end of the stacktrace.

[code]

[2019-07-31 10:52] bennovakovic commented on #179
In the meantime; I'll just use `requests` for the sync stuff, it feels odd passing in a runloop when I'm doing `sync` calls; purely because internally you're using async under the hood even for sync requests, or am I mistaken? https://github.com/encode/httpx/blob/66754ad0c58d61d34489294530351aa4b17e217f/httpx/client.py#L625

[2019-07-31 11:04] cansarigol commented on #179
Hi to use backend parameter, it has to be derived by ConcurrencyBackend.

[2019-07-31 11:05] bennovakovic commented on #179
Yeah, I figured that after I got the exception. I figured it would handle a standard runloop.

[2019-07-31 11:06] cansarigol commented on #179
you can check sample class from https://github.com/encode/httpx/blob/66754ad0c58d61d34489294530351aa4b17e217f/tests/dispatch/utils.py#L19

[2019-07-31 11:07] bennovakovic commented on #179
Yeah, unfortunately I can't modify my existing runloop to meet the requirements of the `backend` parameter; it is given to me by sanic directly.

[2019-07-31 11:12] cansarigol commented on #179
Maybe `runloop` would be added with a `loop` params rather `backend`. I'd want to :)

[2019-07-31 11:13] yeraydiazdiaz commented on #179
There is no API to provide the event loop yourself, however there is a [`loop` property in the `AsyncioConcurrencyBackend`](https://github.com/encode/httpx/blob/master/httpx/concurrency.py#L190-L197) that checks an existing private `_loop` instance variable you can potentially set to the Sanic event loop.

We should consider adding this as a feature though.

[2019-07-31 11:20] yeraydiazdiaz commented on #179
I'm not sure about the context you're working with but there's some subtleties around using a the sync API in an async application.

The sync API internally uses the loop's `run_in_executor` which will create a `ThreadPoolExecutor` and run your request there which might hinder performance or just be unnecessary. If possible I'd suggest stayin in async land and use the AsyncClient, but, again, it d

[2019-07-31 13:41] #150 closed

[2019-07-31 14:00] tomchristie commented on #179
Okay, that's a problematic thing to be doing.

If you're running in the context of an event loop, but then making *blocking* style network calls you're going to block the event loop. You *don't* want to be doing that.

We've got a relevant issue here about *how* we describe that most clearly in any raised exception, but it's a fundamental property of the differing concurrency model, rather than a

[2019-07-31 14:02] tomchristie commented on #179
I'd also echo what @yeraydiazdiaz's comment: if you're running in an async context, then you *need* to be using the async client.

(Tho it might be useful to understand why you're not doing that, in order to provide better support for other users who try the same thing)

[2019-07-31 14:11] tomchristie opened #180 "Perform HSTS in the Client, not the URL."
I think it'd probably be a good idea for HSTS enforcement to be at the `Client` layer, rather than the `URL` model layer.

Not super keen on instantiating a `URL`, and having it end up with a different scheme, but I *am* okay with `client.request` dealing with it.

[2019-07-31 17:43] sethmlarson commented on #173
Awesome! @yeraydiazdiaz wanna try installing h2 from master and see if it resolves the issue?

[2019-07-31 18:12] sethmlarson commented on #173
Verified that the latest master for h2 fixes this issue.

[2019-07-31 20:24] RatanShreshtha opened #181 "Add a contributing page for httpx"

[2019-07-31 22:52] bennovakovic commented on #179
@yeraydiazdiaz Yeah I figured; I was just trying to make the api client library idiot proof; and also give them the option to use a sync client even in an async application (for whatever reason that might be). I totally agree; staying in async land is definitely where I want to be too; but I can't assume that everyone is in async land; in fact my experience is that most aren't in the python world,

[2019-07-31 22:56] bennovakovic commented on #179
@tomchristie yeah I completely agree & understand; it was more a question of is it possible rather than what am I doing wrong. I understand how its working; but was seeing if the library could behave the way I was hoping based on the way I'm building out the api client library. No big deal though; I can just revert to the `requests` library for the sync client, and `httpx` for the async.
FWIW; thi

[2019-08-01 00:23] sethmlarson commented on #181
Would be great to have a page about how to setup a development environment, using nox (once it's merged), etc.

[2019-08-01 08:11] tomchristie commented on #179
That's not really the right resolution here.

httpx provides a sync client, for sync usage, and an async client, for async usage, so you *have* both cases covered.

The error you're seeing only occurs when you try to *call into the sync interface from within an async context* which a broken thing to do for your users, *regardless* of if that's implemented in `requests`, `httpx` or whatever. (*)

T

[2019-08-01 08:14] tomchristie commented on #179
I guess this is the core bit. Making the library robust here *ought* to mean raising a nice clean, explanatory error when it's used in a broken way, rather than allowing that to pass silently.

[2019-08-01 08:35] tomchristie opened #185 "Support `.trust_env` attribute on the client instance."
We should add a `trust_env` attribute and `__init__` keyword argument to `BaseClient`.
This should be used as the default if `trust_env` is not explicitly specified on the request.

The default value for `trust_env` on the per-method calls should then switch to `None`, so that we can distinguish it from "explicitly True" and "explicitly False".

This'd be a nice enhancement on top of #177.

[2019-08-01 08:44] tomchristie opened #186 "Try both `~/.netrc` and `~/_netrc` files"
Windows uses "_netrc" rather than ".netrc".
Our implementation should simply try both.

We might want something like this...

[code]

As part of this change we probably also want to make sure that any netrc file permission error or parse error simply results in netrc permissions not being used, rather than hard erroring.

Related to #177

[2019-08-01 09:26] #180 closed

[2019-08-01 20:14] pquentin commented on #179
Exactly! Trying to make an API both sync and async is an attractive nuisance. It does not even help end users who write applications.

On a related note, here's one way for httpx to avoid using asyncio and its event loop (and avoid this error):

 1. Support alternate concurrency backends (as planned in #120)
 2. Support a synchronous backend that uses standard blocking sockets
 3. Use this [trivia

[2019-08-02 13:11] pgjones commented on #173
I've released h2 3.1.1, hopefully this is all good now.

[2019-08-02 13:19] sethmlarson commented on #173
Verified that this is working in h2==3.1.1. Thanks to the Hyper team and @pgjones! :heart:

[2019-08-02 13:19] #173 closed

[2019-08-03 14:23] humrochagf commented on #181
Hi,

I started the creation of the contributing page with the #190 PR

I'll need some help with the commands that you are currently using for code coverage and linting so I can add them into the dox automation.

I also need some help with another contributing info like if this project follows any Code of Conduct.

[2019-08-03 14:48] kde713 opened #191 "Test case `test_write_timeout` fails"
### Summary

- Test case `test_write_timeout` fails on my environment
  + case did not raised `WriteTimeout` Exception

### Tested Environment

[code]

[code]

### Logs

[code]

[2019-08-03 20:41] humrochagf commented on #181
Oh right, I parsed the commands into the scripts folder to nox command.

Notice that I didn't parse the commands that make changes at the files like `autoflake` and `black`. I don't think it can be a default behavior during the testing round. Maybe we can add them as a format step that can be called by `nox format` or something like that.

Also, notice that the current code only gets 100% coverage

[2019-08-04 13:13] sethmlarson commented on #191
Hmmm, might have something to do with your system being Windows since we only test on Linux. I'm in the middle of a move atm so my windows machine is packed away but if anyone else has a machine they could try to reproduce this issue and potentially fix it!

[2019-08-05 18:15] GnubiBORED opened #192 "Document protocol versions and negotiation mechanism"
I need to make a http2 get requests, i tried with hyper but having issues with headers my question is if i can make these same requests with httpx
https://github.com/python-hyper/hyper/issues/416
I dont see in documentation anything about requests compatibility or about using http2 when doing the requests

also it has proxy support?

[2019-08-05 23:57] GnubiBORED commented on #36
is http/s proxy support for httpx currently?

[2019-08-06 00:39] sethmlarson commented on #36
Not currently, we would happily accept a PR from anyone willing to tackle even one of the above proxy scenarios. :)

[2019-08-06 07:51] andrewmwhite opened #193 "Missing py.typed declaration?"
`mypy` is complaining about not being able to find type annotations for `httpx`:

`error: Cannot find module named 'httpx'`

I'm somewhat new to using type annotations/static type checking in Python, but from the mypy documentation [here](https://mypy.readthedocs.io/en/latest/installed_packages.html#making-pep-561-compatible-packages) it looks like there may be a missing declaration in `setup.py`?

[2019-08-06 08:25] tomchristie commented on #191
I’m probably the best person to take this on, since I think there’s some tweaks needed here that never quite made it in when I was working on it.

The behaviour that we need is a bit involved:

* Initially, only the write timeout should be enforced (but both reading and writing should be attempted, concurrently)
* As soon as we start reading bytes, or once we’ve finished sending the request only r

[2019-08-06 13:15] sethmlarson commented on #192
Currently httpx supports HTTP/2 via ALPN (meaning HTTPS-only) and does so automatically (We negotiate which protocol version to use before issuing requests).

We could add a section in the documentation about which protocols we support and via what mechanism they are negotiated.

Proxy support is planned, see #163

[2019-08-06 13:16] sethmlarson commented on #193
Hmmm, we definitely want our type annotations to be discoverable by mypy. Do you think that this is something you'd be able to tackle? :)

[2019-08-06 13:20] #141 closed

[2019-08-06 15:23] humrochagf commented on #181
Looking through the open PRs I noticed that @sethmlarson implemented the nox pipeline at the PR #128, so since I was kind of reimplementing part of it at #190 I'll wait #128 get merged to organize the contributing page based on #128 implementation.

[2019-08-06 15:46] sethmlarson commented on #181
Yup, you can revert your changes for adding nox / flake8 / etc for this PR and suggest changes on the other PR if you think that PR needs updating. Thanks for this! :)

[2019-08-06 16:22] ChristopherMillones commented on #193
Did you properly install the module via pip?
I had an issue occurring where I installed a module via pip but my Python wasn't in my
environment variables. Preventing my IDE from locating the installed module.

Hope this helps or makes sense :)

[2019-08-06 16:38] sethmlarson commented on #193
It looks like we need a single `py.typed` file within our package to get mypy to recognize inline types? Am I reading that right?

[2019-08-06 17:02] andrewmwhite commented on #193
Basically -- that marker file plus a package_data entry seems to have done the trick.

[2019-08-06 21:27] humrochagf commented on #181
Great! I reverted the changes and made the suggestions on the PR :smiley:

[2019-08-06 21:53] sethmlarson commented on #181
Thanks @humrochagf! I've merged your PR, if anyone wants to add additional helpful information they can open a separate PR. Closing this one!

[2019-08-06 21:53] #181 closed

[2019-08-06 22:12] sethmlarson commented on #186
This issue has been fixed

[2019-08-06 22:12] #186 closed

[2019-08-07 19:23] rinti opened #195 "Fallback when faulty Content-Encoding header is set?"
Hi!

I am trying to use httpx to talk with an API that sends this header:
`Content-Encoding: UTF-8`
which obviously is an invalid header, this however prevents me from getting a response as I get this error:
[code]

If i try using requests instead it works. I'd be happy to try to help if I get a little guidance on what would be a sensible fallback here.

[2019-08-09 02:34] sethmlarson commented on #195
Closed via #196

[2019-08-09 02:34] #195 closed

[2019-08-13 02:01] sethmlarson opened #198 "Erroneous Infinite Redirect Loop detected"
Our redirect loop detection or redirects in general is broken somehow because this shouldn't error out:

[code]

[2019-08-13 11:44] #198 closed

[2019-08-13 17:44] sethmlarson opened #201 "Implement HTTP Tunnel Proxy"
Related: #36

[2019-08-13 17:45] sethmlarson opened #202 "Implement HTTP Forwarding Proxy"
Related: #36

[2019-08-13 17:45] sethmlarson opened #203 "Implement SOCKS v4, v5 Proxy"
Related: #36

[2019-08-13 21:34] euri10 opened #205 "Response missing `link` property for Requests compatibility"
in requests you get that very useful goodie

https://github.com/psf/requests/blob/bedd9284c9646e50c10b3defdf519d4ba479e2c7/requests/models.py#L899-L915

that gives you parsed headers links

https://2.python-requests.org/en/master/user/advanced/#id14

I could not find it in httpx, but maybe I overlooked something

happy to send a PR copy-pasting what requests does if it's not available!

[2019-08-13 22:32] sethmlarson commented on #205
This is definitely something that can be added, are there any other properties on the requests Response class that we're missing?
Instead of copy-pasting from Requests let's re-implement to suit our code. :)

[2019-08-14 00:56] jlaine commented on #192
Looking a bit further into the future how do we plan to support HTTP/3? Unlike HTTP/2, support can only be determined after a first request completes, if the Alt-Svc header is present.

https://http3-explained.haxx.se/en/h3-altsvc.html

curl has flags which allow you to force the http version, do we want something similar?

[2019-08-14 02:47] sethmlarson opened #207 "Improve README with the differentiators from other HTTP clients"
See: https://twitter.com/cooperlees/status/1161466340286185472

We're doing awesome things, we should make sure users know why they should use our library. :)

[2019-08-14 04:12] sethmlarson commented on #192
Yep, it's a completely different deal. I've got a couple thoughts on how we can support H3:

- Make it a Dispatcher, probably the easiest but the least integrated. It could be bundled with httpx or a separate library.
- Integrate directly with httpx, maybe controllable on the client (allow_http3?) and then we have a client session data storage mechanism. Could be used for alt-svc, cookies, hsts th

[2019-08-14 07:48] behrtam commented on #205
But does "A requests-compatible API." mean full 100% drop-in compatible?

A simple diff looks like this:
[code]

[2019-08-14 11:06] sethmlarson commented on #205
I don't think that's @tomchristie's intent to be 100% compatible. Maybe I'll let him decide whether we want this feature.

[2019-08-14 11:20] behrtam commented on #205
Interesting question what the right balance might be ... is `is_redirect` already too much or should even `is_permanent_redirect` be there. So let's see.

[2019-08-14 20:10] fbidu commented on #207
Do you think it would be better to provide something like a comparison table or some code samples right on the readme comparing the alternatives?

[2019-08-14 20:35] florimondmanca opened #212 "Large ".pack" file in repo causes very long clone time"
Hey,

While cloning the repo locally (over SSH) I noticed an unusually long clone time (~5min, 25MB). I tracked this down to this file stored in the git history:

[code]

I suppose this may be from a previously large object stored in the repo, but not sure. Any idea?

This is not critical at all — just reporting because it could be a bit cumbersome for newcomers. :-)

[2019-08-15 02:27] sethmlarson commented on #212
Hm, that's interesting. Is there anything we can do about that or is it kinda just there forever unless we change our git history?

[2019-08-15 02:28] sethmlarson commented on #207
Would be nice to answer the question "Why HTTPX versus A, B, or C?" better in the README. Even if it's just a small section.

[2019-08-15 02:56] #24 closed

[2019-08-15 03:30] #166 closed

[2019-08-15 08:27] florimondmanca commented on #120
Regarding whether alternative loops/IO libraries should be in the core package, I think it makes sense in terms of relying on the community to support their own needs.

One thing I think would be great though, is for httpx to provide a core test suite that alternatives could run their backend against. Don’t know exactly how that would materialize, but it would definitely allow to make sure that ba

[2019-08-15 08:30] florimondmanca commented on #212
My guess is that it’s somewhere in the git history, but finding which commit(s) made it appear doesn’t seem trivial to me. I may try and bisect my way through the repo and report back here. 👍

[2019-08-15 13:24] behrtam commented on #212
Seems to be about images in `/docs`...

[code]

https://stackoverflow.com/questions/2100907/how-to-remove-delete-a-large-file-from-commit-history-in-git-repository

[2019-08-15 15:41] tomchristie commented on #205
Yeah, so the intent will be "broadly API compatible". Ie. we've got a small enough set of API differences that we can have a section that thoroughly documents where we differ from any existing `requests` API that's detailed in either of their "Getting Started" or "Advanced Usage" docs.

On a quick pass over:

* `.iterate_content`, `.iterate_lines` probably won't make the cut - since we'll want end

[2019-08-15 15:51] tomchristie commented on #192
Yup, we'd want to go down this route.

On a first pass we probably wouldn't bother storing info about "is an HTTP/3 service available for this host", but instead just rely on "Is there an existing H3 connection, or an existing upgradable H1/2 connection"? Our standard connection keep-alive policy would be enough to make sure that users would end up on HTTP/3 services where available.

Yes - we'll

[2019-08-15 15:53] tomchristie commented on #201
Indeed. Any good resources worth linking to that explain the various HTTP proxying styles #201, #202, #203 simply and concisely?

[2019-08-15 16:44] sethmlarson commented on #192
Do we really want it for the top level API? I'm talking about the `httpx.request()` APIs. Tbh I don't see a point to fling anything except HTTP/1 on those short-lived connections.

[2019-08-15 17:21] tomchristie commented on #192
Yes true - wasn't really thinking there.

[2019-08-15 17:24] viniciusd opened #216 "Use custom event loop for AsyncClient requests"
I am currently using an async web framework and I would like to perform some http requests from the server.

That means I would need to use the same event loop I already use for my server. How can I change httpx's loop?

[2019-08-15 17:28] viniciusd commented on #216
Let it go, I was still using the sync client (Client), instead of the async one (AsyncClient)

[2019-08-15 17:28] #216 closed

[2019-08-15 17:29] tomchristie commented on #216
You don’t need to do anything special - AsyncClient doesn’t set any particular event loop, it’ll use whatever context you’re already in.

[2019-08-15 22:15] sethmlarson commented on #212
Great detective work! Is there anything we can do to fix the history?

[2019-08-16 10:53] tomchristie commented on #212
Deleted the `requests3` branch, which is the only place the large images were included.

Appears resolved to me now (based on cloning times before and after the delete).

[2019-08-16 10:53] #212 closed

[2019-08-16 14:14] sethmlarson commented on #205
I'm gonna close this issue specifically about `links` but you should open a new issue for each of the properties that @tomchristie mentioned above that we should add. :)

[2019-08-16 14:20] #205 closed

[2019-08-16 20:13] sethmlarson opened #220 "Don't render Authorization, Proxy-Authorization headers, password in URLs"
We could render them as `[secure]` when calling `__repr__` so that they're not exposed by logging services. Was wondering what others thought of this idea?

[2019-08-17 00:14] sethmlarson opened #221 "Add DEBUG logging to Dispatchers and Client for easier debugging"
I was finding it difficult to debug some low-level behaviors when connecting to a specific host due to some HTTP/2-specific events. I'm sure our users will feel the same way when using HTTPX if something's not working.

[2019-08-17 01:02] cansarigol commented on #220
Hi, I tried to add this feature.
In debug logging level case, this doesn't work and we will need a logging formatter. I'm not sure we should think about it.
If this approach makes sense, we can use it.

[2019-08-17 03:17] #132 closed

[2019-08-17 03:18] sethmlarson commented on #124
I'm gonna close this one out now that HSTS preloading is enabled.

[2019-08-17 03:18] #124 closed

[2019-08-17 15:09] #185 closed

[2019-08-17 16:15] sethmlarson commented on #33
We still need a way to grab environment variables and to document those environment variables for this issue to be closed.

[2019-08-17 21:42] tomchristie commented on #220
Yeah we do the same with Starlette’s URL class. Def in favour (tho probably just repr, not str)

[2019-08-17 23:24] oldani opened #229 "ConnectionPool not releasing semaphore"
I'm trying to figure this out and find a fix for this as for right now. To be on context I'm using httpx for microservice communication, some hours ago I started getting `PoolTimeout` error on sentry at first I thought about increasing the `PooLimit` but when I took a look at metrics I was just hitting 0.5 rq/s so I added some logs.

When the error is raised `dispatch.num_connections` is between `

[2019-08-17 23:43] sethmlarson commented on #229
I'll investigate, is this with 0.7.0?

[2019-08-17 23:45] oldani commented on #229
Version is `0.6.8` I'm on it as right now  my guess is around https://github.com/encode/httpx/blob/master/httpx/dispatch/connection_pool.py#L121

[2019-08-17 23:54] oldani commented on #229
Yeah, it's actually the `ConnectionPool` I make a path and deployed it's no longer happening I will open a PR.

Basically, when you call `acquire_connection` and a new connection is created you acquire the semaphore but when you pop up that connection and check if it's dropped you need to release the semaphore otherwise it will keep decreasing until it reaches zero and the app starts crashing.

[2019-08-18 09:31] pablogamboa opened #233 "Bug in the 0.7.0 packaging"
I've tried to upgrade to 0.7.0 and it exploded with a

[code]

[2019-08-18 09:44] yeraydiazdiaz commented on #233
I can replicate simply doing `pip install httpx`:

[code]

I can't see a MANIFEST.in file in our repo, how are we adding these files to the releases?

[2019-08-18 10:16] sethmlarson commented on #233
Yep this is an issue, I'm fixing this up creating a PR now and releasing 0.7.1.

[2019-08-18 10:19] #233 closed

[2019-08-18 10:23] sethmlarson commented on #233
Verified that this works with 0.7.1:

[code]

[2019-08-18 10:24] yeraydiazdiaz commented on #233
Awesome, thanks for the amazing response time ⚡️ 😄

[2019-08-18 14:01] sethmlarson commented on #233
Just so happened to be awake at 5am lol went back to bed after :)

[2019-08-18 19:44] #229 closed

[2019-08-19 02:23] sethmlarson opened #235 "Handle HEAD responses with Brotli decoder"
Currently if you receive a response with `Content-Encoding: br` set and no body we get an error because Brotli doesn't like being called on an empty stream.

[2019-08-19 02:52] sethmlarson opened #236 "Cannot connect to yahoo.com, receiving a ProtocolError on Stream 0 after connection"
Couple of issues here: we're not raising an exception after receiving a `ProtocolError` from HTTP/2 when connecting to `yahoo.com`. We should be bubbling that exception up to users.

The second issue is is we don't know why yahoo is giving us this error, we have to figure that out as I'm sure it'll impact more than just them.

I found this by running interop tests against Alexa 1000 websites.

[2019-08-19 10:09] tomchristie commented on #235
More generally: we should make sure not to call *any* decoder if the body is empty.

[2019-08-19 10:11] tomchristie commented on #221
💯 Yes please!

[2019-08-19 10:42] tomchristie commented on #236
Good call - were you just making a standard GET request to every site ranked in there, or something more complex than that?

[2019-08-19 11:10] tomchristie commented on #235
On reviewing #237 I think we *should* just call into the decoders, but that we should just make sure that all the decoder implementations correctly handle `b""` input, and all correctly return `b""` outputs in that case.

Ideally a test case for this issue would be parameterized to ensure correct behavior here from all our decoder classes.

[2019-08-19 11:58] sethmlarson commented on #236
I found plenty of problems with just getting the index. I've got to sort through them all cuz the Yahoo one kept hanging.

[2019-08-19 12:15] tomchristie commented on #236
Okeydokes. At least we've got something to work from eh. 😃

[2019-08-19 14:31] tomchristie opened #239 "scripts as a single top-level point of project automation."
Generally across the `encode` projects I've been using [GitHub's "Scripts to Rule Them All" pattern](https://github.blog/2015-06-30-scripts-to-rule-them-all/) as a consistent style for project testing, linting, publishing etc...

It's benenficial from my POV, because it ends up that we can always just run `scripts/install`, or `scripts/test` from *any* project and expect that to perform the same k

[2019-08-19 14:44] florimondmanca commented on #239
Sharing my personal workflow here:

I'd say the `scripts/install` and `scripts/lint` scripts are rather straightforward and would be very helpful to have.

As for tests, I've been running `$ pytest` instead of nox to run tests against my virtual environment. Nox is too heavy for quick feedback, but running a complete pytest suite is moderately cheap (~15s). I also sometimes filter tests based on w

[2019-08-19 15:12] #235 closed

[2019-08-19 15:39] tomchristie commented on #148
I'm happy with the plain changelog that's been added.

I'd suggest that we don't bother with additional tooling around that, but we *should* make sure that we're being strict about making sure that https://github.com/encode/httpx/commits/master is a simple point of review for drawing up the changelogs, right?

I think it's probably better that we *don't* have pull requests themselves updating the

[2019-08-19 15:41] tomchristie commented on #236
Something that'd be really interesting would be adding our proposed http version control switch, and runnning compat tests *only* against HTTP/1.1.

[2019-08-19 16:00] tomchristie commented on #202
What's the difference between this and #201?

[2019-08-19 16:04] yeraydiazdiaz commented on #236
I've been looking into this issue with the help of #240 and been having trouble understanding our h2 flow.

Here's the logging for a request to `https://yahoo.com`

[code]

It seems yahoo is sending a [RemoteSettingsChanged](https://python-hyper.org/projects/h2/en/stable/api.html#h2.events.RemoteSettingsChanged) event which do not have a `stream_id` attribute so [we ignore it](https://github.com/e

[2019-08-19 16:26] sethmlarson commented on #239
We can add `session.posargs` to the `test` nox session so that you can be narrower in your test executions. :)

I have no issue with having the extra scripts, I didn't realize it was an encode org-wide thing.

[2019-08-19 16:37] sethmlarson commented on #236
We need to process the events coming in from stream 0 in addition to the stream we're waiting for.

The `RemoteSettingsChanged` could matter when we start having to worry about too many concurrent streams, I'm sure there's other things we need there. (For example if a website asked us to only have 1 concurrent stream and we opened another that'd be a violation)

The `WindowUpdated` stream isn't a

[2019-08-19 16:40] sethmlarson commented on #202
Forwarding is sending a request to a proxy and that proxy makes the request on your behalf and then gives you back the response.

Tunnel/CONNECT is asking the proxy for a TCP tunnel via CONNECT and then proceeding with HTTP(S) as normal through that tunnel.

[2019-08-19 16:43] sethmlarson commented on #148
Yeah I totally agree that creating a changelog is on the reviewer. Much easier for contributors! :)

Let's only include stuff that matters for users. Docs, tests, cleaning up, etc don't matter to them.

[2019-08-19 16:47] florimondmanca commented on #148
Agreed. I think changelog should only contain additions/changes/removals that impact the public API or anything users currently depend on. Also I like separating out changes into these categories (added, changes, deprecated, removed) so it’s easier to see what to pay attention to as a user — especially breaking changes.

As for updating the changelog, ideally this should always be done by the revi

[2019-08-19 16:54] sethmlarson commented on #148
@florimondmanca So you're suggesting reviewers should be in charge of changelog entries being added within the scope of the PR that the feature is being added?

[2019-08-19 17:02] florimondmanca commented on #148
@sethmlarson It depends on my understanding of *within the scope of the PR*. I do think it should be part of merging a PR to update the changelog accordingly if necessary. I don't know if the change should happen before or after the merge. My ideal setup would be to have a bot automatically adding the PR commit message to the changelog before/after the merge — don't know if there's anything like t

[2019-08-19 18:19] tomchristie commented on #202
So in the requests API, where we have `proxy={http=..., https=...}` then the `http` value should point at a simple forwarding proxy address, and the `https` value should point at a Tunnel/Connect proxy address? (Or have I got that wrong?)

[2019-08-20 01:39] sethmlarson opened #242 "Make debugging TLS errors easier for users"
Something like this: `ssl.SSLCertVerificationError: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: Hostname mismatch, certificate is not valid for 'momoshop.com.tw'. (_ssl.c:1108)` is not user friendly. If we can somehow wrap and reraise common errors with links to documentation and a slightly more helpful message would be easier for users and keep people from turning off TLS verifica

[2019-08-20 06:30] florimondmanca commented on #242
I agree that these TLS error messages are somewhat obscure. I'm not very literate about the details of SSL myself and I'm not sure what I'd need to do if I encountered the above exception.

So I think it would be great to provide information on possible causes of the exception (in plain English) and *what to do* as next steps (e.g. with docs links as you mentioned).

Do you already have an idea of

[2019-08-20 06:54] florimondmanca opened #245 "Concurrency sub-package"
Currently, the `concurrency.py` module is actually asyncio-specific. Preparing for alternative concurrency backend support, we should consider spinning it into a `concurrency/asyncio.py`, leaving room for backend-related stuff to go into `concurrency` package.

[2019-08-20 07:10] florimondmanca opened #246 "Support multiple background tasks in BackgroundManager"
The `BackgroundManager` is used in `dispatchers/http11.py` and `dispatchers/http2.py` to concurrently send the request and read the first part of the response. Its usage currently looks like this:

[code]

This is limited in that we cannot start more than one task easily. However, we will need this feature to generalize the usage of `ConcurrencyBackend` across the code base.

Here's a more flexibl

[2019-08-20 07:25] florimondmanca opened #247 "Make ASGI dispatcher asyncio-agnostic"
*Note: this issue breaks apart steps originally taken in #217.*

The ASGI dispatcher currently relies on asyncio-specific APIs to perform various operations, which is a blocker towards supporting alternative concurrency backends.

We want to make sure all of the I/O inside `ASGIDispatch` goes through the backend instead.

This will need the following, most of which can be tackled in independant PR

[2019-08-20 09:11] tomchristie commented on #247
I'd probably suggest "to be used *by* the BodyIterator" rather than "to be used instead of BodyIterator". That'd likely be a smaller change footprint. (Tho we can thrash that level of detail out against the pull request once we're there)

I think the proposed API there is decent, yup. To an extent it doesn't matter too much so long as we have something reasonable here, that we can rejig later if w

[2019-08-20 09:21] tomchristie commented on #246
Seems like a sensible tack yup.

One *alternative* that we could end up exploring at some point would be to use a *different* pattern style here. We're using the background manager in order to allow us to perform simultanous read/writes. The urllib3 async work instead uses a "read and write for a bit" primitive that backends need to implement.

I won't get into digging into that in detail here, bu

[2019-08-20 09:22] tomchristie commented on #247
A thought here: we could probably forgo needing to implement a `wait_first_completed()` by rejigging the implementation to use queues for signalling completion from the two tasks.

[2019-08-20 09:33] tomchristie commented on #245
Yup. Let's also go for `concurrency/base.py` or `concurrency/interfaces.py` for the base interfaces, to keep things cleaner.

We *may* also want to not expose the concurrency interfaces at the top level of the `httpx` namespace, but instead end up with `httpx.concurrency.BaseSemaphore` etc... since we won't *generally* expect our user base to be implementing custom concurrency backends.

[2019-08-20 09:35] tomchristie commented on #247
Going to see if I can take a crack at dropping the `asyncio.FIRST_COMPLETED` bit of implementation, since that'd make this issue somewhat narrower in scope.

[2019-08-20 09:40] tomchristie commented on #239
Totally not a problem - I think `nox` is a fantastic addition here, so not a big issue having to do a bit of rejigging to get there.

[2019-08-20 10:48] #220 closed

[2019-08-20 11:24] florimondmanca commented on #247
I’ll update the issue description soon taking into account the simplified concurrency in the ASGI dispatcher. :+1:

[2019-08-20 11:28] florimondmanca commented on #245
Reopening this for the interfaces.py bit. :-)

[2019-08-20 11:29] florimondmanca opened #249 "Concurrency interfaces"
See https://github.com/encode/httpx/issues/245#issuecomment-522935394

[2019-08-20 11:31] florimondmanca commented on #245
Actually... -> #249

[2019-08-20 11:31] #245 closed

[2019-08-20 14:27] StephenBrown2 commented on #247
Would this affect https://github.com/encode/httpx/pull/52 at all? Or possibly the design of it?

[2019-08-20 14:31] tomchristie commented on #247
Yeah it'll tie in. We'll want to get this side of things all nice and clean and sorted first, then we'll be able to take a proper look at #52 again.

[2019-08-20 15:02] tomchristie commented on #236
D'ya have a clean, parsed list of URLs that we can use for running interop tests?
Wouldn't mind having a crack with `Client(http_versions="HTTP/1.1")` and seeing where we're at right now.

[2019-08-20 15:13] sethmlarson commented on #236
Certainly! Here's the Alexa Top 1M: [alexa-1m.txt.gz](https://github.com/encode/httpx/files/3521345/alexa-1m.txt.gz)

[2019-08-20 18:57] StephenBrown2 commented on #247
I thought as much. Started on it but got sidetracked. I'll wait on this to settle first though, as it's more important for sure.

[2019-08-20 19:34] cansarigol opened #254 "stop nox on first error"
During nox is running, if it gets an error, continues running. if we add this: `nox.options.stop_on_first_error = True`, we don't overlook check errors or others before PR.

[2019-08-20 21:14] florimondmanca opened #256 "AsyncioBackend: DeprecationWarning for StreamReader/StreamWriter in Py3.8"
Python 3.8 builds are filled with warnings about asyncio API changes: https://travis-ci.org/encode/httpx/jobs/574559125

Looks like as as of Python 3.8, `asyncio.open_connection()` is deprecated in favor of `asyncio.connect()` — see the [asyncio 3.8+ docs](https://docs.python.org/3.8/library/asyncio-stream.html).

[code]

This is not a trivial API change, and I don't know if there are plans to bac

[2019-08-20 21:59] florimondmanca commented on #246
Actually, we're also going to need the background manager in `ASGIDispatch`, i.e. to start running the app in the background as we're pushing content to the response. Thanks to the refactor getting rid of `FIRST_COMPLETED`, we can get away with `BackgroundManager` only handling a single coroutine, but it looks to me like we're going to need it anyway. So maybe it's best to leave usage of the backg

[2019-08-20 22:40] sethmlarson commented on #256
So we're going to have to support both eventually, hmm.

[2019-08-21 03:08] GnubiBORED commented on #202
@sethmlarson in my case i need to be able to add extra headers to those CONNECT/tunnel when proxy is used will be possible?

[2019-08-21 03:13] sethmlarson commented on #242
It'd be great to capture some of the common scenarios that people run into when using an HTTP library:

- Unsupported TLS version / no cipher overlap.
- Self-signed certificate
- Certificate expired
- Certificate doesn't have `subjectAltName` but does have `commonName`
- Certificate isn't in their trust store.

give the user a brief message about what happened and then point them our docs via URL.

[2019-08-21 03:20] sethmlarson commented on #202
@GnubiBORED Yes that will be possible via configuring your proxy like so (or something similar, API isn't nailed down yet):

[code]

For HTTP (forwarding) the headers are sent with the request.
For HTTPS (tunnel) the headers are sent with the CONNECT request but not the requests made after tunneling. Those are controlled by `headers=...`.

Does that handle your use-case? :)

[2019-08-21 03:36] pquentin opened #258 "Proposal: AsyncClient API unification"
To fully support HTTP/2, httpx will want to support multiplexing, arguably the most important HTTP/2 feature:

## Existing `parallel()` API

Since HTTP/2 is multiplexed, it means that clients such as httpx should only open [one connection per origin](https://http2.github.io/faq/#why-just-one-tcp-connection), even (especially?) for concurrent requests. This is indeed possible with the proposed `par

[2019-08-21 06:35] #249 closed

[2019-08-21 06:55] tomchristie commented on #249
👍

[2019-08-21 06:59] florimondmanca commented on #246
I'll close this for now since the ability to run multiple background tasks isn't a requirement anymore. :-)

[2019-08-21 06:59] #246 closed

[2019-08-21 09:26] tomchristie commented on #258
We do.

If you're using multiple tasks, or multi threading, with a single client, then any HTTP/2 connections will already be multiplexed. In eg. a web app environment you don't really *see* that because the server is handling the concurrency aspect for you, so each *individual* code path reads as a single sequential request, but you'll actually end up having multiplexed requests across the same c

[2019-08-21 09:26] #258 closed

[2019-08-21 09:38] tomchristie opened #262 "HTTP/2 download speeds / flow control settings"
Which having an initial look at HTTP/3, @jlaine dug out that we seem to have signiifcantly slow uploading right now.

First thing to do would be to investigate and replicate, by eg. compare and contrast a simple upload from `httpx` vs `requests/urllib3` - does it replicate trivially and reliably? This really *shouldn't* be an issue for us so will need some looking at.

Initial thoughts on where is

[2019-08-21 09:48] njsmith commented on #258
With the current API, if you're using a single client, it can't use HTTP/2 at all in a structured concurrency system like Trio, because HTTP/2 needs a background task and Trio won't let you make a background tasks without an `async with`.

[2019-08-21 09:57] florimondmanca commented on #258
I'm not sure myself of how HTTP/2 multiplexing works/what it requires to have, but what is currently preventing users from using the API described by @pquentin, even if we have a single client?

[code]

[2019-08-21 10:19] yeraydiazdiaz commented on #236
I added some more logging and ran tests against the alexa dataset and it looks like yahoo is doing things a bit differently.

Specifically I added some logging to the [raw events returned by h2](https://github.com/encode/httpx/blob/master/httpx/dispatch/http2.py#L152). It seems all other hosts send `WindowUpdate` on stream 0 (which according to the [RFC](https://tools.ietf.org/html/rfc7540#section

[2019-08-21 10:24] tomchristie commented on #258
HTTP/2 doesn't need a background task in order to support multiplexing, no. Any API interaction that gets a response, or streams some response content will end up progressing *any* active streams (although that's unseen from a users' perspective).

[2019-08-21 10:43] njsmith commented on #258
@tomchristie HTTP/2 needs a background task whether you do multiplexing or not :-). Any open connection has to have some task listening for PING frames at all times, whether anyone's interacting with it or not.

[2019-08-21 10:47] jlaine commented on #262
Actually the issue I reported was *download* speeds, and it does seem to be linked to HTTP/2.

Here is a script to reproduce the issue:

[code]

The results (the first two results vary somewhat, but are always close to each other):

[code]

[2019-08-21 11:02] tomchristie commented on #258
Still not absolutely convinced that's neccessary. You'll handle a PING frame so long as some part of the code base, somewhere, is doing something with a request/response.

If nothing's interacting with it for a substantial enough period of time then then we'll never respond to the PING and the connection'll get dropped, which is reasonable behavior.

It *is* legit that we *could* want to have a ba

[2019-08-21 11:10] tomchristie commented on #262
Okay, at this point it's a bit more complicated, since we've also got different performance on the server side too.

A sensible first thing to do might be to try to replicate against a non-python HTTP/1.1 and HTTP/2 server in order to try to help isolate if we've for a client issue or a server issue here (or both)?

[2019-08-21 11:15] tomchristie commented on #262
Tried this against `httpbin`, because that'll be implemented as a WSGI HTTP/1.1 - I was expecting it to be fronted by something that supported both HTTP/1.1 and HTTP/2 (I think it's on heroku?)

That didn't actually progress things tho, since it turns out whatever it's hosted on is HTTP/1.1 only...

[code]

[code]

Might want to try something similar but against some cloudflare content or somethin

[2019-08-21 11:28] njsmith commented on #258
I dunno, I'm mostly relying on @lukasa here, but he spent some effort pounding it into my head that HTTP/2 definitely needed a task reading from the underlying connection at all times.

I don't think letting whichever task happens to be interacting with the connection do the driving is going to work in any case, because of cancellation. If your data send operation gets cancelled in the middle, it'

[2019-08-21 11:49] tomchristie commented on #258
Sure thing. I think we're doing the right thing at this point in time to keep progressing towards a mature HTTP/1.1 + HTTP/2 client. Eg. We've still got basics like #236 and #262 to work on.

If we *did* strictly want to move to a "clients must *always* be context-managed" style, then we *could*, but I'd rather have that driven by neccessity, even if that's only so that it helps fully thrash out a

[2019-08-21 12:54] jlaine commented on #262
The server mentioned above is nginx talking (over HTTP/1.1) to uvicorn.

Using cURL over HTTP/1.1 or HTTP/2 against the same server as above both give me times which are consistent with `requests` and `httpx` over HTTP/1.1. `httpx` over HTTP/2 really seems to be the outlier.

curl --http1.1 https://quic.aiortc.org/50000000

[2019-08-21 15:37] tomchristie commented on #262
Okay, that's really helpful, thanks.

Something that'd be useful for us to do at some point would be crack open a tool like wireshark in cases like this, and verify if our HTTP messaging matches up properly with curl's implementation or not. (Ie. are we doing something differently in terms of the messaging that's causing it to be slower)

[2019-08-21 23:07] njsmith commented on #258
Yeah, this is why we decided to defer HTTP/2 until after we had a viable HTTP/1.1 release.

It's not the pings per se. The idea is to split things up so there are background tasks handling socket io, and the foreground tasks interact with them via some kind of queue. Socket IO in general is not atomic wrt cancellation: if a write gets interrupted half-way through, then the connection gets left in

[2019-08-22 02:13] GnubiBORED commented on #202
yep it handle my case totally, only question more is thath if i can order headers passing and collections.OrderectDict like i do in requests. but i think its possible and works, correct me if im incorrect

[2019-08-22 05:56] tomchristie commented on #258
Sure thing. We have the *option* of switching HTTP/2 to off-by-default for a 1.0 release if we want it, but we’re currently opting to keep it on, and deal with the bugs as they come in.

That makes more sense, yup. I’d probably still be okay with treating backgrounding there as YAGNI. Eg we could just have a blunt policy of tearing down the entire connection if tasks get cancelled. I guess there m

[2019-08-22 08:35] njsmith commented on #258
I don't think breaking unrelated tasks when one task is cancelled is going to work in the long run... and shielding isn't very useful here, because anytime you're dealing with the network, you have to let people impose timeouts, and those are a version of cancellation.

I get what you're saying. I just want to point out that in this case, the refactor would involve breaking the public API for almo

[2019-08-22 11:49] sethmlarson commented on #258
When you say public API do you mean the `ConcurrencyBackend` or more than that? To me the `ConcurrencyBackend` isn't really "user-facing" API. Sure it faces some users but not the ones that are just trying to make HTTP requests.

[2019-08-22 12:38] sethmlarson commented on #202
@GnubiBORED: To answer your questions:

For HTTP Forwarding proxies (http://...) the proxy headers are joined to the request headers that are sent to the proxy. It's up to the proxy to strip them (`Proxy-Authorization`, etc)

For HTTP CONNECT proxies (https://...) the proxy headers are only sent for the CONNECT request. The actual request won't include any of the proxy headers.

And yes if you pas

[2019-08-22 12:44] pquentin commented on #258
@sethmlarson My understanding is that we're discussing whether httpx should mandate using `async with` to create a new `AsyncClient`, which is as user-facing as it can get. :)

My perspective is that there are many things that can get fixed in due time, but this specific bit of API cannot, and I would not want httpx to paint itself in a corner. Before structured concurrency, the solution would hav

[2019-08-22 12:48] sethmlarson commented on #258
You can see how much I understand about all this. :) This would definitely be something I'd like resolved before we tag a 1.X.

[2019-08-22 22:58] florimondmanca opened #271 "Backend test parametrization"
Now that almost all of HTTPX internals are relying on the concurrency backend, and before tackling the Trio backend (#120), it would be good to parametrize all tests with a `backend` fixture.

For now, it would only point to `AsyncioBackend`, but we're going to need it for `TrioBackend` anyway — the main goal is to reduce clutter when the trio backend lands a PR.

Once the `backend` fixture is def

[2019-08-23 00:26] #247 closed

[2019-08-23 11:53] lch277 commented on #96
Unfortunately, I get the same exception again in 0.6.8.

I use httpx in an oauth2 authorize flow. When I get authorization code from the auth server, I use httpx client to get an access token. After the access toke expired, the first invocation to obtain a new access token is almost always failed, the second invocation(refresh the page) is ok. The situation is similar to last time.

Some facts:
1.

[2019-08-23 12:03] sethmlarson commented on #96
Thanks for reporting this issue @lch277, I'm going to reopen this issue since it seems similar.

This would be a great time to have had our debug logging in place so we can exactly track down the sequence of events in your request. Maybe we should speed up the integration of those logs to help solve issues like this.

[2019-08-25 14:48] jlaine opened #275 "Adding HTTP/3 support using aioquic"
It would be nice to start planning support for HTTP/3. aioquic provides a sans-I/O API for HTTP/3 similar to h2 which would make such an integration possible.

The main hurdle is that the connection model is very different to HTTP/1.1 and HTTP/2 : we cannot simply establish a (reader, writer) pair over a TCP connection and pass this to the protocol layer.

In order to provide a first demonstration

[2019-08-25 18:25] #271 closed

[2019-08-25 21:34] rwboyer commented on #95
I seem to be having the same sort of issue but I am running 0.7.1 using

[code]

I've moved client to create a new AsyncClient() inside of the route for now, am I missing something or is this the same issue as above?

[2019-08-26 21:19] florimondmanca opened #280 "Drop NPN support"
@pgjones suggested in https://github.com/encode/httpx/pull/276#discussion_r317585211 to stop using NPN to get the HTTP protocol in `.get_http_version()` on concurrency backends, and switch to ALPN-only.

(Technical notes of mine: [NPN](https://tools.ietf.org/html/draft-agl-tls-nextprotoneg-04) (Next Protocol Negociation) is a TLS extension that was added as part of [SPDY](https://en.wikipedia.org/

[2019-08-26 21:39] florimondmanca commented on #33
I did some research in the Requests docs looking for environment variables it supports, and whether we support them already:

- [x] `NETRC`
- [ ] `REQUEST_CA_BUNDLE` (see [here](https://2.python-requests.org/en/master/user/advanced/#ssl-cert-verification))
- [ ] `HTTP_PROXY`, `HTTPS_PROXY` (see [here](https://2.python-requests.org/en/master/user/advanced/#proxies)), [`ALL_PROXY`](https://2.python-

[2019-08-27 10:30] tomchristie commented on #280
Fair enough, that sounds like a nice little improvement.

[2019-08-27 11:10] PrimozGodec opened #281 "Does HTTPX support single-connection HTTP/2 with unbounded concurrent requests?"
First sorry for opening an issue but I didn't find a better way to reach you. Thank you for developing a good looking library which supports HTTP/2.

We are tinking for switching to HTTPX. Before I start with the implementation, I have two questions about parallel requests. Those things were not clear from the documentation.

1. We have a server that supports HTTP/2 protocol and wants to send mult

[2019-08-27 11:24] tomchristie commented on #281
Yes. HTTPX deals with connection pooling for you.

Right now it won't limit the number of requests available per HTTP/2 connection, no. I'm not clear what the preferred behavior would be here. (Eg. we could *either* open up multiple HTTP/2 connections per origin in that case if we wanted, *or* we could block until the requests-per-connection limit is hit.) Does HTTP/2 have any specific rules aroun

[2019-08-27 11:33] tomchristie commented on #281
Correct - It doesn't yet handle that, no.

[2019-08-27 11:50] tomchristie opened #283 "Open new HTTP/2 connections when stream space is exhausted."
http://http2.github.io/http2-spec/index.html#StreamIdentifiers "Long-lived connections can result in an endpoint exhausting the available range of stream identifiers. A client that is unable to establish a new stream identifier can establish a new connection for new streams. "

Somewhat related to #282

[2019-08-27 11:50] #281 closed

[2019-08-27 11:51] tomchristie commented on #281
Closing the question now that we have relevant issues to track it.

[2019-08-27 11:53] PrimozGodec commented on #281
@tomchristie and @sethmlarson thank you for great and fast response.

[2019-08-27 15:24] sethmlarson opened #285 "Pin CalVer releases to a minimum date per HTTPX release"
Currently if you upgrade HTTPX via `python -m pip install -U httpx` you won't get an upgrade of `hstspreload` if it's already been installed. This isn't great for users as they're likely to not want to upgrade each dependency individually.

We want users to get the latest versions of these types of dependencies (certifi is another). What are our thoughts on adding a `>=2019.8.20` (or whatever the

[2019-08-27 20:38] florimondmanca opened #288 "Add server.url property in tests"
We are defining the URL to the uvicorn server that's running during our tests in lots of place, e.g.:

[code]

As suggested by @sethmlarson in https://github.com/encode/httpx/pull/276#issuecomment-525445494, it would be better to use a `URL` property on the `server` provided by the `server` and `https_server` fixtures instead. This way, we can change the root URL in one place (close to wherre the

[2019-08-28 00:23] sethmlarson opened #289 "HTTP/2 connections are always active within ConnectionPool"
It's trivial to dead-lock a ConnectionPool due to HTTP/2 connections being persistent and never cleaned up even when not servicing a request due to always returning `False` for `is_closed`.

[code]

[2019-08-28 15:40] pgjones opened #290 "Hypercorn test server"
Hello,

Would you be receptive to me adding Hypercorn as a test server (alongside Uvicorn)? I think for this project it would be good to test HTTP/2 against a production server. Whilst for Hypercorn it would be great to know that it doesn't upset this client.

[2019-08-28 16:33] florimondmanca commented on #290
We might benefit from this in #276 as well.

Let’s first refactor the current server setup as mentioned in https://github.com/encode/httpx/pull/276#issuecomment-525724384, and then perhaps consider this?

[2019-08-28 19:49] pgjones commented on #290
ok, sounds good.

[2019-08-28 20:04] florimondmanca commented on #290
Hmm... Sorry that my previous message didn’t sound as excited as I am about this idea!

If you want to get together a PR demonstrating the idea it would be great, no need to wait for the refactor I mentioned to be done — you may have to deal with conflicts, but that’s about it. Thanks for suggesting this!

[2019-08-29 15:33] florimondmanca opened #293 "Requests migration story"
I know that Requests compatibility is an important feature that HTTPX aims at providing. I was thinking about this and had a couple of ideas relative to having people migrating from Requests to HTTPX.

1 - **Migration guide**. If I was a user thinking of doing the migration, I'd be looking for a migration guide. It should be prominently placed on the project home page, explain the various steps to

[2019-08-29 15:38] GnubiBORED commented on #202
any update in proxy implementation in httpx?

[2019-08-29 15:44] florimondmanca commented on #289
Just a question here, probably more related to how HTTP/2 works: how come the client is trying to acquire another connection in the first place, although it seems we have received the response? (Or maybe we've just sent the request data?)

[2019-08-29 15:58] sethmlarson commented on #202
I'm working on combining the proxy implementations. I have them working I believe the issue now is writing tests for them. Will push what I have today and continue writing tests.

[2019-08-29 17:15] sethmlarson commented on #289
Different origin: google.com vs www.google.com

[2019-08-29 20:59] florimondmanca opened #295 "Client middleware API"
There's been quite a few PRs trying to take a stab at making the `Client`/`AsyncClient` extensible, mostly with a middleware approach whose idea seems to have originated in https://github.com/encode/httpx/pull/136#issuecomment-516085808 to help solve Digest Auth.

As mentioned in https://github.com/encode/httpx/pull/268#issuecomment-525347835 it might be useful to define and discuss in which direc

[2019-08-29 21:15] florimondmanca commented on #295
Trying to answer a few other questions I saw in the various discussions we've had…

## FAQ

**What about the `BaseAuth` interface?**

It seems the proposed middleware APIs encompass the current auth interface, which can be trivially implemented as a middleware that modifies the `request` before sending it. So we can definitely consider removing `BaseAuth` entirely.

**Shouldn't redirect stay part

[2019-08-29 21:16] GnubiBORED commented on #202
you will comment it on HTTP(S) Proxy Support (TODO) in readme once its done?

[2019-08-29 21:30] sethmlarson commented on #202
Yeah I'll be removing that and in the docs. :)

[2019-08-29 21:39] florimondmanca opened #296 "Concurrency backends vs AnyIO"
Follow-up for @sethmlarson's comment here: https://github.com/encode/httpx/pull/276#issuecomment-526350945

For context: we have an internal `ConcurrencyBackend` interface whose job is to provide async-related operations that aren't tied to a particular implementation, e.g. asyncio or trio.

AnyIO ([docs](https://anyio.readthedocs.io/en/latest/), [code](https://github.com/agronholm/anyio), cc @agr

[2019-08-29 21:55] florimondmanca commented on #296
I think there are several unknowns relative to this question:

- How much feature ground does AnyIO cover compared to our concurrency backends?
- How well does it cover them? (Bugs?)
- How do we make sure AnyIO stays well-maintained for our purposes? (I think it's obvious we'd need to share the maintenance load.)

I think the first two questions can be answered by prototyping an `AnyIOBackend` tha

[2019-08-29 21:57] florimondmanca commented on #290
@pgjones FYI, the test server refactoring I mentioned earlier is in. :+1:

[2019-08-29 21:59] florimondmanca commented on #174
@sethmlarson I second @VeNoMouS — the link leads to the issues board. Any rememberance of where it should have gone to?

[2019-08-29 22:14] sethmlarson commented on #174
I don't recall actually. :( That's a shame!

[2019-08-29 22:15] VeNoMouS commented on #174
Waaaah Waaaah waaaaaaaaaah

[2019-08-29 22:15] florimondmanca commented on #174
@sethmlarson Okay! Do you recall any more context on what `Client.build_request()` should do?

[2019-08-29 22:19] sethmlarson commented on #174
I think it was meant to combine all the `merge_*()` functions? Do you remember @tomchristie?

[2019-08-30 06:00] florimondmanca commented on #33
After inspecting the Requests code base, I updated the list with `CURL_CA_BUNDLE` — I couldn't find any other use of environment variables in there.

[2019-08-30 06:10] agronholm commented on #296
I had not heard of HTTPX before, but there is an HTTP client library already depending on anyio: [asks](https://github.com/theelous3/asks). What I do not understand is why people don't work together on a single HTTP client implementation. HTTP is hard to get right, as you may have noticed, and having several separate projects working towards the same goal is something I see as a colossal waste of

[2019-08-30 06:42] florimondmanca commented on #296
Thanks for pitching in @agronholm; I personally did not know about asks. I think it's a blessing to have an existing medium-large project that shows real-life usage examples of AnyIO.

On your comments about the multiplication of efforts — I know there has been discussions about this for HTTPX and async-urllib3 in #78. See https://github.com/encode/httpx/issues/78#issuecomment-495975751 and https:

[2019-08-30 17:46] jlaine commented on #33
Having recently spent a lot of time in wireshark, I'd quite like `SSLKEYLOGFILE` too (unless Python's `ssl` provides this free of charge?)

[2019-08-30 17:50] florimondmanca commented on #33
Seems it will be [landing in Python 3.8](https://bugs.python.org/issue34271). Meanwhile, [sslkeylog](https://github.com/segevfiner/sslkeylog)?

[2019-08-30 19:39] adrianmeraz commented on #202
Awesome work @sethmlarson , this has been a long-standing reason why I couldn't use HttpX just yet.

[2019-08-30 21:56] sethmlarson commented on #202
@adrianmeraz I'm so glad! :) Have you tested the PR to see if it works properly for your user-case? Would love more eyes on it.

[2019-08-30 22:54] adrianmeraz commented on #202
@sethmlarson I'll be sure to test it out ASAP!

[2019-08-31 14:09] #37 closed

[2019-08-31 17:08] GnubiBORED commented on #202
im new to python but its already testeable? if yes i would like to test these

[2019-08-31 18:29] sethmlarson opened #299 "Add support for SSLKEYLOGFILE for Python 3.8b4+"
Python 3.8b4 (with OpenSSL 1.1.1) added support for the `SSLKEYLOGFILE` environment variable which will be very useful for using Wireshark to do analysis of HTTP/2 requests for example.

This should be a small change within `SSLConfig._create_default_ssl_context()` see [this commit](https://github.com/python/cpython/commit/c7f7069e77c58e83b847c0bfe4d5aadf6add2e68) for the gist of how to implement.

[2019-09-01 00:25] sethmlarson commented on #202
Yeah @GnubiBORED you would have to pull this exact branch though. Once it lands in master I'll be tagging a new release so everyone waiting for proxies can try the new feature. :)

[2019-09-01 05:34] sethmlarson commented on #236
#299 is going to make this issue a lot easier to investigate! :tada:

[2019-09-01 05:47] sethmlarson opened #302 "Drop certifi, use system trust store by default"
This is an issue that many people have been trying to tackle for Python but hasn't been done yet. I think we're in a pretty good position to try to tackle this in a way that cam be available to everyone.

- Linux/OpenSSL should use the default system CA bundle path compiled into OpenSSL.
- Windows should use SChannel which is capable of fetching updated CA certs if they're not in the trust store.

[2019-09-01 07:07] #288 closed

[2019-09-01 10:56] florimondmanca commented on #295
Pinging in here — anyone's got thoughts on this? Do we need the internal middleware at all? Is any of the proposed APIs potentially a good fit for a user-facing extensibility mechanism?

[2019-09-01 13:01] #299 closed

[2019-09-01 16:26] sethmlarson commented on #295
Thanks for putting this together! :) You and @yeraydiazdiaz have been killing it with taking ownership of the middleware implementation.

The callable middleware has my vote for simplicity and how close it resembles WSGI / ASGI.  The calling itself recursively with a new request as a method of making a different request is smart too and solves the cache validation, digest auth, and redirect requir

[2019-09-01 16:54] florimondmanca commented on #295
@sethmlarson Thanks for your input!

At first I thought, "what's the problem with storing anything we need to keep track of directly in middleware?". But then I remembered that middleware are re-created on each request, so we can't really persist anything there.

But then, why should it be the middleware's responsibility to manage that kind of storage? I suppose the client can intercept responses

[2019-09-01 18:16] sethmlarson commented on #295
I'm good with #268 proceeding. :)

I see that the redirect and auth middlewares are being recreated per request but would custom middlewares be restricted by this?

[2019-09-01 21:01] #295 closed

[2019-09-01 21:41] florimondmanca commented on #295
Currently, yes. I guess it depends on whether we make .add_middleware (or whatever it’s going to be) accept a middleware class (which can be instanciated on each request) or a middleware instance. For some applications like redirection, only per-request middleware make sense. Maybe we’ll end up introducing a notion of scope
(I’m thinking of pytest fixtures here), to be defined on the middleware cl

[2019-09-02 04:19] sethmlarson commented on #236
So I discovered the issue!

We're setting `0x8` (`SETTINGS_ENABLE_CONNECT_PROTOCOL`) which isn't defined in the original standard for HTTP/2 so Yahoo is breaking the RFC for HTTP/2:

If you change the initial settings frame to not send that setting Yahoo doesn't send a `GOAWAY` with `PROTOCOL_ERROR` but still doesn't respond to us. To get a response we need to not send an empty `DATA` frame with `

[2019-09-02 08:31] yeraydiazdiaz commented on #295
Great job on this @florimondmanca!

I think #268 is a great first implementation of this, chances are we'll start noticing pain points as we start implementing more middlewares but at this point in the project it's something we need to go through.

I'll repurpose the Digest auth and look forward to more features using middlewares 🎉

[2019-09-02 08:38] jlaine opened #304 "WebSockets and connection upgrades."
Currently `httpx` is squarely focused on HTTP's traditional request / response paradigm, and there are well-established packages for WebSocket support such as [websockets](https://github.com/aaugustin/websockets). In an HTTP/1.1-only world, this split of responsabilities makes perfect sense as HTTP requests / WebSockets work independently.

However, with HTTP/2 already widely deployed and HTTP/3 s

[2019-09-02 08:38] florimondmanca commented on #295
Super @yeraydiazdiaz, I’m excited about Digest Auth!

[2019-09-02 09:03] yeraydiazdiaz commented on #236
Wow, thanks for the deep dive @sethmlarson, I don't think I would've figured that one out 😄

I agree this is likely to happen more and can become a source of bug reports. What should be our policy for non-RFC compliant implementations? Sounds like it would be a nightmare including all the subtly different ways different hosts might not comply with the RFC.

Also should we fix setting `SETTINGS_ENA

[2019-09-02 09:14] tomchristie commented on #304
So my *assumption* here would be "no", but that it's possible we'll want to expose just enough API in order to *allow* a websocket implementation to use httpx for handshaking the connection, and sharing the connection pool.

So, to the extent that we *might* allow it to be possible, I'd expect that to be in the form of a third party package, that has `httpx` as a dependency.

I'm not sure *exactly

[2019-09-02 09:29] jlaine commented on #304
What you are saying does make sense, I haven't quite made up my own mind on this.

Pros of a third-party package handling the websockets:

-  keeps httpx's focus on request / response
- allows for competing implementations of the WebSocket part

Cons:

- we need to make some fairly complex APIs public, which will limit our ability to refactor httpx's internals
- we are going to have to expose stru

[2019-09-02 10:24] tomchristie commented on #304
Interesting points, yeah. I guess I'd be open to reassessing this as we go.

We'd need to identify what the API would look like, both at the top user-facing level, and at whatever new lower-level cutoffs we'd need to be introducing.

[2019-09-02 10:39] tomchristie commented on #296
Given where we are now, I don't think I see a clear enough benefit for us there, no.
(Tho it looks like an ace project.)

[2019-09-02 10:39] #296 closed

[2019-09-02 10:48] tomchristie commented on #236
Our broad policy should be to look to what web browser implementations do, and then follow their lead. That'd probably be a bit onerous to fully dig into all the time (eg. it'd mean grokking through the browers own issue trackers and project history, or else digging in with wireshark)

It's possible that looking towards `curl` would be a good option too - presumably their HTTP/2 implementation wil

[2019-09-02 11:07] florimondmanca commented on #296
Agreed with your position @tomchristie, thanks for your input!

[2019-09-02 12:36] tomchristie commented on #174
Yup - we'd like to be able to do something like...

[code]

[2019-09-02 12:43] tomchristie commented on #290
If we're able to run the tests against both hypercorn & uvicorn, then that seems like it might be a nice bit of progress yeah.

[2019-09-02 13:54] sethmlarson commented on #304
I'm in favor of adding websockets definitely, would be a good feature to work towards in a v2? Still so much to do to get a v1 released.

Thanks for bringing this up @jlaine! I've not had to deal with websockets so I didn't even think they'd be at home in a library like HTTPX. :)

[2019-09-02 14:01] sethmlarson commented on #296
I think there are clear benefits, we're basically re-implementing a subset of work that's already been proven and we end up getting Trio support along with Curio.

[2019-09-02 14:05] tomchristie commented on #296
More finessed opinion - I'd think we could be okay with considering a PR for it, but I think it brings us some submerged complexity vs. explicit complexity, and we *have* been trying to prefer fewer dependencies where possible, so it's not super obvious either way which way we'd want to lean.

[2019-09-02 14:06] tomchristie commented on #296
It'd cost us a bunch of work, and it doesn't get us any closer to 1.0, so putting time into it probably ought to be contingent on an intersted party deciding to take a crack at it, right?

[2019-09-02 14:14] tomchristie commented on #304
Probably not a bad call, yeah.

[2019-09-02 14:23] jlaine commented on #304
I'll see if I can find time to put together a minimal PR supporting HTTP/1.1 and HTTP/2 to scope out what this entails. Obviously if there are more pressing needs for v1 there is zero pressure to merge it.

[2019-09-02 14:56] aaugustin commented on #304
I'm currently working on refactoring websockets to provide a sans-I/O layer. If it's ready within a reasonable timeframe, perhaps you could use it. It will handle correctly a few things that wsproto doesn't, if the comments I'm seeing in wsproto's source code are correct.

One of my issues with sans-I/O is the prohibition async / await, making it impossible to provide a high-level API. For this re

[2019-09-02 15:05] yeraydiazdiaz commented on #203
I'm happy to lend a hand on this @sethmlarson. Does it depend on #259?

[2019-09-02 15:14] sethmlarson commented on #203
It'll definitely intersect on the configuration stage on the client but the dispatcher implementation is separate, let's start by getting a sans-I/O implementation of SOCKSv4 and v5 w/o dependencies and go from there.

I actually think that the sans-I/O implementation should be it's own library, maybe on the python-http org, but it can start on one of our personal accounts. Would you like to be th

[2019-09-02 15:40] yeraydiazdiaz commented on #203
I'll definitely need some help so it might be easier if it's all setup in non-personal repo from the start 🙂

[2019-09-02 16:22] sethmlarson opened #306 "Add support for SSL_CERT_FILE, REQUESTS_CA_BUNDLE, and CURL_CA_BUNDLE"
Part of #33 these three environment variables all have the same behavior, to specify where a CA bundle is if none are specified by default and `trust_env` is True.

We should check the three environment variables in the order above, as SSL_CERT_FILE is a PEP and a standard whereas the other are products of other projects.

If multiple are set and that file doesn't exist we should skip it and try t

[2019-09-03 01:41] sethmlarson commented on #148
This is done! :)

[2019-09-03 01:41] #148 closed

[2019-09-03 03:59] x0day opened #309 "h11._util.LocalProtocolError: Too little data for declared Content-Length"
client POC:

[code]

app POC:

[code]

log:
[code]

[2019-09-03 04:44] sethmlarson commented on #309
Thanks for the POC! Looks like the debug logging is coming in handy already :) It looks like we're not persisting the data parameter on redirects, we should be doing that.

[2019-09-03 05:08] florimondmanca commented on #309
@sethmlarson Should we? This is a case of 302 redirect from POST, and I believe in that case we redirect with GET (see [here](https://github.com/encode/httpx/blob/master/httpx/middleware.py#L113)) and strip out any body, just like browsers do (see [here](https://github.com/encode/httpx/blob/master/httpx/middleware.py#L157)). So what I think we’re missing is updating the content-length header to ac

[2019-09-03 07:42] florimondmanca commented on #137
Hey, should we make use of milestones to track work left to do for 1.0? And perhaps pin this issue so we can easily find it back/keep focus? :)

Also I think we can tick “Review Auth/retry interface” thanks to middleware?

[2019-09-03 10:01] tomchristie commented on #137
Probably, yes. There's certainly at the very least a clear distinction between "stuff required for 1.0" and "stuff not stictly required for 1.0", and it'd be good for us to start to narrow in on the target at this point.

[2019-09-03 12:22] tomchristie commented on #148
A sensible thing to do would be to mandate that *all* changes come via a pull request.

That should include version bumps, which should include a changelog update.
I don't think we can entirely automate that, as it's still up for review. (Eg. ensuring descriptions are clean, ensuring that we only inclulde stuff that's a public facing issue, rather than eg. docs PRs)

[2019-09-03 12:57] tomchristie commented on #306
Coming back to this again - do we really want all three of those environment variables, or should we be trying to keep things a bit more narrow?

I know I referenced REQUESTS_CA_BUNDLE in #33 in the first place, but it's not so clear to me now if we should be trying to keep it slimmer.

[2019-09-03 13:42] tomchristie commented on #309
Confirming @florimondmanca, yup. I've taken a crack at this in #310, tho not added a test case yet.

Also highlighted a coupla of things that look off to me right now.

[2019-09-03 14:10] florimondmanca commented on #306
I suppose REQUEST_CA_BUNDLE is a Requests-specific environment variable, right? The main argument to keeping it is compatibility with Requests, but now that we’ve got SSL_CERT_FILE was a PEP standard it might be one of those changes we could document along with the more modern alternative we suggest.

[2019-09-03 14:26] tomchristie commented on #306
Yeah, I think our starting point should be the PEP - https://www.python.org/dev/peps/pep-0476/#trust-database - Ie. let's support `SSL_CERT_FILE` and `SSL_CERT_DIR`.

We could always walk back from that point to add support requests and curl style env vars in addition, but I don't think it's obvious if we want to do that or not.

[2019-09-03 14:42] StephenBrown2 commented on #306
Definitely in support of only `SSL_CERT_FILE` and `SSL_CERT_DIR`.

[2019-09-03 14:58] agronholm commented on #296
One question: has anyone evaluated AnyIO to see if it *could* serve as a replacement for your concurrency backends? Does it have all the necessary features?

[2019-09-03 15:02] tomchristie commented on #296
From a glance over the docs it *looks* like it's got everything we'd need, yup. (But that's about as much depth as I'd gone into)

[2019-09-03 16:51] florimondmanca commented on #148
I think #291 was a good way to go in this regard. 👍

[2019-09-03 18:13] sethmlarson commented on #309
@florimondmanca Reasons why I shouldn't espond to issues at midnight haha :) thanks for setting this on the right track!

[2019-09-04 09:07] tomchristie opened #311 "Contributing Guide - Helping our users resolve build failures."
Prompted by this comment: https://github.com/encode/httpx/pull/153#issuecomment-527521556 (And a thousand and one other similar cases, where folks are getting stuck in and trying to help, but need some assistence indentifying the cause of a failing build.)

If we're feeling particularly proactive, we might want to try to help folks identify and understand build failures more clearly, eg including

[2019-09-04 11:50] florimondmanca opened #313 "Contributing guide - Release process"
Inspired by #311, I had been thinking that it would be good for maintainers (at least personally) to document the versioning and release process: what operations to perform, in what order, with what requirements/permissions etc.

In other projects of mine I usually add a “Notes to maintainers” section to the contributing guide (maintainers are contributors as well, right?) with this kind of inform

[2019-09-04 11:59] tomchristie commented on #313
Yes, 100%.

Related to this: I think I would like us to bring back the `scripts/...`, in whatever way works best so that `nox` supplements them, rather than replaces them.

(Eg. pushing a release should be `scripts/release` - then we know we've got a nice reproducible process, always.)

[2019-09-04 12:01] tomchristie commented on #296
Counter-intuitively, the low-impact way of exploring this would be to implement an alternate concurrency backend, that *uses* AnyIO.

[2019-09-04 12:02] florimondmanca commented on #313
Cool, so https://github.com/encode/httpx/issues/239 should get in first I suppose? :)

[2019-09-04 12:05] tomchristie commented on #313
Yeah. We probably also want to look at if we actually need the `MANIFEST.in` - that's only be introduced since 0.7.1 - not clear to me what *exactly* changed vs. prior release process.

[2019-09-04 13:18] #280 closed

[2019-09-04 17:52] GnubiBORED commented on #202
@sethmlarson i downloaded these
e

[2019-09-04 17:54] GnubiBORED commented on #202
also with
`client = httpx.Client(
    proxies={"http": proxy, "https": proxy}
)`
i get
`    proxies={"http": proxy, "https": proxy}
TypeError: __init__() got an unexpected keyword argument 'proxies'

Process finished with exit code 1
`

[2019-09-05 07:42] yeraydiazdiaz opened #316 "Enforce 100% test coverage"
As [previously commented](https://github.com/encode/httpx/pull/312#issuecomment-527869994) we should enfoce a 100% test coverage while testing locally and in CI.

[2019-09-05 09:13] tomchristie opened #317 "Deletion of non-existent keys from `Headers` should raise KeyError."
Prompted by  #310

To replicate:

[code]

To resolve this issue we'll need to:

* Ensure that deletion of non-existant keys raises a KeyError.
* Ensure that we have a `.pop(key, default)` that we can use instead for removal without KeyErrors.
* Replace instances of `del headers[key]` in our codebase with `headers.pop(key, None)` where appropriate.

[2019-09-05 09:17] tomchristie opened #318 "Away-from-origin redirects should add a new host header"
Prompted by #310

Away-from-origin redirects currently remove the `Host` header, without adding a new one.
I think we ought to be using `headers['Host'] = url.authority.encode("ascii")` instead of simply deleting the header.

[2019-09-05 09:21] #309 closed

[2019-09-05 09:28] tomchristie commented on #285
Current releases have this covered now:

https://github.com/encode/httpx/blob/67d96b6522db689a51066897832e6c580b5c580d/setup.py#L57

Assuming it's okay to close this off. Good call on the issue, @sethmlarson!

[2019-09-05 09:28] #285 closed

[2019-09-05 18:22] sethmlarson commented on #203
I pushed the initial commit: https://github.com/sethmlarson/socks
Feel free to make massive changes as nothing currently works E2E, it's just a result of me programming a few hours.
I've sent collaborator requests to everyone interested. :)

The repo will live under python-http once we release for the first time!

[2019-09-05 21:05] gdhameeja commented on #318
I would like to work on this.

[2019-09-05 21:08] sethmlarson commented on #318
@gdhameeja Consider the task yours :) Thanks for taking this on!

[2019-09-05 21:30] gdhameeja commented on #317
I would like to work on this.

[2019-09-06 01:30] #318 closed

[2019-09-06 01:31] sethmlarson commented on #317
Sounds good to me! :) Thanks!

You can start working on any issues without me assigning you, a comment in the issue should be enough to signal to others that you're working on it.

[2019-09-07 18:34] gdhameeja commented on #306
I would like to work on this.

[2019-09-07 18:35] gdhameeja commented on #283
I would like to work on this.

[2019-09-07 18:47] sethmlarson commented on #306
@gdhameeja This issue is already being worked on by @cansarigol, you can take a look at the PR here if you'd like to give comments: https://github.com/encode/httpx/pull/307

[2019-09-08 02:31] #317 closed

[2019-09-08 09:50] florimondmanca opened #327 "HTTP/1.1 keep-alive connections not reestablished if remote has gone away"
Related:

- https://github.com/encode/httpx/pull/276#issuecomment-528244818
- https://github.com/encode/httpx/pull/276#discussion_r321999300

## Use case

- Create an HTTPX client.
- Make a request to remote A.
- For some reason, connection to remote A gets lost (e.g. we restart our WiFi, or remote A goes down, or our ISP has issues, …).
- Make another request.

## Expected behavior

According to

[2019-09-08 10:20] florimondmanca commented on #327
OK, nevermind. My example wasn't working because of this naive blocking `input()` call, which prevented asyncio from running its background socket polling and detecting the EOF. No bug to report here, we're all good!

[2019-09-08 10:20] #327 closed

[2019-09-08 13:04] #174 closed

[2019-09-08 22:33] sethmlarson opened #328 "Can't handle URLs with @ character in userinfo section"
[code]

This is a common use-case for proxies and websites using email addresses as usernames for authentication.

This might require a change in `rfc3986` or the way we parse URLs. :)

[2019-09-09 19:43] cansarigol commented on #328
Hi @sethmlarson I've pushed a [PR](https://github.com/python-hyper/rfc3986/pull/59) about this topic. Could your review it?

[2019-09-09 20:59] VeNoMouS opened #331 "Full Debug / Dump of a Request"
Is there any functionality that replicates __dump__ from __requests_toolbelt.utils__ , that dumps out full headers and content etc from the response so you can debug your requests... as I cannot find any reference to debugging in the documentation...

IE in requests

[code]

Would result in..

[code]

Cheers

[2019-09-10 00:49] sethmlarson commented on #331
This wouldn't be too hard to implement.  IMO we should look to requests-toolbelt for inspiration on how some functionality like multipart form encoding to work like that by default. Toolbelt is basically Requests+

[2019-09-10 13:31] StephenBrown2 commented on #331
Agreed. I too wanted that functionality and so copy-pasted toolbelt's version and tweaked it for httpx, making it much less configurable in the process:

[code]

This could also be done with a LoggingDispatcher, and I would be my preferred method I think, but I haven't actually implemented that just yet. Take this as inspiration, but not a definitive answer.

[2019-09-10 22:48] sethmlarson commented on #331
You could probably use the newly added middleware support :D

[2019-09-11 06:02] florimondmanca commented on #331
Do we allow wrapping other middleware from the outside already? Don’t think we do, and that might be a nice next step as well as documenting things. :)

[2019-09-11 10:13] tomchristie opened #335 "Questions on collaboration style"
This is prompted in part by an insightful [comment from @agronholm](https://github.com/encode/httpx/issues/296#issuecomment-526471466)...

I've got a couple of open questions around our collaboration style, and trying to figure out if we can be working on this more efficiently. Although we [did explore the space](https://github.com/encode/httpx/issues/78), I hadn't realized that work is still acti

[2019-09-11 10:20] agronholm commented on #296
I would happily participate in the discussion at #335 but I cannot as it's limited to collaborators only :)

[2019-09-11 11:53] florimondmanca commented on #335
Brain-dumping some ideas here…

I've looked a bit at the urllib3 branch on the `python-trio` org, and I can see how much work duplication is going on. [urllib3 backends](https://github.com/python-trio/urllib3/tree/bleach-spike/src/urllib3/_backends) is similar to our concurrency backends. They seek [SOCKS support](https://github.com/python-trio/urllib3/issues/77), and are starting to look at a [hi

[2019-09-11 12:27] sethmlarson commented on #331
Ah right, sorry! I'm just too excited about custom middleware. :)

[2019-09-11 20:38] paulchubatyy opened #336 "Question: Enforce HTTP version for particular request"
Hey, thanks for sharing this great library with the community.

Is there a documented way of enforcing particular HTTP protocol version per request?
Say I want to make http/1.1 request to the server and make http/2 request to the same server and validate if the response headers are matching my rules.

Thanks

[2019-09-11 20:49] sethmlarson commented on #336
That functionality isn't available currently, it feels like a pretty narrow use-case. The best workaround is probably to have two clients one configured for each HTTP version.

[2019-09-11 20:51] florimondmanca commented on #336
Hi @paulchubatyy 👋

Following up on @sethmlarson's hint, we actually have an (apparently not documented yet? 👀) `http_versions` parameter on the `Client`/`AsyncClient`, which you can use to perform HTTP/1.1-only or HTTP/2-only requests, e.g.:

[code]

I believe @tomchristie left out the per-request HTTP configuration in https://github.com/encode/httpx/pull/241 as it didn't seem to be a generally u

[2019-09-12 20:33] jaredcm opened #338 "Missing requests' elapsed property on Response object."
The requests Response object has an elapsed property which returns a datetime.timedelta instance. This appears to be missing from the httpx Response.

A nice to have feature would be to break elapsed into more fine-grained timings similar to Firefox's web inspector (Blocked, DNS resolution, Connecting, TLS setup, Sending, Waiting and Receiving).

[2019-09-13 14:42] sethmlarson commented on #242
I'm starting this work on the repo sethmlarson/tls-issues where you will feed the ssl.SSLError instance and the getpeercert() optionally into the module and it hands you back an "Issue" object with a better error message and a category. We can take the message and then generate documentation links for each of the categories like `CERT_EXPIRED`.

I ran HTTPS on the top 20K Alexa websites to find in

[2019-09-13 17:31] florimondmanca commented on #242
Sounds great @sethmlarson, looking forward to see what https://github.com/sethmlarson/tls-issues ends up like. :) Building a library to interpret SSL errors is a neat implementation idea.

[2019-09-13 18:45] florimondmanca commented on #275
I don't know enough about HTTP/3 to tell (for example, I'm not sure what the differences between QUIC and HTTP/3 and the associated aioquic APIs are?), but the approach highlighted by @sethmlarson sounds sensible to me. One thing I'm sure of is that we'll need to cut this work into multiple PRs to help with review and incremental improvements.

Yup, and UDP support is definitely going to be a big

[2019-09-13 19:51] sethmlarson commented on #275
Lots of great info @florimondmanca!! 🎉

I'm going to chime in here again at the idea of using AnyIO and adding our stream interface to that?

[2019-09-13 20:12] florimondmanca commented on #275
As in, using AnyIO (see #296) to build `ConcurrencyBackend.connect_udp()` on top of their [UDP sockets API](https://anyio.readthedocs.io/en/latest/networking.html#working-with-udp-sockets)? I'm not against the idea but it *might* be a bit too much for this particular issue. It could be a preliminary step but we haven't decided yet on whether we should switch over to AnyIO.

[2019-09-14 12:11] edocod1 opened #342 "request.close or AsyncClient.close?"
Hello,
I'm using httpx as Async but i'm having issues with connections never being closed and reaching the socket limit on my server.

I can see that both the async client and the request have a close() method. However, I cannot understand what they're supposed to do, or well - which one I'm supposed to use.
Would it be possible to have more clearer documentation on this?.

[2019-09-14 12:44] florimondmanca commented on #342
Hi @edocod1,

I'm assuming you are invoking the client [as shown in the docs](https://www.encode.io/httpx/async/), i.e.:

[code]

Switch to a context manager syntax should close all requests/responses/connections on exit:

[code]

Let me know if this could help with the connection issue. :) Without more information on your particular setup/code it's hard to help more.

[2019-09-15 09:56] edocod1 commented on #342
Oh so the AsyncClient has a context manager syntax...
I'm gonna try switching to that, to see if I keep leaking connections. Additionally, consider i have a list like this:

`links = ['//site.com/hello.jpg', '//site.com/bye.jpg', '//different.yes/another.jpg', '//site.com/ofcourse.jpg, '//site.com/yes.jpg']`

and i ran it in a loop:

[code]

To my understanding it would do something like this:
- o

[2019-09-15 10:38] florimondmanca commented on #342
You're correct. A keep-alive connection to one site isn't dropped when you request another one (that's actually the purpose of the internal connection pool).

About the retry extension, the `.get()` method is one level of abstraction above the connection pool, so connections should all be automatically managed and cleaned up as usual. (A note on the code: you should probably be using `self.log` in

[2019-09-15 11:27] florimondmanca opened #343 "Documentation lagging behind?"
There are a few pieces of public functionality that are not properly documented yet.

For example:

- `async with` syntax for the `AsyncClient` (see #342) — I'll push a PR for this soon.
- Request/response streaming (should probably part of the Advanced Usage section).
- Basic/Digest/Custom authentication (only the `auth` parameter is documented in the Developer Interface, but there's no usage gui

[2019-09-15 11:30] florimondmanca commented on #342
@edocod1 It turns out I was wrong about the necessity of calling `response.read()`. Actually, you only need to do so if you're using response streaming, e.g. `await client.get(..., stream=True)`. I'll update my comment with a fix.

[2019-09-15 12:23] florimondmanca opened #345 "Public middleware API"
**Problem**
We currently have an internal middleware API that was brought in via #295 and #268.

We should be looking at making that API (or a different form of it?) public so that users can extend the functionality of the client to fit their needs.

For example, a retry functionality (discussed in https://github.com/encode/httpx/issues/108 and drafted in https://github.com/encode/httpx/pull/134 t

[2019-09-15 12:33] florimondmanca commented on #137
I went ahead and marked a bunch of issues (both open and closed) as part of v1.0: https://github.com/encode/httpx/milestone/1. I also edited the issue description with more related issues so we can better see whether we addressed the various points in the near future.

[2019-09-15 12:38] florimondmanca commented on #342
@edocod1 Feel free to take a look at #344 which proposes a documentation update. :)

[2019-09-15 12:56] florimondmanca opened #346 "Does detection of lost connections implicitly depend on asyncio?"
I'm mostly opening this to track the issue — I'll try to tackle this based on the trio backend in #276, and see what could work, e.g. setting up a background task to check for socket readability.

Worth mentioning though that [anyio already seems to handle this quite well](https://anyio.readthedocs.io/en/latest/api.html#anyio.wait_socket_readable).

---

The `Stream` interface exposes a `is_connec

[2019-09-15 13:44] florimondmanca commented on #346
It seems I tangled myself up on the previous discussions and the counter-intuitive notion of *readability*. As I said, in the asyncio case checking for EOF is *good enough*, because a socket that reached EOF in the sense of asyncio is also readable (right?). So the code might just need some comments, which I added in https://github.com/encode/httpx/pull/276/commits/c5427357fa568e1571ec2d17a4d16298

[2019-09-15 13:44] #346 closed

[2019-09-15 15:20] sethmlarson commented on #343
Maybe we need to be mindful of creating documentation issues before the feature PR lands and linking them together. Within the PR's life-cycle we can ask the author if they want to handle the docs post-merge otherwise it can be taken up by maintainers.

I think for maintainers it's reasonable to expect documentation within the PR that adds a feature requiring documentation.

[2019-09-15 15:52] #201 closed

[2019-09-15 15:52] #202 closed

[2019-09-15 16:29] #342 closed

[2019-09-15 16:53] edocod1 commented on #342
Thank you very much for the help and suggestions! I was able to fix it.
Have a nice day

[2019-09-15 19:43] njsmith commented on #346
Yeah, the current way of detecting stale connections on asyncio isn't *optimal*, in the sense that it will occasionally think a connection is ok when it's actually been closed by the server. But it's just a bug in that backend, that doesn't affect other backends, and the impact is just that this heuristic is a bit less reliable than it could be.

In particular, this thing that I said and you quote

[2019-09-15 19:54] florimondmanca commented on #346
Yes, I think I understand that there’s actually not really a dependency there. Thanks for clarifying!

[2019-09-16 04:31] kesavkolla commented on #345
Yes this would be a great help.  Specially I'm looking for an usecase for supporting OAuth2.  I want the middleware ability so that I can add logic for getting OAuth token and attach required bearer header to actual request.

[2019-09-16 06:24] florimondmanca commented on #345
@kesavkolla Actually, the `auth` parameter also accepts a `request -> request` callable to modify the request before sending it (this is not yet properly documented, see #343). Without knowing the details of OAuth2, here's a proof-of-concept example:

[code]

[2019-09-16 07:33] kesavkolla commented on #345
It's not just injecting the header.  There can be more auth flow that need to be executed.  If token is expired need to call an API to refresh token etc...  I was looking something similar to https://github.com/requests/requests-oauthlib

[2019-09-16 10:27] yeraydiazdiaz commented on #343
I'd prefer requiring documentation changes as part of the PR, I feel I could forget otherwise (and indeed I have forgotten with the Digest auth).

If maintainers feel the PR is being delayed we can offer help or maybe push commits with small fixes.

[2019-09-16 11:22] florimondmanca commented on #345
Okay so, I took a look at what the `OAuth2Session` is doing, and I'm not sure the current middleware API enables that use case, and I don't even think it should.

The high-level API of `requests-oauthlib` requires the user to interact with a special kind of Requests session. But you wouldn't be able to interact with middleware directly, because once registered they're basically buried in the clien

[2019-09-16 11:38] Trim21 opened #349 "[Feature Request]: raise httpx exception instead of buildin ConnectionResetError and ConnectionError"
This is a feature requests instead of bug report.

I'm using `requests` in my web server to request upstream api. So I can handler all `requests.RequestException` in my middleware and return a `502 upstream` error.

But after I migrated to `httpx`, httpx doesn't have such exception when issuing a http(s) request, it will raise `httpx.ConnectTimeout`, buildin `ConnectionError` and `ConnectResetErro

[2019-09-16 11:46] florimondmanca commented on #349
Hi @Trim21,

I think we're going to need a bit more context to address this issue. :-)

- What were you trying to do?
- Can you share a minimal reproducible example?
- A traceback of the error?

Thanks!

[2019-09-16 11:50] Trim21 commented on #349
@florimondmanca Sorry, I submit this issue by accident and I'm still writting details.

[2019-09-16 12:20] florimondmanca commented on #349
Thanks for updating the description. :) I'm not entirely sure on this myself, I'll ping @tomchristie on this one.

[2019-09-16 15:33] StephenBrown2 commented on #343
I'm also in favor of docs-with-changes, as they can get missed otherwise and are easier to write when the code it's documenting is fresh in the contributor's mind.

[2019-09-16 19:13] euri10 opened #350 "Test client usage question: how to trigger lifespan startup and shutdown ?"
I have an issue switching from the `TestClient` from [async_asgi_testclient](https://github.com/vinissimus/async-asgi-testclient) to the `httpx.AsyncClient` :  the startup and shutdown events of my app aren't triggered by the latter.

It's probably a bad usage on my end, but if anyone could pinpoint what I'm doing wrong it would be of tremendous help,

I wrote a small set of 2 tests below to bette

[2019-09-16 19:23] florimondmanca commented on #350
Hi @euri10, I think what you are seeing is the intended behavior: the HTTPX client isn’t tied to your Starlette app, so if you want to create a client *and* trigger event handlers on the app, you must enter both context managers:

[code]

[2019-09-16 22:42] sethmlarson commented on #349
Probably because we don't capture any `socket.error` or `socket.gaierror`.

[2019-09-17 00:43] rowillia commented on #338
I can take a crack at this!  This project looks super interesting and looking to get started.

[2019-09-17 02:53] sethmlarson commented on #350
cc @tomchristie

[2019-09-17 05:55] euri10 commented on #350
neat workaround indeed, however it feels awkward to have to use 2 testclients ! is it worth opening a feature request on Starlette to get async support for the TestClient there ?

[2019-09-17 07:52] florimondmanca commented on #349
I remember that Trio already wraps errors such as ConnectionResetError into its own exceptions, eg BrokenResourceError. That means whatever wrapping we do needs to occur at the concurrency backend level. :)

[2019-09-17 07:56] Trim21 commented on #349
@florimondmanca I'm sorry, I'm not familiar with `trio`. What's the relation between `trio` and `httpx`?

[2019-09-17 08:11] florimondmanca commented on #349
@Trim21 HTTPX supports the async/await syntax, which under the hood requires us to work with a library able to perform asynchronous operations. Right now we only support asyncio (which is part of the standard library), but we’ve got plans for supporting alternatives such as trio - see #120. The « concurrency backend » I mentioned in my comment is an internal interface we use to abstract away from

[2019-09-17 08:21] Trim21 commented on #349
@florimondmanca thanks for your explanation

[2019-09-17 10:37] tomchristie commented on #335
Thanks @florimondmanca - some *great* pointers there.

[2019-09-17 13:10] florimondmanca commented on #350
I think it *does* make sense in terms of separation of concerns: it probably shouldn't be HTTPX's concern to startup/shutdown the ASGI app it was given, should it? (Besides, what would happen if HTTPX *did* call lifespan events by sending a `lifespan.startup` ASGI message while the app was already started from somewhere else?)

Also, regardless of the outcome of this issue, I'd be in favor of docu

[2019-09-18 17:59] sethmlarson opened #354 "Change trustme.CA() usage to mimic real-life"
We need to change our usage of `trustme.CA()` to allow doing TLS verifications within the unit test suite.

What this would look like:
- Global level `CA` object
- Fixture for an issued cert
- The private key and public PEM `.tempfile()` calls for these two components
- Switch the `https_server` instance to use the issued private key and public PEM.
- Switch all HTTPS tests to use the CA's PEM (no

[2019-09-18 18:09] sethmlarson opened #355 "Add a new backend to be tested with asyncio+uvloop"
Since we have the niceness of multiple backends getting tested in our test suite it'd be nice to add asyncio+uvloop to the list to ensure compatibility.

[2019-09-18 18:29] #338 closed

[2019-09-18 18:48] JayH5 commented on #354
@sethmlarson this looks (hopefully) straightforward. I can give it a go as my first issue if you like?

[2019-09-18 19:05] sethmlarson commented on #354
That would be awesome! Reach out if you run into any roadblocks or have questions. :)

[2019-09-18 19:34] florimondmanca commented on #293
Lemme drop this here @sethmlarson 🙃 https://twitter.com/sethmlarson/status/1174396408276955137?s=21

[2019-09-18 19:40] rowillia opened #356 "Should `BaseTCPStream.is_connection_dropped` be async?"
Looking at the urllib3 implementation of `is_connection_dropped` (https://github.com/urllib3/urllib3/blob/f7a4bed04085975918b3469bf94e195df9faf29a/src/urllib3/util/connection.py#L7-L26) it looks like their (pretty robust and battle tested 😄) implementation will sometimes block when testing if a connection is dropped (eventually calls into https://github.com/urllib3/urllib3/blob/f7a4bed04085975918b

[2019-09-18 19:44] sethmlarson commented on #293
That'd be a true 💪 flex if I ever saw one.

[2019-09-18 19:55] florimondmanca commented on #356
Interesting point! The fact that [trio.hazmat.wait_readable() is async too](https://trio.readthedocs.io/en/stable/reference-hazmat.html#trio.hazmat.wait_readable) seems to support this. :)

Please do! Questions and suggestions from fresh eyes are invaluable. 🙌

[2019-09-18 23:59] #354 closed

[2019-09-19 11:16] florimondmanca opened #359 "Releasing 0.7.3"
Hi @encode/httpx-maintainers!

It’s been 21 days since 0.7.2 was released, and we’ve got [a bunch of features](https://github.com/encode/httpx/compare/0.7.2...HEAD) ready for 0.7.3 already, eg:

- Digest auth
- SSLKEYLOGFILE
- Response.elapsed
- A host of bug fixes

So regardless of what gets merged until then I think it’s time to release the next version. :)

As suggested by @sethmlarson I-cant-r

[2019-09-19 11:22] iwoloschin commented on #96
I also had this error with httpx 0.7.2 while communicating with a FastAPI based application running straight on Uvicorn (no gunicorn).  This specific issue was against a brand new endpoint I just added in, but other similar endpoints have worked fine with requests for quite some time now.  I have not yet had a chance to dig into logs, will do that later today and try to post back something more us

[2019-09-19 11:49] sethmlarson commented on #96
@iwoloschin Yes but we should be able to handle that sort of issue gracefully from the HTTPX side. You shouldn't be getting an `h11` exception.

[2019-09-19 11:57] sethmlarson commented on #359
Yep, definitely time to release. Maybe I'll try to get the proxy config PR in before but if not it's fine to ship without. :)

[2019-09-19 12:01] florimondmanca commented on #359
Yes, it can make it in 0.7.4 too. :)

I was wondering — what’s the policy for minor bumps? Breaking changes I guess?

[2019-09-19 12:14] iwoloschin commented on #96
@sethmlarson I won't argue about that :).  I'd much prefer only having to think about HTTPX exceptions when using HTTPX!

I've added some logging and kicked off another test.  It's not a fast test and the issue appears to have been intermittent, so I might not have any results for a while and if it's truly intermittent I may never get results (but hey, no errors is good too, right...?).

[2019-09-19 12:15] sethmlarson commented on #96
@iwoloschin Are you aware of `HTTPX_DEBUG=1` for debugging high-level events happening within HTTPX? :)

[2019-09-19 13:18] iwoloschin commented on #96
Nope!  I'll take a look at that.

My re-test failed with a `httpx.exceptions.ReadTimeout` on a different endpoint that should take less than a second.  I'm leaning towards my problem with the h11 exception being my server crashing.  I'll still second a vote for encapsulating exceptions to only throw HTTPX exceptions.

[2019-09-19 13:19] sethmlarson commented on #359
I guess so? There aren't any API guarantees for 0.X under SemVer though.

[2019-09-19 13:44] sethmlarson opened #360 "Add support for the NO_PROXY environment variable"
The `NO_PROXY` environment variable is described here:

- http://www.gnu.org/software/wget/manual/html_node/Proxies.html
- https://github.com/psf/requests/blob/840540b6b1f07ef87faab73392c03fbef0dcc9fe/requests/utils.py#L395

In order to accomplish this task we'd need:
- Implementing NO_PROXY, a list of hosts that will bypass the proxy if found within the list.
- Only enabled if `trust_env=True`
-

[2019-09-19 15:30] kylebebak commented on #193
@andrewmwhite @sethmlarson

Hey all, I just did `pip install httpx` to install httpx v0.7.2.

There is still no `py.typed` file in `/usr/local/lib/python3.7/site-packages/httpx/`. All of the other files, like `api.py`, `__init__.py`, etc are present, but `py.typed` isn't.

Consequently, mypy still can't find types for httpx.

From what I can tell, this PR was merged before 0.7.2 was released, so t

[2019-09-19 15:36] sethmlarson commented on #193
Yep, verified this is a bug. We need to add an entry to MANIFEST.in.

@florimondmanca can we get this done before release?

[2019-09-19 15:53] florimondmanca commented on #193
@sethmlarson Sure :)

[2019-09-19 16:02] sethmlarson commented on #193
That was my big question too, weird.

[2019-09-19 16:13] sethmlarson commented on #193
Thanks for reporting this @kylebebak, it'll be fixed in 0.7.3! :)

[2019-09-19 19:22] yeraydiazdiaz commented on #293
Big 👍 from me.

I'm still unclear on how `httpx` would work on multithreading/multiprocessing situations though given that we use `run_in_executor` for our sync story. If I recall correctly libraries like [elasticsearch-py](https://elasticsearch-py.readthedocs.io/en/master/helpers.html) are heavily based on threading/processing solutions. Maybe it's worth investigating separately?

[2019-09-19 21:00] elwinmartin commented on #360
@sethmlarson Hi Seth!

I would love to work on this if I could!

I'm mostly familiar with this library as a user but I think the context provided should be clear enough to adapt this for httpx.

[2019-09-19 21:04] sethmlarson commented on #360
That would be awesome!! I'll assign the issue to you :)

If you have questions or doubts feel free to reach out here and we'll try our best to help.

[2019-09-20 12:15] gdhameeja commented on #355
I'd like to work on this.

[2019-09-20 15:42] sethmlarson commented on #359
@florimondmanca FYI I added you to the PyPI project along with @yeraydiazdiaz. Didn't realize I was an Owner! :)

[2019-09-20 17:33] #33 closed

[2019-09-20 19:05] #359 closed

[2019-09-20 19:23] sethmlarson commented on #202
@GnubiBORED @adrianmeraz Proxies are in the latest release! :tada: Could you give them a try?

[2019-09-20 23:23] thebigmunch opened #365 "Some API oddities/possible oversights"
While I was working on porting my [google-music](https://github.com/thebigmunch/google-music) library to httpx using pared down oauth2 code borrowed from requests-oauthlib (see the quick stab at it [here](https://github.com/thebigmunch/google-music/tree/httpx) if interested), I noticed some API oddities/differences from requests even with the relatively small amount of usage in my library.

* ``Ba

[2019-09-21 07:12] #313 closed

[2019-09-21 09:05] florimondmanca commented on #283
Is this actually an issue for us?

`h2` sets its `HIGHEST_ALLOWED_STREAM_ID` to 2^31 - 1, which is ~2^30 streams we can open (client-side stream IDs are always odd), i.e. about 1M streams. Are we ever going to open that many connections, and still want to open *more* after that point? Surely the `MAX_CONCURRENT_STREAMS` limit imposed by `h2` (100 by default) will hit us before that.

[2019-09-21 10:09] JayH5 commented on #256
I can work on a compatibility layer of sorts for this ✋

[2019-09-21 10:12] Senpos opened #366 "Query params should support list-of-strings values."
Hi,

I recently tried to use `httpx` instead of `requests` in my simple app that calls few API endpoints and  suddenly it did not work.

The problem here is that `httpx` and `requests` process query parameters differently.

Here's a simple script to see how both libraries process `params`:
[code]

Results:
[code]

If we try to parse the query string `httpx` produced, here's what we get:
[code]
Res

[2019-09-21 10:21] Senpos commented on #366
Here's a bit more "live" example:
[code]

Results:
[code]

[2019-09-21 11:00] florimondmanca commented on #366
Hi @Senpos! Thank you for reporting this.

I can confirm this is a bug: multivalued query params are encoded in the form of a Python list. I discovered it in #298 but didn't think about open an issue:

https://github.com/encode/httpx/blob/39348dd969a8900b682921566456342881ce396f/tests/compat/test_requests.py#L1006-L1019

[2019-09-21 11:02] florimondmanca commented on #365
Thanks @thebigmunch, IMO these are all valid points. :)

[2019-09-21 11:05] florimondmanca opened #367 "HTTPError should be importable frop the top-level httpx package"
From #365:

Put differently, `HTTPError` is missing from `httpx/__init__.py`. Adding it would allow us to do:

[code]

[2019-09-21 11:11] florimondmanca opened #368 "`params` is missing from `Client`/`AsyncClient`"
From #365:

Put differently, we would like to be able to define default query parameters on the client so that they are included by default in requests:

[code]

Solution hints:

- Update `BaseClient` constructor to accept the `params` parameter.
- Create a `.params` property similar to `.headers` and `.cookies`.
- Add a `.merge_query_params()` method similar to `.merge_headers()`.
- Update `.buil

[2019-09-21 11:25] florimondmanca commented on #365
I opened separate issues for the last two points you reported.

As for the auth issues:

- I do agree that we should be hiding the "middleware" part of it, as it is indeed an implementation detail, because the middleware API is still internal.

- As far as naming is concerned, the point in time we decided to use `DigestAuth` instead of `HTTPDigestAuth` is here: https://github.com/encode/httpx/pull

[2019-09-21 12:09] thebigmunch commented on #365
I also agree that the ``HTTP`` is unnecessary as well, for what it's worth. This is an HTTP client package named ``httpx`` after all : P

I also don't believe a strict 1:1 compat with requests is necessary or necessarily preferable. Frankly, for all the good parts of its API, there is also plenty that could have been better (e.g. see Brett Cannon's [blog post](https://snarky.ca/looking-for-commona

[2019-09-21 15:00] sethmlarson commented on #365
Hey @thebigmunch! I'll start off by saying thank you for being one of the first to take the Requests -> HTTPX migration path, especially for a library. Your perspective is invaluable ❤️.

I'm kinda -1 about aliasing, we definitely need better docs about migrating from Requests though! Don't really have an opinion about reexporting in the `auth` module, if it'll help users migrate then it sounds li

[2019-09-21 16:05] sethmlarson commented on #356
Deferring these changes until we need them, thanks @rowillia! :heart:

[2019-09-21 16:05] #356 closed

[2019-09-21 16:10] #120 closed

[2019-09-21 16:30] sethmlarson commented on #283
Stream space is number of requests on a single connection, since each request requires its own stream.  The concurrent streams limit is the number of requests you're allowed to have outstanding before making a new request.

[2019-09-21 16:33] sethmlarson opened #370 "Disallow setting Cookies on domains suffixes on the Public Suffix List"
This feature prevents putting a cookie on a domain prefix that multiple parties are capable of registering sub-domains with.

Public Suffix List: https://publicsuffix.org

There are two libraries in existence already (`publicsuffix` and `publicsuffixlist`) however they both are in the same boat of not providing a sans-I/O way of updating the list when it's too old and also don't update their pre-p

[2019-09-21 16:52] florimondmanca commented on #283
OK, I think we're on a common ground then.

What puts me off is this:

https://github.com/python-hyper/hyper-h2/blob/385ced7d30a7ccb9b3f163f1bc4e90cf2f4ee184/h2/connection.py#L617-L651

Essentially, we can only get a `NoAvailableStreamIDError` when the `HIGHEST_ALLOWED_STREAM_ID` is reached, which is when we're making 1M requests to the same host via a single connection. How likely is that to happ

[2019-09-21 17:05] sethmlarson commented on #283
It's not likely in everyday usage but it's a part of being a consumer of the `h2` library.  I can see it eventually happening for servers with connections to external APIs.

[2019-09-21 17:08] Trim21 commented on #349
will this be a feature of 1.0 ?

[2019-09-21 17:17] sethmlarson commented on #349
It'll probably be in before 1.0, just requires a contributor to do the work! :)

[2019-09-22 05:55] gdhameeja commented on #367
I'd like to work on this.

[2019-09-22 09:29] jlaine commented on #275
I don't see why the different connections should have any kind of coupling. The most straightforward approach is going to be opening a distinct UDP socket for every QUIC/HTTP3 connection so there will be a one-to-one mapping between socket and QUIC/HTTP3 connection.

At a high level, an HTTP3 connection is going to be very similar to an HTTP2 connection: you can run any number of requests on top o

[2019-09-22 14:02] sethmlarson commented on #367
The issue is yours! Thanks @gdhameeja

[2019-09-23 14:43] #368 closed

[2019-09-23 15:24] #306 closed

[2019-09-23 15:27] sethmlarson commented on #366
We should look at adding some requests compatibility tests for this if they exist. :)

[2019-09-23 16:31] StephenBrown2 commented on #365
Aliasing but raising a `DeprecationError` for the aliases with a link to the migration docs would be a good middle path to take IMHO.

[2019-09-23 19:39] GnubiBORED opened #376 "SSL handshake failed on verifying the certificate"
**im using charlesproxy for debugging each requests. Proxy ip and cert is from charlesproxy**

My code:
[code]
output
[code]

[2019-09-23 20:23] florimondmanca commented on #376
Don't think I can help a lot here, but for info here's how we derive the CA bundle in `config.py`:

https://github.com/encode/httpx/blob/c9810a79d9c61583165e9aa237d1ac039086f3a8/httpx/config.py#L121-L131

To help debug this, can you make sure the program goes through L129 with the certificate you mentioned? I assume it does, because `verify` is obviously not a `bool`, and if it didn't find your ce

[2019-09-23 20:36] GnubiBORED commented on #376
how i can make sure my code is going through line 129 with my client_cer variable? Im not experienced coding but if you tell me i can test it.

[2019-09-23 21:42] sethmlarson commented on #376
Could you try running that script with HTTPX_DEBUG=1 set as an environment variable?
I can't see why TLS would be getting used unless the website is redirecting to HTTPS.

[2019-09-23 21:49] GnubiBORED commented on #376
like these?

`request = client.get("http://whoer.net",headers=headers,verify=client_cer,HTTPX_DEBUG=1)`

`TypeError: get() got an unexpected keyword argument 'HTTPX_DEBUG'
`

[2019-09-23 21:54] sethmlarson commented on #376
Like this: `$ HTTPX_DEBUG=1 python run_script.py` from the command line.

[2019-09-24 00:48] GnubiBORED commented on #376
i dont know if i did it good
@sethmlarson
`
C:\Users\localhost\PycharmProjects\TribalW_Test_Env\Basic\network\client>cmd /c "set HTTPX_DEBUG=1 && python  C:\Users\localhost\PycharmProjects\TribalW_Test_Env\Basic\tests\httpx\proxy_test.py"
SSL handshake failed on verifying the certificate
protocol: <asyncio.sslproto.SSLProtocol object at 0x000001261B0329E8>
transport: <_SelectorSocketTransport fd=6

[2019-09-24 02:02] sethmlarson commented on #376
Hmm, you should be seeing some debug messages. Do you have the latest version of HTTPX installed? (Try `python -m pip freeze` and paste the output)

[2019-09-24 02:25] GnubiBORED commented on #376
now yes
now worked good the debug and yes im using last httpx version i updated 7h ago with pip install httpx - upgrade when you tell me proxy support was shipped :)

04:23:35.687 - httpx.dispatch.proxy_http - forward_connection proxy_url=URL('http://192.168.1.78:8888') origin=Origin(scheme='http' host='192.168.1.78' port=8888)
04:23:35.687 - httpx.dispatch.connection_pool - acquire_connection ori

[2019-09-24 02:47] sethmlarson commented on #376
Okay, so it's failing on the `tunnel_start_tls` which is good because that is what I figured what was happening. :) Now we just have to figure out why the `SSLContext` isn't trusting the self-signed certificate despite you configuring it that way.

I've got charles proxy downloaded now, this will be a great resource when developing for proxies in the future. :) I'll see if I can resolve it locally

[2019-09-24 02:59] sethmlarson commented on #376
Figured it out! PR will be incoming soon! :)

[2019-09-24 20:37] sethmlarson opened #381 "HTTP/2 connections are closed without responding to pings"
[code]

[2019-09-24 21:18] StephenBrown2 opened #382 "Python 3.6 RuntimeError: read() called while another coroutine is already waiting for incoming data"
Running in python 3.7 and 3.8 have been going beautifully, but now I've decided I wanted to add my API client using httpx to a Python 3.6 project, and I'm getting the above error whenever I try to call httpx. Below is the stack trace of one of the calls:

[code]

Python: 3.6.9
httpx: 0.7.3

It appears to be with the way I've instantiated TimeoutConfig (with no values, to allow infinite timeout). H

[2019-09-24 21:25] florimondmanca commented on #382
Could be that in 3.6 asyncio’s read() only allowed one coroutine to call it at a time, while that constraint was relieved in 3.7?

Trio has a similar constraint on the write operation, and I remember we solved it using a simple lock.

Do you get this behavior with the usual timeout config?

[2019-09-24 21:35] StephenBrown2 commented on #382
I do not. Further testing giving no timeout value to httpx.Client i.e.
[code]
or giving a concrete timeout value i.e.
[code]
both proceed as expected, with no RuntimeError in py3.6 or others.

[2019-09-24 21:36] StephenBrown2 commented on #382
I did see something about using an asyncio lock in my searches... https://stackoverflow.com/a/25799871

[2019-09-24 23:25] sethmlarson commented on #382
My question is why would more than one .read() coroutine call be active at any one time?

[2019-09-25 00:02] kylebebak commented on #193
Right on, thanks all!

@sethmlarson @florimondmanca
This library is excellent btw

[2019-09-25 00:12] sethmlarson commented on #193
@kylebebak Thank you, we appreciate your kind words! :bowing_man:

[2019-09-25 07:32] florimondmanca commented on #382
@sethmlarson I debugged it a bit and it's a race condition between asyncion cancelling the previous `.read()` and us starting the new one in case of read timeout. I'll file a fix. :)

[2019-09-25 07:51] florimondmanca opened #384 "Cache NETRC logins after first lookup"
As noted in #364, looking up NETRC logins is eating 25% of request time (!) — see `get_netrc_login()` below (times are absolute for a series of 1000 requests).

The `.netrc` file typically won't change across a session. So while we can't avoid paying that performance cost on the first request, we can definitely cache the NETRC credentials on the client once we looked them up (even if they don't ex

[2019-09-25 08:46] cansarigol commented on #384
Could you assign me this topic if someone else is not interested?

[2019-09-25 08:48] florimondmanca commented on #384
Sure @cansarigol, go for it!

[2019-09-25 11:31] #382 closed

[2019-09-25 13:11] tomchristie commented on #366
Thanks for opening the issue!
Retitled to make this more clearly specific.

[2019-09-25 15:36] sethmlarson opened #385 "Prepare for Hacktoberfest"
Information:
- https://hacktoberfest.digitalocean.com/details
[code]

- [x] We should complete  #311
- [x] Make sure all the issues within our tracker have enough scope to them for new contributors   to be able to pick them up and run with them.
- [x] We should also get our coverage to 100% and then merge #380.
- [x] Hacktoberfest labels for issues that we believe can be taken up
- [x] Create new

[2019-09-25 18:33] florimondmanca commented on #385
Hacktoberfest is co-presented by DEV this year. They’ve got a special #hacktoberfest hashtag and will be promoting it as well, probably on site and on Twitter. [Source](https://dev.to/devteam/hacktoberfest-starts-in-six-days-3hi2)

I think it can be a cool idea to post something about HTTPXand a recap of our Hacktoberfest-friendly issues there! I will gladly take that up.