[2019-09-25 18:40] sethmlarson commented on #385
That's an awesome idea, I've been wanting to write a blog post about HTTPX on my DEV account too about what sets it apart. :)

Do you want to add an item to my list for the blog post?

[2019-09-25 21:53] florimondmanca opened #389 "Auto-detect concurrency backend based on the async environment"
Currently, if users want to run HTTPX on `trio` they need to manually pass a `TrioBackend` to the `AsyncClient`:

[code]

On the other hand, running on `asyncio` doesn't require passing any `backend` argument, which is a better user experience we'd like to have in all cases.

We should allow `AsyncClient()` to auto-detect the async environment it's running in, and use the appropriate backend — and

[2019-09-26 03:12] sethmlarson commented on #370
The "psl" package has been published to PyPI.  After a successful automated deploy I'll be moving the package under the python-http org.

GitHub: https://github.com/sethmlarson/psl
PyPI: https://pypi.org/project/psl

[2019-09-26 13:33] sethmlarson opened #391 "Host header contains userinfo component"
`BaseRequest.prepare()` incorrectly sets the default `Host` header to `userinfo@example.com:123` if given the following URL: `http://userinfo@example.com:123`.

We should be removing the userinfo component from the authority before assigning to `Host`.

[2019-09-26 13:37] sethmlarson opened #392 "HTTPProxy targetting IPv6 host via CONNECT tunnel is missing square braces around host"
When I have an `httpx.HTTPProxy` configured and then make a request to an IPv6 host there are no square braces around the host component of the CONNECT target.

The request should look like this:
[code]

Currently looks like this:
[code]

This issue required very similar functionality to #391 but requires a flag to say that the port should always be included even if it's the default port for the U

[2019-09-26 13:53] sethmlarson opened #393 "Allow Responses to be used as Context Managers"
Requests API allows Responses to be used and closed as a context manager.

We should allow the following use-cases:

[code]

See: PendragonLore/anido#1

[2019-09-26 13:57] sethmlarson opened #394 "Allow setting `chunk_size` for `Response.iter_bytes()` etc..."
Requests allowed setting chunk_size within `.iter_content()` which is currently not an option for our alternatives `.stream()` and `.stream_text()`.

For `.stream_text()` we should go the extra step and fix the issue that users sometimes run into when using this feature and use chunk-size for measuring the decoded text, not the raw bytes.

[2019-09-26 17:34] jtmiclat opened #395 "Same interface for for all http methods in api.py"
When using elasticsearch with `httpx`, I quickly realized that `httpx.get` does not take in `json` as a function argument.  A quick look at `api.py`  showed that not all methods have the same interface. Specifically, `get`/`options`/`head have fewer arguments than the others.

There are some arguments about that these methods should not send data. But I think as an HTTP client, users should not be

[2019-09-26 17:57] sethmlarson commented on #395
Thanks for opening this issue, definitely an oversight!

We should fix the discrepancies and write a unit test using `inspect.Signature` to ensure this issue doesn't come up again.

[2019-09-26 19:58] StephenBrown2 commented on #395
I would counter that this is not particularly an oversight, but a deliberate choice based on the capabilities of HTTP, and also matching the `requests` [api](https://github.com/psf/requests/blob/master/requests/api.py)

Though the underlying `request` function does allow for arbitrary `data`/`json`/etc parameters, the others are more restricted based on the common expected use cases.

I would reco

[2019-09-26 20:50] thebigmunch commented on #395
Actually, as the OP pointed out, httpx's behavior does not match the requests API. The requests API uses ``:param **kwargs: Optional arguments that ``request`` takes.`` for all the top level API functions, so, in turn, they all accept ``data``/``json``/etc.

That being said, I actually agree with you that those functions should, in fact, not have params for things they don't actually support. And

[2019-09-26 20:51] thebigmunch opened #396 "Some issues with the 'Calling into Python Web Apps' docs and API"
Quick link to the [section](https://www.encode.io/httpx/advanced/#calling-into-python-web-apps) for reference. The example doesn't work due to ``WSGIDispatch`` not actually being available as ``httpx.WSGIDispatch``. Rather, it's available as ``httpx.dispatch.asgi.WSGIDispatch``. Perhaps ``ASGIDispatch`` and ``WSGIDispatch`` should be available at the top level.

Also, the difference between ``remo

[2019-09-26 22:23] sethmlarson commented on #396
Thanks for opening this comprehensive post! I'm so glad someone is giving our WSGI and ASGI support a run-around! :raised_hands:

From reading this it looks like there are three distinct issues here:

- `ASGIDispatch` and `WSGIDispatch` are documented as top-level but aren't exposed at the top level. This is definitely an issue, I'd recommend the route of making both available top-level.

- The AP

[2019-09-26 22:26] sethmlarson commented on #395
@StephenBrown2 @thebigmunch You've both got good points, keeping our API trimmed in areas where parameters typically aren't found or have no meaning is a good way to steer our users to doing the right thing.

It looks like the `.delete()` function has the `data`, `files`, and `json` parameters, are those appropriate for the `DELETE` method?

I'd also like to mention that I'm still interested in a

[2019-09-26 23:00] thebigmunch commented on #396
And, as I look back, I see "Review dispatch interface" in the 1.0 blockers issue...

I'll definitely open separate tracking issues for the first 2. I may do those and the 3rd if nobody gets to them first. I'll get my Hacktoberfest PRs no problem either way, so I won't claim them : )

[2019-09-26 23:21] thebigmunch opened #397 "Improve the API Reference"
From the README: "The [Developer Interface](https://www.encode.io/httpx/api/) provides a comprehensive API reference.".

I'll be blunt: I'm not even sure its useful in its current form, let alone comprehensive. The API reference is always my pathway to learning a library. Much knowledge was just inherited/assumed from ``requests``. Most of the rest I've gone to the code for. To be fair, this isn't

[2019-09-26 23:25] thebigmunch opened #398 "ASGIDispatch and WSGIDispatch should be importable from the top-level httpx package"
From #396:

[2019-09-26 23:54] sethmlarson commented on #397
I agree that section of the documentation is in need of some love, especially for descriptions of behaviors beyond the function signature.

I'm going to defer to @tomchristie or others for a solution here, I've only worked with Sphinx myself.

[2019-09-27 03:48] jtmiclat commented on #395
Thanks for your comments! I understand that having a more restrictive interface enforces better practices but I think that should be done in there server-side rather than enforcing it in client-side. As it excludes some using the convenient function for some servers, such as Elasticsearch. But if we do enforce the strict arguments we should add it to the docs https://github.com/encode/httpx/blob/m

[2019-09-27 03:49] sethmlarson commented on #376
@GnubiBORED Can you confirm you're no longer seeing this issue in the latest release?

[2019-09-27 06:33] cansarigol commented on #384
I added lru_cache but I'm not sure that it suits or what its max size should be? What do you think?

btw `httpxprof` is awesome @florimondmanca

[2019-09-27 08:03] innawe opened #403 "More explicit documentation that `httpx.Client` is equivelent to `requests.Session`."
This isn't an issue (sorry if i posted in a wrong place), but i read the httpx doc and didn't find yet a solution.
In requests i use s = requests.session(), how can i do the same thing with httpx?
it will be possible to do something like s = httpx.session()?
Thanks and sorry again.

[2019-09-27 08:05] florimondmanca commented on #403
Hi @innawe, the equivalent of Requests' `Session` in HTTPX is the `Client` (or `AsyncClient` for async usage).

You can learn more here: [Client instances](https://www.encode.io/httpx/advanced/#client-instances). Let us know if the docs aren't giving enough details

[2019-09-27 08:18] florimondmanca commented on #393
I think this is a good thing beyond Requests compatibility — ensures that all resources are properly closed in case something goes wrong. I'm kind of growing the intuition that ideally we should be following trio's lessons and enforce (async) context manager usage *everywhere* — on clients, on responses, …

[2019-09-27 08:52] tomchristie opened #404 "Environment Variables docs should justify each usage case."
Our [environment variable documentation](https://www.encode.io/httpx/environment_variables/) should include some justification or context for each case, by doing one of the following for each envvar:

* Make it clear that an environment variable is specific to HTTPX. (Probably only relevant to anything prefixed by `HTTPX_`)
* Make it clear that an environment variable is used as a convention by va

[2019-09-27 08:55] tomchristie commented on #398
Thanks for opening this, yup.

Either we need to switch the docs around *or* we need to make them top-level importable.
I'm not entirely sure yet which of those two we ought to prefer.

[2019-09-27 08:57] thebigmunch commented on #398
I think if it's important enough to show in the prose docs, it should be top-level. Or, at least, be ``httpx.dispatch.ASGIDispatch``/``httpx.dispatch.WSGIDispatch``. This is probably true for other things in ``httpx`` as well.

[2019-09-27 08:59] tomchristie commented on #403
I think the core issue here is that our "[Requests Compat Guide](https://www.encode.io/httpx/compatibility/)" doesn't yet make that explicit.

We could also have an [explicit callout in the advanced usage](https://www.encode.io/httpx/advanced/#client-instances), that Client is an equivelent to requests's Session.

[2019-09-27 09:02] florimondmanca commented on #398
Considering most public pieces of API are top level importable (which also supports the use case of accessing members of the httpx package), I’d advocate for that path as well.

[2019-09-27 09:03] tomchristie commented on #398
Indeed - that's the general rule we've been going with.

A *few* aspects such as concurrency backends we'd like to be more tightly namespaced, rather than always pulling them all the way up to the top level.

It's *possible* that `middleware`, `dispatch`, and `backends` are cases where we actually *do* want seperation rather than always hoisting everything to the top, and having a very top heavy n

[2019-09-27 09:08] thebigmunch commented on #395
@jtmiclat

* The HTTP/1 specs were vague for some time leaving plenty of implementations that support this or don't.
* The [HTTP/2](https://http2.github.io/http2-spec/#rfc.section.8.1.3) spec at least implies that a body shouldn't be sent.
* The OpenAPI 3 spec [forbids](https://swagger.io/docs/specification/describing-request-body/) GET, DELETE, and HEAD from having a request body.

I think that's

[2019-09-27 09:15] tomchristie commented on #397
The low-touch approach to this *as an interim measure* would be to duplicate in two places.
It's not ideal but it could be sufficient just to get started.

An altenative would be for me to work on a markdown plugin to add support for this to the existing mkdocs, which seems like it could be a pretty big win.

Most important thing from my POV is that whatever we're doing needs to also be consistent

[2019-09-27 09:17] tomchristie commented on #343
We should roll with docs-with-changes as an absolute requirement, always.

If anything I'd love to see more pull requests that *start* with the documentation, and then progressively add a commits for the code in line with the docs.

[2019-09-27 09:25] tomchristie commented on #395
Indeed - this is deliberate. `GET`, `HEAD`, `OPTIONS` should not include a request body, and this won't be a supported usage with httpx.

Our lower-level APIs (eg. build up a request instance explicitly, and then send it) might conceivably be a good point at which to allow users to do broken things, but our top level API doesn't need to.

[2019-09-27 09:25] #395 closed

[2019-09-27 09:26] thebigmunch commented on #398
I'm definitely fine with that if that's what the team wants to stick to. But making sure people just have to use the namespace rather than needing the actual module (``httpx.dispatch.ASGIDispatch`` vs ``httpx.dispatch.asgi.ASGIDispatch``).

As I pointed out in another issue, there is inconsistency in what is exported from these namespaces right now. I also see that ``__all__`` is only used at the

[2019-09-27 09:29] tomchristie commented on #389
I'm probably a -1 on this, at least at the current point in time.

Some related things that do leap out at me tho are...

* I wonder if by 1.0 we ought to be using `concurrency=TrioConcurrency()` for the API naming? "backend" could really mean anything, and isn't clear that what it *actually* means is "Concurrency Backend"
* I think we deliberately probably *don't* want to support a `backend=...`/

[2019-09-27 09:42] tomchristie commented on #393
Okay, *so*...

This is relevant *only* for the streaming case.
In other cases the response has been closed by the point it's returned from the function.

There's a question here to be had in that `client.get(..., stream=True)` is actually fundamentally different to `client.get(...)` because you *really* want to be using a context manager for the first case.

Requests has exactly the same issue, an

[2019-09-27 09:44] tomchristie commented on #394
I seem to remeber this playing into some primitives around streaming bytes vs text that we never ended up digging into?

[2019-09-27 09:46] tomchristie commented on #389
I might be swayed on it.

[2019-09-27 10:03] tomchristie commented on #391
Do we want a `URL.host_with_port` property, or something similar?

Are there any prior art examples of URL libraries giving an explicit naming to the host+explicit-port-if-it-exists portion of the authority string?

[2019-09-27 10:11] tomchristie commented on #384
Sounds like a great call to me, yup.

Related - we shouldn't pay much attention to "micro-benchmarking" of HTTP clients - it's not at all obviously a meaningful metric. We *shoud* be interested in code-space latency overhead, but it's usually likely to be dwarfed by network latency, and we *should* be interested in maximum sustainable concurrency, but it's usually likely to cap out similarly acros

[2019-09-27 10:14] tomchristie commented on #370
Okay, that's interesting.
Not entirely obvious to me that we need to treat this as a requirement, but possibly.

[2019-09-27 10:17] tomchristie commented on #360
Looks good.
Related to #404. I wonder if [cURL would be a good baseline set of environment variables](https://curl.haxx.se/libcurl/c/libcurl-env.html) to adhere too? That's probably more robust and mature than any other tooling out there, so I'd be okay with us *explicitly* following their lead.

[2019-09-27 10:22] tomchristie commented on #350
Out of scope for HTTPX.

Either Starlette's test client could use HTTPX, but could additionally provide lifespan support, *or* Starlette should explcitly include a lifespan controller for use in test cases, that's properly independent of the test client.

I think the later case probably makes the most sense, but either way it's independent of `httpx` (Although our ASGIdispatch docs could end up li

[2019-09-27 10:22] #350 closed

[2019-09-27 10:25] tomchristie commented on #350
I think there's a case to be made there, but I'm quite keen on treating it as an entierly seperate issue. (Users are also free to deal with application setup/teardown in test cases in more explicit ways rather than relying on ASGI's lifespan messaging)

[2019-09-27 10:27] tomchristie commented on #349
Yeah our guidelines here are probably roughly that *all* networking exception types should tend to be wrapped up in an HTTPX exception, although we're likely not at that point yet in several areas.

[2019-09-27 10:29] tomchristie commented on #355
I think this would bring extra gumpf, without adding benefit.
uvloop (or any other loop policy) ought to be completely transparent to use from the POV of  `httpx`.
Would you be okay with us dropping this?

[2019-09-27 10:31] tomchristie commented on #331
Yeah third party middleware will be the right tack for this.
It'd actually be a great proof-of-functionality for us to ensure that the middleware API is sufficiently complete.

[2019-09-27 10:35] tomchristie commented on #96
Agreed, yup.

[2019-09-27 11:03] florimondmanca commented on #389
We do support it currently, but there’s a (IMO still to be improved) check that the backend is asyncio-based. This is only for testing/mocking purposes though, so we might as well remove the parameter but keep the backend (or concurrency, which I agree would be a nice refactor) attribute for patching in tests.

[2019-09-27 11:05] tomchristie commented on #389
Yeah I think that's a good middleground.

[2019-09-27 11:07] sethmlarson commented on #391
host_with_port sounds more relevant for the CONNECT case.

I've seen "hostname" used for host and port if it's non-default.

[2019-09-27 11:15] sethmlarson commented on #355
The reason I wanted to add the case is uvloop is independent of Python so is free to add features that are in asyncio for Python 3.8 but it's still installable on Python 3.6 like .start_tls(), singular Stream interface, etc.

[2019-09-27 11:24] florimondmanca commented on #350
While I understand the need for separating concerns, I’ll say I’m a bit frustrated that this has to be deferred to Starlette.

The lifespan protocol is part of the ASGI standard — having to tell users to install and use on a particular framework for sending lifespan events to their app doesn’t feel right to me.

Maybe there’s room for an agnostic lifespan app released as a separate library, or as

[2019-09-27 11:32] tomchristie opened #405 "Potential Proxy refinements"
Having taken a good look over the new proxy functionality I'm really impressed!

There's a couple of things I'm interested in talking through...

* Could `httpx/dispatch/proxy_http.py` simply be `httpx/dispatch/proxy.py`?
* It would be nice if we could avoid exposing `HTTPProxyMode`. Alternatives could be...
  * `tunnel=<bool>, forward=<bool>` arguments (defaulting to `None` and doing sensible def

[2019-09-27 11:37] tomchristie commented on #350
Oh absolutely yes, although it *also* ought to be small enough to be a snippet. (Plus in any case Starlette is deliberately a zero-hard-dependency install in order to allow it to be used either full-framework or bits-of-ASGI-toolkit.)

It's just not at all obvious to me that "startup/shutdown the app" should have *anything at all* to do with HTTPX's "send some HTTP requests to the app" whatsoever.

[2019-09-27 11:44] tomchristie commented on #355
Presumably that's still transparent to us right? (Or not?)
uvloop doesn't document any extra interfaces that it makes available, other than just setting the loop policy.

[2019-09-27 11:51] florimondmanca commented on #350
Yup, I’m sold on the idea of decoupling the two, definitely.

[2019-09-27 11:55] tomchristie commented on #391
Reviewing [stdlib](https://docs.python.org/3/library/urllib.parse.html), [furl](https://github.com/gruns/furl), [purl](https://github.com/codeinthehole/purl), [hyperlink](https://hyperlink.readthedocs.io/en/latest/index.html), I don't see any prior art (and stdlib uses `hostname` as just the `host` component.)

We might want to switch our `port` property to return an optional port, rather than a p

[2019-09-27 11:57] sethmlarson commented on #405
- SOCKS support is planned for the future where I would use `httpx/dispatch/proxy_socks.py`
- That can be changed, those are the only two modes that have been around for a long time so I don't think extensibility is an issue.  Mostly used the enum before for type-checkability.  I think keeping `proxy_mode` but taking a string instead is best.
- That's true. It'd also be an interesting idea to pass

[2019-09-27 12:04] sethmlarson commented on #391
You're right, was misremembering the stdlib. Totally agree with the port not returning a value via inference and then have a method/property to resolve the port with defaults applied.

[2019-09-27 12:06] tomchristie commented on #405
Okay. I'd *probably* tend towards `proxy.py` and `socks.py`? Not obvs. if socks would be third-party, optional, or always available perhaps? Not entirely sure, but `proxy_http.py` feels a bit blunt?

That seems okay, yeah.

Ah yeah - we do want to share the same connection pool - good point.

Yeah not a bad option. I still think even the MDN docs are a bit light on *actually* giving motivation foc

[2019-09-27 12:32] sethmlarson commented on #405
Why would you tend towards removing the `proxy_` prefix? They're both proxies, just different methods of proxying.  Users won't see the modules anyways as the members are exposed top-level, the names are for our benefit.

And speaking of SOCKS, we're implementing a lightweight sans-I/O SOCKS library without any dependencies unlike all current solutions so it can be marked as a dependency and SOCKS

[2019-09-27 12:39] sethmlarson commented on #350
Dropping in just to say that it's a bummer that a full ASGI use-case can't be solved with just HTTPX. IMO this is one of our defining features as an HTTP client in the ecosystem.

[2019-09-27 12:47] tomchristie commented on #350
I don't think it's an issue. Yeah we want to resolve it (not in this package tho). And yeah we may want to point to that from the docs, too, so that we're pointing out a full solution.

It's just that it happens that ASGI is more complete than WSGI in this case in that it *has* proper startup/shutdown events in place rather than just "probably run some stuff on the first HTTP request we see".

The

[2019-09-27 13:16] sethmlarson commented on #395
For your case @jtmiclat you can use the Client.request() interface and set the method to "GET".  If we're intending to not have body parameters available on methods that don't have bodies typically we should remove from .delete()

[2019-09-27 13:26] sethmlarson commented on #355
We look for [`start_tls()`](https://github.com/MagicStack/uvloop/blob/46c5e9ebe45c7d5aa8777ad1add6656e349528ab/uvloop/loop.pyx#L1492) opportunistically on the loop interface within the HTTP proxy for tunneling TLS.

Available for Python 3.7+ or Python 3.6+ uvloop.

[2019-09-27 13:59] sethmlarson commented on #389
Here's my perspective on things bigger-picture. Definitely outside the scope of HTTPX but if we're intending the library to be successful this is something that worries me:

Problem: We want to support multiple async libraries to reduce fragmentation.
Problem: We want people to write third-party libraries that use HTTPX. (elasticsearch-py, github3, etc)
Problem: Third-party libraries that use HTTP

[2019-09-27 14:51] tomchristie commented on #355
If it works with 3.7+ then I'm okay that we've tested it.

[2019-09-27 14:52] #355 closed

[2019-09-27 14:54] tomchristie commented on #395
`GET` is a `"SHOULD NOT"` case.
`DELETE` is a typically doesn't but may case.

I'd potentially be okay with us removing it from `DELETE`, but it's less clear there, and we're also following `requests` precedents here, I think.

[2019-09-27 14:56] sethmlarson commented on #395
Relevant excerpt from  RFC 7231 Section 4.3.5:

[code]

[2019-09-27 15:11] thebigmunch commented on #395
Also, as I said [here](https://github.com/encode/httpx/issues/395#issuecomment-535859500), OpenAPI forbids a body for GET, DELETE, and HEAD.

[2019-09-27 15:47] sethmlarson commented on #389
Libraries that are already starting to do this:
- [purerpc](https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=2&cad=rja&uact=8&ved=2ahUKEwjw5uiLrPHkAhVDPq0KHaHODZkQFjABegQIAhAB&url=https%3A%2F%2Fpypi.org%2Fproject%2Fpurerpc%2F&usg=AOvVaw3ITcbUwWFhOp07Etfd-sV2)
- [trio-gpio -> asyncgpio](https://github.com/python-trio/trio-gpio/commit/69148830979b6fdea4d761ca46b84c25382de250)

[2019-09-27 15:49] StephenBrown2 commented on #398
Seconded.

[2019-09-27 17:20] tomchristie commented on #395
Ah, double checked HTTPbis, which supersedes the original RFC in a few places. And yes, we should drop em on .delete too. (Divergence from requests, but I’m totally okay with it)

https://tools.ietf.org/html/draft-ietf-httpbis-semantics-05#section-7.3.5

[2019-09-27 17:37] florimondmanca commented on #389
Thanks for this write up @sethmlarson! Definitely an important topic.

*Libraries* yes (or *maybe*), but mostly likely end users that write async apps without thinking too much about the underlying machinery (as they should!) probably don’t have that as a requirement.

The code examples in the projects you mentioned use anyio.run(main, backend=...) to bootstrap the program. AnyIO docs don’t mentio

[2019-09-27 17:59] sethmlarson commented on #389
Yep! This was my intention, applications aren't written for more than one async library, they just pick one and do their thing.

I'm very worried about our third-party user-story though. We've done so much for extensibility of the library, middlewares, etc but the current setup would not foster that when it comes time to implement and use those extended features.

It's not a requirement, anyio alr

[2019-09-27 18:59] thebigmunch commented on #389
And there are examples and caveats in the anyio docs [here](https://anyio.readthedocs.io/en/latest/basics.html#running-async-programs), FYI.

[2019-09-27 19:04] sethmlarson commented on #389
That makes sense since there's no indication of what async library you want from the anyio.run() scope.  Either way our bases are covered since applications and end-users will use the native library .run() function to enter async-land.

[2019-09-27 19:07] florimondmanca commented on #389
True that, I actually misread the docs. What I said is wrong:

[2019-09-27 19:34] mxahmed commented on #398
Could you assign me this issue, if it's up for grabs ?

I believe this is the way to go.

Also what might be you suggestion for this

[2019-09-27 19:44] sethmlarson commented on #398
@mxahmed Let's start with importing it at the top level, there's a lot more work to do if we move towards not pulling everything to the top level package.

[2019-09-27 19:48] florimondmanca commented on #350
Okay so, I created https://github.com/florimondmanca/asgi-lifespan to experiment on this. It's mostly empty for now but I'll add `LifespanContext` based on the implementation in #352, and I plan to have `LifespanMiddleware` be mostly ripped out from Starlette.

Any thoughts on the proposed API there?

[2019-09-27 20:14] mxahmed commented on #398
@sethmlarson Alright then.

[2019-09-27 21:54] tomchristie commented on #350
@florimondmanca  - I think it maybe looks like this?... https://gist.github.com/tomchristie/b4960e7b4e080fe2b1fc004272594eae

[2019-09-28 17:21] sethmlarson opened #409 ".post(), .put(), and .patch() functions in API docs missing 'files' parameter"
Our [API docs](https://github.com/encode/httpx/blob/master/docs/api.md) are missing the `files` parameter on `.post()`, `.patch()`, and `.put()` for Client and AsyncClient

[2019-09-28 17:23] #256 closed

[2019-09-28 19:55] #398 closed

[2019-09-29 05:41] pquentin commented on #256
It looks like asyncio is reverting the new streaming API: https://bugs.python.org/issue38242. Does that means the work from #369 is going to be irrelevant?

[2019-09-29 08:14] florimondmanca commented on #256
Oh wow, that’s interesting. (The decisions to revert in 3.8 is at the bottom of the thread.)

Looks like we’re going to have to revert too, indeed. :)

[2019-09-29 08:15] florimondmanca commented on #256
Let’s wait for this to be confirmed and merged, then we can open a separate issue to tackle it.

Thanks a lot for detecting that @pquentin!

[2019-09-29 08:18] Hanaasagi opened #411 "How to make a connection never timeout"
### Problem
I use httpx to request a kubernetes watch api. The api is based on HTTP chunked transfer encoding. When the server generates a new pod message, it will send to client.

Simplified code is as follows

[code]

After 5 second, I get a `ReadTimeout` error

[code]

I change the `timeout` to 60 sec, and I will get `RemoteProtocolError`

[code]

----

### Environment
- Python 3.6.3
- httpx 0.

[2019-09-29 08:44] JayH5 commented on #256
Oh well 🙈 learnt some things along the way at least. Let's see when/if python/cpython#16455 is merged.

Thanks for the link @pquentin.

[2019-09-29 09:31] aeros167 commented on #256
I can confirm that we are removing the deprecation warnings for StreamReader, StreamWriter, StreamReaderProtocol, SubprocessProtocol, and Process in Python 3.8. They might be reinstated for 3.9 depending on what direction is taken with the asyncio streaming API, but they shouldn't be present in 3.8. This applies to any of the new functions added in https://github.com/python/cpython/commit/23b4b697

[2019-09-29 10:20] thebigmunch commented on #411
This is a difference coming from ``requests`` I ran into as well. ``httpx`` sets a default timeout, so you'll have to add ``timeout=None`` to your request calls or client instance (if used) if you want no timeout.

[2019-09-29 10:27] florimondmanca commented on #350
@euri10 Here's your initial code snippet rearranged to use [`asgi-lifespan`](https://github.com/florimondmanca/asgi-lifespan). Right now this won't work because of https://github.com/agronholm/anyio/issues/74, but we'll hopefully get it sorted out soon.

[code]

[2019-09-29 10:28] Hanaasagi commented on #411
Thanks for the quick reply.
`timeout=None` is the default behavior of `httpx.get`

https://github.com/encode/httpx/blob/5ced56b5b55813bc38d571fdba6176842c0ec716/httpx/api.py#L68

And I see if the `timeout` is `None`, `TCPStream.read` will change it to `DEFAULT_TIMEOUT_CONFIG`

https://github.com/encode/httpx/blob/5ced56b5b55813bc38d571fdba6176842c0ec716/httpx/concurrency/asyncio/backend.py#L63-L67

[2019-09-29 10:47] thebigmunch commented on #411
Ah, this seems like it might be a bug. Setting ``timeout=None`` on a client instance works properly. Setting ``timeout=None`` on a ``request`` call, regardless if its through the top-level API or through a client method uses the default timeout.

[2019-09-29 10:52] florimondmanca commented on #411
There are actually three kinds of timeouts you can control in HTTPX: connect, read, and write. Unfortunately, the documentation doesn't show this ability to fine-tune timeouts yet (`TimeoutConfig` isn't even documented), and I agree it's something we need to address.

For your use case, it seems what you want is to modify the *read* timeout. (That way, you'll still timeout when connecting or when

[2019-09-29 10:54] florimondmanca commented on #411
I'm going to ping @tomchristie on this one — it might be the intended behavior for the high-level API. I think the rationale is that users should use a client for anything advanced, and disabling timeouts surely seems like an advanced action to make.

[2019-09-29 11:02] Hanaasagi commented on #411
Replace `None` with `TimeoutConfig(connect_timeout=5, read_timeout=None, write_timeout=5)` and it works. Thanks!

[2019-09-29 11:07] thebigmunch commented on #411
I don't think disabling timeouts should be considered anything more advanced than setting a different timeout. I'm certainly fine with there being a default timeout. But if a user can simply say ``httpx.get(..., timeout=10)``, then ``httpx.get(..., timeout=None`` should just work. I certainly wouldn't expect httpx to just flat-out ignore what is a perfectly valid input elsewhere.

[2019-09-29 11:22] Hanaasagi commented on #411
A little confused about the meaning of `None`. In some api, `timeout=None` means using the default `timeout`, like
https://github.com/encode/httpx/blob/315a18b4cf81f95683e6afdc10dba3c75eb512b7/httpx/dispatch/connection.py#L69-L76

But in `Client` initialization, it means not set the timeout.

[2019-09-29 11:34] thebigmunch commented on #411
That's the point I've brought up in a couple of my comments. Worse is:

[code]
also results in the call using the default timeout config instead of ``None``. Which surely shouldn't be the case as we're using the "advanced" way of creating a client ourselves, we just want no timeout for that specific call in this example. But it's not possible.

[2019-09-29 11:36] florimondmanca commented on #411
Hmm, yeah, seems like we should review the consistency of timeout behaviors across the various request entrypoints.

[2019-09-29 11:59] thebigmunch commented on #411
Yeah, I forgot to qualify my statement in the previous comment. It's now qualified : P

[2019-09-29 12:13] thebigmunch commented on #411
And just so it has its own comment:

As @florimondmanca pointed out, if you set one of the specific timeout parameters, you would have to set the others if you didn't want them to be None. httpx should probably default those to the default timeout config values.

[2019-09-29 19:02] sethmlarson commented on #385
Coverage is at ~100%, or as close as we're going to get with our current setup. Reviewers should check codecov until the reports are showing up in PRs.

[2019-09-30 03:50] Hanaasagi opened #413 "Feature Request: support iterating stream lines"
I think it is better to implement a api for iterating stream line by line. This scene is very common (e.g., kubernetes watch api). Now we need to create a wrapper for this.

[code]

[2019-09-30 04:57] aeros167 commented on #256
Just for clarification as to why 16455 was closed, Yury needed revert an additional component the streaming API, and we're due to finish everything up by Monday for the final tagging of 3.8.0rc1 (this is the final release blocker), so he opened up a separate PR. See https://github.com/python/cpython/pull/16482#issuecomment-536397337 for more details.

[2019-09-30 06:22] pquentin commented on #413
(For your immediate need, is it an option to use [the official Kubernetes Python client](https://github.com/kubernetes-client/python)?)

Note that your wrapping algorithm is accidentally quadratic. Say your stream gives you N bytes, one byte at a time, with only a newline at the end: you'll be calling splitlines() N times, which is undesired because splitlines is O(n) too.

It so happens that tran

[2019-09-30 08:16] florimondmanca commented on #413
Thanks for sharing this snippet @Hanaasagi. I think you’ll understand though that this particular piece of functionality is out of scope for HTTPX, as supported by the reasons @pquentin pointed out.

Parsing the stream iterator into a stream of lines might be something our users want to do, though.

[2019-09-30 08:25] florimondmanca commented on #413
Woops, clicked the wrong button. Responding to issues on a phone can be tricky!

I was saying: parsing the stream iterator into a stream of lines might be something our users want to do, though.

As noted in https://github.com/python-trio/trio/issues/796 though, most async libraries expose a way to do this. For example, StreamReader.readline() in asyncio.

So we *could* in theory add a new .readli

[2019-09-30 08:31] tomchristie commented on #413
Related to #24, #183. I'm fairly sure myself and @sethmlarson had some more conversation about this too, but I can't dig it out right now?

Not sure what we want the API to look like, but I'd agree in general with the composable implementation (take a stream iterator, return a linewise iterator)

[2019-09-30 09:22] tomchristie commented on #411
Certainly the behavior of `Client(timeout=...)` and `.get(timeout=...)` ought to match.

We can either:

* Have `timeout=None` be used to indicate that no timeouts should be used. Switch the `.get` default value to a sential value such as `USE_CLIENT_DEFAULT` or `UNSET`.
* Have `timeout=False` be used to indicate that no timeouts should be used. Keep the `.get` default value as `None` (Tho explici

[2019-09-30 10:07] thebigmunch commented on #411
I definitely prefer the first option. ``timeout=False`` doesn't really make sense when read. And ``timeout=None`` is how it's spelled in requests.

[2019-09-30 10:26] tomchristie commented on #396
I think https://github.com/encode/httpx/pull/407 mostly resolves this.
We should additionally link to the WSGI and ASGI external docs.
Most folks shouldn't need to dive into those, and `app=...` should be sufficient.

We *could* potentially unify `root_path`/`script_name` and `remote_addr`/`client`, yeah. We'd need to decide on naming/typing. Happy to take suggestions?

`mount_path=str`, `client_a

[2019-09-30 11:25] thebigmunch commented on #396
In API design, a parameter should ideally be the smallest, atomic piece of information required from the user that, preferably, doesn't leak internals/implementations.

As for the difference in the API between ``WSGIDispatch`` only having address in its API and automatically getting the port and ``ASGIDispatch`` having address and port in its API, I only have one question: Is there a technical rea

[2019-09-30 12:02] florimondmanca commented on #411
I’m more inclined towards timeout=None with a sentinel object (to be used whenever the timeout config is replaced by the default config, eg in Stream.read) as well.

[2019-09-30 12:07] florimondmanca commented on #396
Just pitching in to say that I’ve seen people launch Twitter polls for these kinds of questions, and it seems to perform quite well. :)

[2019-09-30 12:11] tomchristie commented on #396
You can argue that it's spec APIs leaking into httpx, or argue that it's a case of not obfuscating away details behind a new and different abstraction. Both valid cases.

I think I'm happy with `mount_path=str`, and `client_addr=str` in this particular case tho, yeah. (Alternatives could be considered)

[2019-09-30 12:26] tomchristie commented on #411
Fine with that too, yup.

[2019-09-30 12:49] davitovmasyan commented on #409
Taking...

[2019-09-30 13:04] thebigmunch commented on #396
I'd argue that the entirety of API design is purposeful obfuscation. The purpose being to create a better user experience. For example, httpx and requests accept ``data``, ``json``, and ``files`` parameters which obfuscates that the HTTP protocols want a body of bytes. But that fact is inconsequential to users.

In the case of the *SGIDispatch APIs, it's inconsequential to users that ASGI expects

[2019-09-30 13:32] tomchristie commented on #389
## Context managed client instantiation

I've not yet seen any concrete evidence that backgrounding is strictly neccessary for `HTTP/2` / `HTTP/3` (vs. the alternative of allowing any background work to occur during any other interactions) I'm open to it *potentially* being a requirement, but I've not seen that throughly demonstrated at this point in time.

A good point of reference here would be

[2019-09-30 13:48] sethmlarson commented on #389
@tomchristie I have more comments but just to provide some evidence re: disconnecting from not responding to pings: https://github.com/encode/httpx/issues/381

[2019-09-30 14:40] tomchristie commented on #389
Right, but “transparently reconnect if we try to do something against a disconnected connection” is also a valid remedy there.

Additionally, inactive clients probably *should* disconnect.

[2019-09-30 18:21] jtmiclat commented on #403
Hi, I am interested in tackling this!

[2019-09-30 20:19] Sheshtawy commented on #146
I'd love to help with this if no one is

[2019-09-30 20:39] anshulxyz commented on #404
Hi @sethmlarson and @tomchristie I'd like to work on this

[2019-09-30 21:04] sethmlarson commented on #385
Removing the Hacktoberfest label to not confuse outside contributors.

[2019-09-30 22:04] nwalsh1995 commented on #405
Should connecting to HTTPS proxy be added onto this issue? Tunneling or forwarding mode does not work for me and I get the same `ssl.SSLError: [SSL: UNKNOWN_PROTOCOL] unknown protocol (_ssl.c:1045)` error mentioned in #259.

It was recommended to connect to the proxy over HTTP and the HTTP CONNECT tunnel works well, but initially connecting over the proxy over HTTP is insecure and should be avoide

[2019-10-01 06:09] pquentin commented on #389
I agree! @njsmith and I should have spent more time explaining why we're continuing the work on our urllib3 branch, and I hope we'll be able to do this in the next few days.

[2019-10-01 07:36] ClericPy commented on #304
As for me, httpx is not only the next generation HTTP client for requests but also aiohttp.

 So expecting a new choice to take the place of aiohttp's websocket. https://github.com/ftobia/aiohttp-websockets-example/blob/master/client.py

Best wishes to the author, this lib is a great help for me.

PS: aiohttp is good enough, except some frequently changing api protocol (like variable names), which

[2019-10-01 11:23] tomchristie commented on #397
I think the light touch approach that'll be worth looking into here will be seeing if I can adapt the docstring markdown plugin I was working on for mkdocs2 can instead simply be built for the existing mkdocs package. I may try to find some time in October to take this on.

[2019-10-01 16:13] sethmlarson commented on #389
@tomchristie

What are your thoughts on having the Client only allow HTTP/2 within `async with` blocks?
We're going to hit more issues with this when we try to implement HTTP/3 with retransmission alarms.

I'd argue that this one point would be a very big win for reducing fragmentation. We want library designers to make their library compatible with all async libraries the same as we are.
(ie we d

[2019-10-01 17:05] sethmlarson opened #420 "Revert PR #369"
See: https://github.com/encode/httpx/pull/369

This is currently failing our CI on Python 3.8 which was just released. While we're at it we can switch to 3.8 on Travis instead of 3.8-dev

[2019-10-01 18:03] florimondmanca commented on #420
Funny — I thought I opened an issue for this this morning. Guess I forgot to press the send button? 😅 Thanks for tracking this!

[2019-10-01 18:12] jcugat commented on #392
Hey @sethmlarson I was taking a look at this bug but I'm unable to reproduce it. I've taken as reference `test_proxy_tunnel_success` https://github.com/encode/httpx/blob/db3e3a0231538cfd4ebcec8a93906c05fc5b68a3/tests/dispatch/test_proxy_http.py#L8 and modified it to connect to an IPv6 host, and the CONNECT target has the square braces set (this test passes locally):

[code]

Any idea what I'm miss

[2019-10-01 18:19] sethmlarson commented on #392
Hmm does that mean that `URL("https://[::1]:8080").origin` is `('https', '[::1]', 8080)`? Because that's not right either.

[2019-10-01 18:30] jcugat commented on #392
Yes, this test passes:

[code]

What would be the correct output in this case?

[2019-10-01 18:35] sethmlarson commented on #392
Nevermind I'm incorrect, the host is proper. Closing this issue, thanks for investigating!

[2019-10-01 18:35] #392 closed

[2019-10-01 18:37] #367 closed

[2019-10-01 18:40] florimondmanca opened #422 "Context-managed client usage"
#389 has seen some interesting discussions on context-manager usage of `Client` and `AsyncClient`, esp. https://github.com/encode/httpx/issues/389#issuecomment-536562376 and https://github.com/encode/httpx/issues/389#issuecomment-537111055. Figured it would be worth porting the discussion to a dedicated issue.

Retransmission of the two comments mentioned above:

@tomchristie

@sethmlarson

Let's

[2019-10-01 19:11] MikalaiDavydzenka commented on #376
Hi @sethmlarson,
I have not exactly the same issue, hower, when I set verify via httpx.Client it works. But when I trying to use api directly (like httpx.get), it fails

[2019-10-01 20:07] florimondmanca commented on #422
@tomchristie I understand [HostedAPI](https://github.com/encode/hostedapi.com) is going to help answer the questions you mentioned in your comment?

Here's my take on what a Flask setup would look like, though.

## Long-lived client

I don't *think* this is possible with Flask — it doesn't seem to support app-wide teardown callbacks, but only per-request callbacks when the [app context](https://fl

[2019-10-02 09:24] kesavkolla opened #424 "Fire and forget / One way requests"
Is there any way to make a POST request but don't wait for the response.  It's similar to Beacon API (https://developer.mozilla.org/en-US/docs/Web/API/Beacon_API) on web.  At times we need to just fire the request and don't wait for the response.

[2019-10-02 10:19] florimondmanca commented on #424
Hi, I don’t think we support this yet.

Do you know of other Python HTTP clients that support this already?

[2019-10-02 10:28] kesavkolla commented on #424
I was searching for other python libraries too but haven't found any.  I've an use case where the server implementation takes long time as it has to do several things.  The client really doesn't need any response back.

[2019-10-02 10:39] tomchristie commented on #424
I don't see us supporting this directly, although you can use `stream=True` so that you're not waiting for the response body.
You'd need to either use threads `Client` or a seperate async task `AsyncClient`, so that you're performing the request without blocking the main program flow.

[2019-10-02 10:39] #424 closed

[2019-10-02 11:02] florimondmanca commented on #424
If you have control on the server, it might be worth seeing whether the non-blocking behavior could be added there instead?

Otherwise as Tom suggested, you can fire up a task to run concurrently to your main program so that reading the response doesn’t block the rest of the execution. This isn’t particular to HTTPX, thigh; there’s an example of how to do this in asyncio [here](https://realpython.

[2019-10-02 11:13] tomchristie commented on #389
We're going to hit more issues with this when we try to implement HTTP/3 with retransmission alarms.

I could go either way on it. It's not been clearly demonstrated that it's strictly neccessary ATM, but I'm open to the possibility.

Again - I'm open minded on this. I don't think there's any clear path on what's better for the ecosystem as a whole between:

* Supporting stdlib as the built-in, bu

[2019-10-02 11:33] tomchristie commented on #422
You do want to share the connection pool across all outgoing requests, so a single Client instance is preferable.

I think my clear take home is that "yeah we want to support with-block-context-managed usage, but we *don't* want to hard enforce it, and should have an explicit `.close()` for other cases."

I don't think there's a significant enough difference between the HTTP/1.1 and HTTP/2 cases f

[2019-10-02 11:41] tomchristie commented on #420
Thought for the future: We ought mark any `-dev` Python builds as "allowed failure" given that API can change under our feet, until there's a fixed release to work against.

Somewhat surprised to see such a big API change land without warning, immediatly prior to the release candidate release, but there we go.

[2019-10-02 12:49] tomchristie commented on #422
This thread https://github.com/python-trio/urllib3/issues/125 from @njsmith is nicely timed. Pretty much in line with how I'd see it.

[2019-10-02 13:06] #335 closed

[2019-10-02 13:09] sethmlarson commented on #422
That thread couldn't be any better on the timing. I like the global pool with a system level watcher. :)

[2019-10-02 16:32] florimondmanca commented on #422
To be clear, this is the way I now see it after the quick Flask experiment above. :) And that thread on urllib3 seems in line with that reasoning.

[2019-10-02 20:48] GnubiBORED commented on #376
sorry i been 1 week not joining github, i can confirm issue isnt solved, i have same problem with 0.7.4 i just updated now
pip install httpx --upgrade

`Installing collected packages: httpx
  Found existing installation: httpx 0.7.3
    Uninstalling httpx-0.7.3:
      Successfully uninstalled httpx-0.7.3
  Running setup.py install for httpx ... done
Successfully installed httpx-0.7.4`

[2019-10-02 20:51] GnubiBORED commented on #376
[code]

[2019-10-02 22:06] SatoshiNakamotogmx commented on #385
Lol got me debating to help with that title lol

[2019-10-03 05:35] florimondmanca commented on #385
A first DEV post on HTTPX + Hacktoberfest has been published here:

[HTTPX: Help Build The Future Of Python HTTP](https://dev.to/florimondmanca/httpx-for-hacktoberfest-help-build-the-future-of-python-http-16pj)

[2019-10-03 07:10] jaKass3 opened #428 "User.client/hackotober"

[2019-10-03 07:12] jaKass3 opened #429 "Hacktober"

[2019-10-03 07:25] #428 closed

[2019-10-03 07:29] florimondmanca commented on #429
Hi @jaKass3, not sure what this issue is about? Closing now, if you have anything else to report feel free to open a new issue.

[2019-10-03 07:29] #429 closed

[2019-10-03 08:18] #420 closed

[2019-10-03 08:46] GnubiBORED opened #430 "Httpx failing on verify certificate"
Im opening again cause its still happening to me
Releated #376

Im using httpx 0.7.4
and charlesproxy: https://www.charlesproxy.com/

[code]

[code]

[2019-10-03 10:07] graingert opened #432 "Releases to PyPI should also contain wheels"
This allows tools to safely parse package metadata without executing `setup.py`

[2019-10-03 10:59] florimondmanca commented on #432
Oh, are we only shipping a source distribution right now? This sounds like a nice improvement to me.

I suppose only the `scripts/publish` would need to be modified to also build and ship the wheel with `twine`. :)

[2019-10-03 11:01] florimondmanca commented on #432
I edited the title to more explicitly state the problem at hand. Thanks for opening!

[2019-10-03 11:04] florimondmanca commented on #422
Since it seems we’ve reached a common understanding, are there any actions points to take away from this issue before closing? Documentation updates maybe?

[2019-10-03 11:32] tomchristie commented on #422
We ought to:

* Document `with Client() as client`, which we support, but don't currently document.
* Document the alternative `client.close()` for explcitly closing the connection pool without block-usage.

We *could*(?) consider switching our top-level API cases to use a lazily created singleton client instance, so that they get connection pooling, and HTTP/2 support. We'd need to switch off coo

[2019-10-03 11:33] florimondmanca opened #433 "Passing 'timeout=None' should always result in no timeout"
Spun up from https://github.com/encode/httpx/issues/411

Currently, the behavior of passing `None` to the `timeout` parameter in the various request entrypoints is not consistent:

[code]

We should make sure passing `None` always results in the behavior (2), i.e. no timeout should be applied, as opposed to (1) and (3) where the default timeout configuration is used.

---

The implementation sugge

[2019-10-03 11:33] florimondmanca commented on #411
Opened https://github.com/encode/httpx/issues/433 based on the discussions here. I think the original issue here was dealt with, so I'm closing this one!

[2019-10-03 11:33] #411 closed

[2019-10-03 11:47] florimondmanca opened #434 "Document how to fine-tune timeout configuration"
Motivated by https://github.com/encode/httpx/issues/411

The current [documentation on timeout](https://www.encode.io/httpx/quickstart/#timeouts) featured in the quickstart is a bit scarce: it only shows how to override all timeouts using a float value.

We should document:

- How to fine-tune connect, read and write timeouts using `httpx.TimeoutConfig(connect=..., read=..., write=...)`.
- How to

[2019-10-03 11:55] graingert commented on #432
is there a reason to ship the sdist?

[2019-10-03 11:56] florimondmanca opened #435 "Fine-tuning timeouts from the default timeout config"
Currently, if we want to change only one of the three timeouts (connect, read, write) we need to build a full-blown `TimeoutConfig`. But there is no way to use the default timeout values.

[code]

Changing `TimeoutConfig` to automatically use the default values in case some values aren't given is probably not the good way to go, because `TimeoutConfig` shouldn't contain any smart behavior.

Instea

[2019-10-03 12:17] cansarigol opened #437 "Add username, password, host, and port in URL.copy_with"
In this way, extends copy_with features beside `URIReference`. Maybe this feature can also be added to `rfc3986` project. Related by #391

[2019-10-03 12:21] gdhameeja commented on #434
I'd like to work on this.

[2019-10-03 12:21] gdhameeja commented on #433
I'd like to work on this.

[2019-10-03 12:22] gdhameeja commented on #393
I'd like to work on this.

[2019-10-03 12:54] Graviis commented on #433
me too 😄

[2019-10-03 12:55] sethmlarson commented on #430
Thanks for opening, I'll have to fire up the proxy again and try it.

[2019-10-03 13:00] sethmlarson commented on #435
What about making `TimeoutConfig(read_timeout=1)` result in 5, 1, 5 instead of None, 1, None? Then you have to be explicit about the other two if you truly want "None".

[2019-10-03 16:40] sethmlarson opened #438 "Create a unified Timeout exception"
Requests has `requests.Timeout` which is a sub-class of all (Read/Write/Connect)Timeout exceptions.

This causes an issue for users wanting to catch all timeouts: https://github.com/allisson/python-simple-rest-client/commit/b0a8c19b40477d1d9c69c3f35318c460680f41da#diff-21432cd9d3e6aeb800d660e681515b92R30

[2019-10-03 16:46] florimondmanca commented on #438
So what I understand here is that we’d like to have a timeout exception base class?

Seems like we have it already...

[code]

[2019-10-03 16:47] sethmlarson commented on #438
Oh, huh. I need to check our feature set before I decide we don't have something.

[2019-10-03 16:47] #438 closed

[2019-10-03 20:26] njsmith commented on #422
I thought you had an ABC for cookie storage? Just make a `NullCookieJar` that's always empty and silently discards any added cookies.

[2019-10-03 20:26] njsmith commented on #422
Or maybe I'm misremembering, but if you don't you probably should :-)

[2019-10-03 20:33] sethmlarson commented on #422
We have a cookiejar abstraction, I think setting it to an always-empty jar like you describe is best. :)

[2019-10-03 21:35] #432 closed

[2019-10-03 21:59] sethmlarson commented on #430
I'm unable to reproduce your issue, I did the following:

- Start Charles proxy running on port 8888
- Export the certificate to `/tmp/charles.pem with `Help > SSL Proxying > Save Charles Root Certificate...`
- Add `www.google.com, 443` to the `Tools > SSL Proxying Settings` menu
- Use the following code in Python 3.8:

[code]

Do any of the above steps not match what you're doing?

[2019-10-03 22:17] jcugat commented on #433
@florimondmanca I don't understand the reason to use the sentinel value. Wouldn't be the same to keep `DEFAULT_TIMEOUT_CONFIG` as the default `timeout` value for `httpx.Client()` and all the top-level methods like `httpx.get()`? That way we would avoid having to check `if timeout is UNSET`.

[2019-10-03 23:11] andrewmwhite commented on #193
I think this is still an issue in 0.7.4 -- not sure why, but `py.typed` isn't getting into the installed package.

[code]

[2019-10-04 00:30] andrewmwhite commented on #193
Update: If you check out the repo and install from the local directory (either master or 0.7.4), the file is there. It's not there if you install via from pypi pip, nor is it in the tarball that's on pypi (https://pypi.org/project/httpx/#files).

[2019-10-04 00:47] #409 closed

[2019-10-04 01:25] sethmlarson commented on #193
Before we mark this as closed again I guess we'll have to test by uploading the sdist and wheel to test PyPI and then installing from there. I think all we need is a modification to `MANIFEST.in`? :man_shrugging:

[2019-10-04 01:34] GnubiBORED commented on #430
Yeah okay , my u

[2019-10-04 01:34] #430 closed

[2019-10-04 05:34] andrewmwhite commented on #193
That’s what my testing indicates, but /shrug.

On Thu, Oct 3, 2019 at 6:25 PM Seth Michael Larson <notifications@github.com>
wrote:

--
Andrew M. White andrewmwhite@gmail.com (919) 960-1706 Sent from my mobile
device; please excuse the brevity, punctuation, and spelling.

[2019-10-04 08:07] florimondmanca commented on #433
@jcugat Good question, thanks, As it turns out, we already default `DEFAULT_TIMEOUT_CONFIG` in the constructors for `Client`, `AsyncClient`, `ConnectionPool`, `HTTPConnection`, etc. I'll edit the issue description based on this.

But there's a few design decisions about clients and dispatchers (which all expose a `.send()` method) that hint at using a sentinel value:

- We should be able to instan

[2019-10-04 08:13] florimondmanca commented on #433
This issue is more subtle than I initially thought it would be and will require to go through various places of the code base. Still a nice first issue, but more challenging than usual, so I removed the label. :)

[2019-10-04 08:15] gdhameeja commented on #433
@florimondmanaca can you assign it to me please?

[2019-10-04 08:17] #437 closed

[2019-10-04 08:31] tomchristie commented on #393
Main question here is where we want to go with the API...

* Add a `.stream(request='GET')` method which is *always* what we use for streaming cases, so that we can ensure that they're always context-manged.
* Stay in line with `requests` and just use `stream=True` on the existing methods. Keeps the API the same, but really easy to fail to close a response, which isn't *awful* but will leave the c

[2019-10-04 08:36] tomchristie commented on #193
Related: It's a bit of a gross hack that we need a `py.typed` file to indicate that we're a well typed package. I don't really dig it.

Is there anything productive that we could do to push for a nicer alternative to become adopted in whichever of Python/MyPy/PyPI this is relevant too? (Eg. A top-level `__typed__ = True` variable in packages? A setting in PyPI package info?)

[2019-10-04 08:43] tomchristie commented on #433
The only place we need to use an `UNSET` value is on the client `.request(...)` methods.
That's because we need to differentiate between two difference cases:

* `timeout` is not set (Defer to whatever is set on the Client instance)
* `timeout=None` (Don't timeout, regardless of whatever is set on the Client instance)

We don't need it on the client value, and we don't need it on the top-level API

[2019-10-04 08:53] tomchristie commented on #435
Simplest question is, what do we want this to return?...

[code]

I *think* we should probably switch things around so that it'll give you `TimeoutConfig(timeout=5)` rather than `TimeoutConfig(timeout=None)`, right?

I guess we want something like this...

[code]

[2019-10-04 09:12] florimondmanca commented on #435
And so we'd have:

[code]

This looks like a nice approach to me. I suppose we'd get rid of `DEFAULT_TIMEOUT_CONFIG` entirely and use `TimeoutConfig()` instead?

[2019-10-04 09:33] #391 closed

[2019-10-04 11:13] thebigmunch commented on #433
Except the top-level API methods default to ``None`` and pass that value along, making the top-level API default to no timeout. I don't think that's desired. And that doesn't help the fact that the dispatcher cannot currently distinguish between "the user did not pass a value" and "the user explicitly doesn't want any timeout", as Florimond said earlier. Doing this would leave the behavior inconsi

[2019-10-04 12:09] sethmlarson commented on #393
Maybe we can put a warning on the Responses garbage collector that it wasn't closed properly, similar to files?

[2019-10-04 15:05] jaKass3 commented on #393
Idk what to do I’m still learning 
    On Friday, October 4, 2019, 07:09:29 AM CDT, Seth Michael Larson <notifications@github.com> wrote:

Maybe we can put a warning on the Responses garbage collector that it wasn't closed properly, similar to files?

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-10-04 15:30] jcugat commented on #433
Ok, so if I got it right, in summary we want:

- `Client` instance: leave default `DEFAULT_TIMEOUT_CONFIG` ✅
- client `.request(...)` methods: change it to have the `UNSET` sentinel ❌
- Top-level API methods in `httpx/api.py`: change it to have default `DEFAULT_TIMEOUT_CONFIG` ❌
- `.send()` methods in clients and dispatchers: change it to have the `UNSET` sentinel ❌

Legend:
✅ already done in the

[2019-10-04 16:36] jaKass3 opened #444 "434#"
import httpx

url = "https://httpbin.org/delay/10"

# (1)
httpx.get(url, timeout=None)  # Times out after 5s

# (2)
client = httpx.jaKass3(timeout=None)
client.get(url)  # Does not timeout, returns after 10s

# (3)
client = httpx.jaKass3()
client.get(url, timeout=None)  # Times out after 5s

[2019-10-04 16:36] #444 closed

[2019-10-04 16:52] jaKass3 opened #445 "Pyl"
nox.options.stop_on_first_error = False	 nox.options.stop_on_first_error = false

  source_files = ("httpx", "tests", "setup.py", "noxfile.py")		 source_files = ("httpx", "tools", "tests", "setup.py", "noxfile.py")

[2019-10-04 16:52] #445 closed

[2019-10-04 19:46] #193 closed

[2019-10-06 00:20] #403 closed

[2019-10-06 06:59] mariaS210 commented on #360
@sethmlarson hello! is someone working on this? if not, i'd like to try it

[2019-10-06 07:12] florimondmanca commented on #360
Feel free to go ahead @mariaS210! 🎉

[2019-10-06 09:18] cansarigol opened #458 "Fix tests for Windows."
- [x] Add Windows to the build matrix. (Closes by #457)
- [x] Skip tests that fail on Windows.(Closes by #402, Also Closes #191 )
- [ ] Remove lowercased environment variables test cases from the proxies tests. (Closes by #456 )

After complete these:

- [ ] Remove `os: windows` from `allow_failures` into `travis.yml`
- [ ] Fix `xfail`s for `AsyncioBackend` fails.

[2019-10-06 09:46] thebigmunch commented on #429
I hope the maintainers have noticed this user spamming invalid PRs and issues to the repo to get Hacktoberfest credit. If not done already, those should be reported as spam, so they don't get credit. And the user should probably be blocked.

[2019-10-06 09:47] yeraydiazdiaz commented on #429
Yep, we've noticed and taking action 👍

[2019-10-06 10:07] pquentin commented on #429
@yeraydiazdiaz Don't forget to add the "invalid" label, closing isn't enough to avoid Hacktoberfest credits.

[2019-10-06 14:53] tomchristie commented on #429
Thanks, yup. Organisation-wide blocked and reported as a troll account.

[2019-10-06 18:39] aaugustin commented on #304
FYI I started implementing a Sans-I/O layer for websockets: https://github.com/aaugustin/websockets/issues/466

It may not be obvious from the first commits because I have to untangle a lot of stuff from asyncio before I can get anything done :-)

[2019-10-06 22:24] sethmlarson commented on #304
@aaugustin That's awesome news! :) Thanks for updating this thread. It'd be interesting to see how an upgrade from `h11` into the `websockets` state-machine might look. Something to definitely write up a POC for that little exchange.

(Also, congrats on the Tidelift sponsorship!)

[2019-10-07 12:22] thebigmunch commented on #385
So, for my first Hacktoberfest PR, I submitted httpx to the [awesome-python](https://github.com/vinta/awesome-python) list. The template suggests that it needs some number of 👍 emotes to be added. So, if people would be so kind as to go to the [pull request](https://github.com/vinta/awesome-python/pull/1381) and give it a 👍, I'd love to see it added.

[2019-10-07 12:25] florimondmanca commented on #385
Awesome, @thebigmunch!

[2019-10-07 13:12] aaugustin commented on #304
So, here's how I think the bridge could work.

Since we're talking about httpx, I'm focusing on the client side here, but the same logic would apply on the server side.

In addition to the regular APIs that receive and send bytes, websockets should provide an API to receive and send already parsed HTTP headers. This API will support bolting websockets on top of any HTTP/1.1 implementation.

In add

[2019-10-07 14:50] tomchristie commented on #433
@thebigmunch Ah yeah, not sure what I was thinking there. Easiest, most consistent then would be for the top-level ones to use the `UNSET` sentinal too, then. (Having them be `DEFAULT_TIMEOUT_CONFIG` would also work just fine, but I guess we may as well make them mirror their equivelent methods)

[2019-10-07 14:51] tomchristie commented on #433
So, @jcugat I'd probably suggest the last three in that list should all be "use `UNSET`".

I think we've got that right, then?

[2019-10-07 15:07] thebigmunch commented on #433
What about the default in ``AsyncDispatcher.request`` and ``Dispatcher.request``? What about the default [here](https://github.com/encode/httpx/blob/master/httpx/client.py#L204)? I may be missing some spots; I just took a quick skim, so I don't have a good idea about their use and interaction with everything.

[2019-10-07 17:33] kylebebak commented on #193
I don't like that this file is required either (that said, I'm not familiar with mypy's package resolution behavior, and I'm betting there's a good reason they decided on using a marker file).

 `py.typed` was [required by PEP-561](https://www.python.org/dev/peps/pep-0561/#packaging-type-information), for Python 3.7.

I don't think they'll be changing this any time soon...

[2019-10-07 17:39] florimondmanca commented on #193
I’d bet that too, but I can’t seem to find where this was discussed. PEP 561 doesn’t mention alternatives nor does it have a « Rejected ideas » section that we’d typically find in PEPs about public APIs.

I think scraping the web (or just GitHub) for pages mentioning « Add py.types » or « fix type annotations distribution » would be an interesting experiment to try and gauge how unintuitive the py

[2019-10-07 18:35] florimondmanca commented on #193
Out of curiosity, I compared the usage of `py.typed` between mypy and [pyre](https://pyre-check.org/) (an alternative Python static type checker implemented in OCaml).

It seems Pyre doesn't use `py.typed` at all. Instead, users must to specify a `--search-path` to specify extra paths where typed packages should be used, and that's how pyre looks for type annotations in external packages. For exam

[2019-10-07 23:08] SatoshiNakamotogmx commented on #385
I'm rdy to get this going it's been 10 years since I have shown my face lol

[2019-10-08 01:18] jhtimmins commented on #35
@florimondmanca is this still up for grabs? And if so, would it make a good first issue?

[2019-10-08 07:57] florimondmanca commented on #35
Hi @jhtimmins! There's already a PR for this over at https://github.com/encode/httpx/pull/322, but unfortunately it seems to have slipped through.

So feel free to take it up. I don't think the fix will be trivial, but you can take a crack at it and see where you end up. :)

[2019-10-08 20:12] #366 closed

[2019-10-09 01:47] jhtimmins commented on #35
Thanks @florimondmanca! Sounds great. I'll do that.

[2019-10-09 04:52] SatoshiNakamotogmx commented on #385
In la

[2019-10-09 07:10] lepture commented on #345
@kesavkolla I think what you need is something like <https://docs.authlib.org/en/latest/client/httpx.html>

Stay tuned, Authlib HTTPX feature is not released yet, it will be released in v0.13.

[2019-10-09 07:30] florimondmanca commented on #345
Looking great @lepture! I see there's also a [Starlette integration](https://docs.authlib.org/en/latest/client/starlette.html) — wondering how much of it is Starlette vs plain ASGI? — looks like two nice components for implementing complex authentication schemes in async web apps.

If you'd like any feedback on those integrations, feel free to ping @tomchristie, @sethmlarson, @yeraydiazdiaz or mys

[2019-10-09 08:16] lepture commented on #345
@florimondmanca The Starlette integration is not async currently.  It was implemented by https://github.com/lepture/authlib/pull/153. I'm working on Starlette integration now to get it async since I've implemented the HTTPX async OAuth clients already.

Basically, web frameworks integrations API are all the same. In your web routes:

[code]

The documentation for Starlette is not updated yet. But

[2019-10-09 12:09] sethmlarson commented on #385
Gonna close this issue as we're in full swing. :)

[2019-10-09 12:09] #385 closed

[2019-10-10 12:05] #311 closed

[2019-10-10 13:58] lepture commented on #345
@florimondmanca @tomchristie @sethmlarson

Here is a [demo for Starlette Google login with Authlib][demo]. It should work with Authlib **wip-starlette** branch, but I didn't test it yet. But the API would be designed like the way it is in the demo.

[demo]: https://github.com/authlib/demo-oauth-client/tree/master/starlette-google-login

[2019-10-10 14:37] GnubiBORED opened #469 "How to force Client to use a specific TLS version?"
So basically im migrating from requests to httpx and i see i was forcing tlsv1_2  with requests HTTPadapter , but  i dont think these is comp with httpx, i was wondering how i can force httpx to use specific tls version

[code]
I was doing like these in requests

[2019-10-10 14:44] florimondmanca commented on #469
Thanks for opening. Since I believe TLS v1.2 is considered insecure, I suppose you were forcing 1.2 because the client you’re connecting to is exposing that version of TLS? If you don’t have such a requirement anymore I’d advocate in favor of using 1.3.

If you really need it though, there may be an undocumented API (most likely SSLConfig) that you *could* somehow override, but I can’t dig it out

[2019-10-10 15:31] sethmlarson commented on #469
TLSv1.2 is totally secure and recommended, we enforce TLSv1.2+ for all of our connections by default.

[2019-10-10 15:38] GnubiBORED commented on #469
Yes, i need to in all my http calls just use TLSv1.2 never 1.3 atleast from now, cause the android app im sniffing uses 1.2 and i want to make the calls in the same way, with requests and httpadapter was easy to do. What im asking is if its possible to force specific tls version while making calls

[2019-10-10 15:55] GnubiBORED commented on #469
@sethmlarson but i need to verify request with charlesproxy ssl certificate too, these will be a problem?

[2019-10-10 16:01] sethmlarson commented on #469
You can pass `verify=[path to cert]` into the constructor of the `httpx.SSLConfig()` and that should work.

[2019-10-10 16:01] sethmlarson commented on #469
Either that or you can call `ssl_context.load_verify_locations([path to cert])` on the SSLContext object. That'll also work.

[2019-10-10 16:03] GnubiBORED commented on #469
Thanks for everything as always, i will close the issue

[2019-10-10 16:03] #469 closed

[2019-10-10 20:14] andrewmwhite commented on #193
Just following up -- this looks to be fully resolved as of 0.7.5. Thanks!

[2019-10-12 20:54] GnubiBORED opened #473 "Add Headers to Connect method when proxying?"
I remember(i do not in what thread) i speaked with @sethmlarson thath would be possible to add headers when using proxy to connect method
if you use a proxy you first open connection with CONNECT and then you do the POST/GET, my question is if nowadays its possible to do these with httpx add specific headers to CONNECT method thath is automatically done on each connection i think(i dont have a lot

[2019-10-12 21:01] GnubiBORED commented on #473
found it in #202

[2019-10-12 21:01] #473 closed

[2019-10-12 21:27] mwoss commented on #434
@gdhameeja are you working on this issue or could I take over it?

[2019-10-12 22:19] sethmlarson commented on #434
@mwoss You can take this issue I think. :)

[2019-10-13 08:31] GnubiBORED opened #474 "httpx adding extra proxy headers?"
`  proxy = httpx.HTTPProxy(
                    #la variable ip que pasamos a la funcion es el proxy
                    "http://{}".format(ip),
                    #y aqui añadimos los headers especificos que llevan las peticiones CONNECT cuanndo usamos proxy
                    proxy_headers={"Host": url+':443',
                                   "Proxy-Connection":"Keep-Alive"}`

im sniffing th

[2019-10-13 08:38] GnubiBORED commented on #469
my code:

[code]

[2019-10-13 08:40] GnubiBORED opened #475 "CERTIFICATE_VERIFY_FAILED"
So unless im doing something bad, i doubt cause i just copied the code in #469

my code:

[code]

error:

[code]

[2019-10-13 10:13] florimondmanca commented on #475
@GnubiBORED The snippet from #469 works well on my side:

[code]

It seems the issue you're having is that CharlesProxy certificates are not trusted on your machine. I found documentation on how to enable this in the CharlesProxy docs, [here](https://www.charlesproxy.com/documentation/using-charles/ssl-certificates/). Closing as non-HTTPX-related. :-)

[2019-10-13 10:13] #475 closed

[2019-10-13 10:15] florimondmanca commented on #474
Yes, HTTPX adds various headers automatically when making requests. I don't know if `CONNECT` should be an exception. @sethmlarson What's your opinion on this?

[2019-10-13 10:17] florimondmanca commented on #474
@GnubiBORED I updated the title of this issue towards what I understood the underlying issue was. Feel free to correct me if that's not what you meant.

[2019-10-13 11:06] GnubiBORED commented on #474
yes its exactly what i meant, and in my opinion and in my case use, not just in connect, if in all methods every header is manipulable, better, i mean if i can customize the request more, better, in these case FOR ME its preferible to remove those extra headers i dont need .

[2019-10-13 12:00] florimondmanca commented on #474
Do you just *not need them* (in which case we can probably just leave them in?), or do they pose an issue with your use case?

[2019-10-13 12:03] GnubiBORED commented on #474
its an issue for my case cause im sniffing and copying http request and in the original ones there are just 2 headers so i need to remove the rest, if not then i cannot do the requests in same way and its a problem for me

[2019-10-13 15:23] GnubiBORED commented on #475
sorry @florimondmanca but i do think its a httpx issue cause if i pass the certificate in a normal way, it works good but when im doing with
`ssl_config = httpx.SSLConfig()
ssl_context = ssl_config.load_ssl_context()`
isnt working properly, if @sethmlarson can try with charlesproxy to figure out, cause for me isnt working as if i pass inside client
`>>> client = httpx.Client(proxies={"http": "http

[2019-10-16 13:31] #384 closed

[2019-10-16 16:28] florimondmanca commented on #434
Closed by #476.

[2019-10-16 16:28] #434 closed

[2019-10-16 22:18] lafrenierejm opened #478 "SSLV3_ALTER_BAD_CERTIFICATE being raised on valid certificate"
`ssl.SSLError [SSL: SSLV3_ALERT_BAD_CERTIFICATE]` is being raised when passing a path to a valid certificate.  `requests` accepts the certificate without error when performing the exact same call. The fact that this appears to be SSLv3-related is surprising;  the host I am attempting to connect to accepts TLS1.2 only.

- macOS 10.14.6 (Mojave)
- Python 3.7.4 installed using (pyenv)[https://github.

[2019-10-17 00:43] sethmlarson commented on #478
Thanks for opening this! Is it possible to upload the certificate you're using?

[2019-10-17 04:56] lafrenierejm commented on #478
@sethmlarson Unfortunately, no. The certificate is for one of my employer's internal use.

Is there any specific information about it that I could provide you with in lieu of the certificate itself?

[2019-10-17 08:04] florimondmanca commented on #36
@sethmlarson Closing this since I think we now have the basics in (HTTP/HTTPS, forward/tunnel) and SOCKS proxy is tracked in #203. If I missed something anyone please reopen. :)

[2019-10-17 08:04] #36 closed

[2019-10-17 08:12] florimondmanca commented on #96
So, is this still an issue? And if so, what can we do to resolve it?

- Should we introduce a sort of « catch all » wrapper exception? (That doesn’t seem easily feasible to me without introducing cruft.)
- Perhaps we could build up a small reproduction example in which we’d forcibly crash or close the remote server and see what happens, ie whether we get the h11 exception again?

[2019-10-17 08:24] #343 closed

[2019-10-17 08:33] florimondmanca commented on #179
Hey, seems like this issue has drifted away. :) Is there anything actionable we could do about it?

- Adding a warning in the docs against using the sync API in an async context?
- Trying to detect when the user is doing that and raise an explanatory error?

I’m in an issue closing mood today, and I think this one could just be considered as a constraint and documented as such (ie option 1).

[2019-10-17 08:48] DeemoASCII opened #479 "can't use proxies args with client"
httpx version: 0.7.5
when I try:
` client =  httpx.AsyncClient() `
` resp = await client.get('http://python.org',proxies={'http':'...'})`
 I got the error like:
`TypeError: get() got an unexpected keyword argument 'proxies'`
but the api doc say:
![image](https://user-images.githubusercontent.com/22360953/66992910-4239ff00-f0fd-11e9-963c-8d19b3ab8ca0.png)
,so what should i do that i can use proxies

[2019-10-17 09:48] tomchristie commented on #479
Closing this issue out of hand. Not interesting in interacting with folks who don't bring a constructive attitude to their interactions.

The user here isn't being outright offensive, but it's clearly unneccessary.

Note that the client docs here *are* incorrect, since we don't yet support per-request proxies. #464 resolves this particular issue. We should chat about if we're happy for it to go in

[2019-10-17 09:48] #479 closed

[2019-10-17 09:55] tomchristie opened #480 "Drop proxies argument from top-level API functions."
Somehow the `proxies` argument has crept into our top-level API functions (eg. `httpx.get()`).
It's not actually wired up anyplace. We should drop the argument for now.

We *will* want per-request control for proxies, but that should be implemented alongside adding support for `proxies=...` on the Client methods (eg. `client.get(...)`), which we currently erronously document, but do not support.

[2019-10-17 12:43] DeemoASCII commented on #479
I'm so sorry.
but you may have misunderstood what I meant.
that's just a habit , I want to show a lovely attitude. it's a cultural difference.

other:
I use httpx in my work long time, today i got some bug which is fixed in version >0.7.3, so I update the version, but the proxies can't work, i don't know how to make it work perfectly

[2019-10-17 13:16] tomchristie commented on #179
I'd say documented constraint.

There's a million and one *other* broken blocking operations that a user could do, that *won't* autodetect. Unless there ends up being some backed in support in the stdlib guarding against this (unlikely) then this really just comes down to "if you're using async you need to be attentive to avoiding blocking operations".

[2019-10-17 16:00] phishstang65 opened #481 "HTTP Post with files works with Requests but not HTTPX"
Hi. The following works with Requests, but not HTTPX. Can you please help me understand how to make it work:

[code]

The error I get is:

[code]

[2019-10-17 16:01] sethmlarson commented on #478
That's what I was afraid of. I'll have to investigate the call chain for requests versus HTTPX on specifying a `cert=` parameter.

[2019-10-17 16:04] sethmlarson commented on #481
Thanks for reporting this! Our multipart support definitely isn't exercised enough in the test suite.

[2019-10-17 19:22] yeraydiazdiaz commented on #481
I had a quick look at this and considering [our docs on multipart encoding](https://www.encode.io/httpx/quickstart/#sending-multipart-file-uploads):

1. When specifying `files` as a `Dict[str, tuple]` the first element of the tuple must be a string. In your example you're setting it to `None` which is causing the error.
2. The multipart encoding expects the second element to be a file-like object,

[2019-10-17 20:31] iwoloschin commented on #96
I just ran into this issue again.

In my case, I sort of expect something stupid to happen, I'm deliberately `GET`ing an endpoint on a server that is attempting to reboot, in an attempt to take an action after the reboot is complete & the HTTP service (FastAPI) is back up.  I'm fine to catch some exceptions here (`HTTPError` or `ConnectionRefusedError`), it kind of makes sense to throw an exceptio

[2019-10-17 20:37] iwoloschin commented on #96
Quick addendum, if I put a short sleep in, to try and avoid hitting the endpoint as the HTTP service is being stopped it appears to avoid the `h11` exception.  I then got `OSError: [Errno 113] Host is unreachable`, which...is correct, but also not exactly intuitive.

[2019-10-17 22:11] jlaine commented on #304
WebSockets over HTTP/3 haven't been officially specified, but it is extremely likely it will work like for HTTP/2 (RFC 8441), namely using a `:protocol` pseudo-header. This is what I have assumed for the `aioquic` demo client + server, and I believe @pgjones did the same for `hypercorn`.

[2019-10-18 12:42] tomchristie commented on #96
This one doesn't *look* like it ought to be a catch-all case. Seems to be an*expected* possible behaviour that we ought to explicitly catch and raise as a ConnectionClosed or whatever?

Certainly it'd be *really* helpful to be able to reliable reproduce this yup.

[2019-10-18 19:56] 774185530 opened #483 "774185530"
محمد

[2019-10-18 19:57] 774185530 commented on #483
774185530

[2019-10-18 19:57] 774185530 commented on #483
774185530

[2019-10-18 19:59] #483 closed

[2019-10-19 10:12] yeraydiazdiaz commented on #480
Is it worth creating a separate issue for this?

[2019-10-19 10:32] yeraydiazdiaz opened #486 "Per-request control for proxies"
Split from https://github.com/encode/httpx/issues/480#issue-508365236

[2019-10-19 11:52] #422 closed

[2019-10-19 12:51] #480 closed

[2019-10-19 19:47] iwoloschin commented on #96
Here's a simple reproducible example.  It uses two separate files and requires `fastapi` and `httpx`.

FastAPI Server:
[code]

Client:
[code]

In one terminal run the server (I'm using `gunicorn` with a `uvicorn` worker since that's how I normally run my FastAPI applications).

In a second terminal, launch the test (I just did `./test.py`).  Let it run for a second and then kill the *server* with

[2019-10-19 20:12] florimondmanca commented on #96
Thanks @iwoloschin, that's very helpful. I was able to reproduce using the even simple setup below (plain ASGI app + uvicorn):

[code]

I got te `h11` error 3 times out of 5, the 2 other failures were an `OSError`. I'm running the same setup as you (except for Python 3.7 via `pyenv`).

[2019-10-20 12:25] #481 closed

[2019-10-20 13:26] florimondmanca commented on #433
@tomchristie Considering #463 turned out to make the `UNSET` sentinel leak across the code base, I opened a bunch of PRs the to explore the option of using `timeout=False` to disable timeouts. They result in a rigorous consistency of what `timeout=None`/`timeout=False` means across the code base and for our users, which I find quite pleasing. They need to be reviewed/merged in order:

- #491: Reor

[2019-10-20 14:53] thebigmunch commented on #433
@florimondmanca

* Having one boolean value be meaningful argument while the other is not is almost always a bad idea and will likely cause confusion. I use meaningful instead of valid here because: ``1 == True``. So, ``True`` is technically a valid input, just not in a way people would likely expect.
* As I said before, ``timeout=False`` does not really read as what you'd expect for "no timeout"

[2019-10-20 15:04] thebigmunch commented on #433
Another option could be to just set the default parameter values to ``5``.

[2019-10-20 15:59] florimondmanca commented on #433
@thebigmunch Thanks for your comments.

Your first point makes me think — *what if* we switched from `None`to `True` as the default, and disallowed `None` altogether? Then, we'd be able to raise a nice and clean exception to our users:

[code]

I mean, if we decided to break backwards compatibility w.r.t. to timeouts (Requests applies no timeouts by default, but HTTPX does), it'd be nice to make i

[2019-10-20 16:03] florimondmanca commented on #433
Applying `DEFAULT_TIMEOUT_CONFIG` internally whenever relevant still seems like a valid option, yes.

[2019-10-22 05:47] lepture commented on #345
Oh, I just found that I only imported one thing from starlette:

[code]

That means I can actually create a plain ASGI client.

[2019-10-22 09:14] tomchristie commented on #433
Seems like a very sensible suggestion, right? Not sure why it took us such a winding road to get there. 😌

[2019-10-22 09:14] tomchristie commented on #96
Good digging folks!

[2019-10-22 09:23] tomchristie commented on #474
We absolutely need to include some default headers, eg. content-length, a default user-agent, etc... however we *also* include lower level APIs for building and sending request instances explicitly.

[2019-10-22 09:47] thebigmunch commented on #433
Sometimes its difficult to see the wood for the trees ^_^

[2019-10-22 16:52] GnubiBORED commented on #474
adding default headers isnt a problem but isnt possible to remove them if needed?

[2019-10-22 20:52] florimondmanca commented on #433
So, unless I'm really missing something here, I think the change to `timeout=5` is not as trivial as we'd like it to be. Consider this example:

[code]

I guess we're expecting `timeout=1e-2` to propagate to the `.request()` call, right?

Except… `.request()` has its own `timeout` parameter, so defaulting it to `timeout=5` too means we have no way to tell if a `timeout` was passed, or if we should

[2019-10-22 21:14] florimondmanca commented on #433
I think this wouldn't be a problem if we were using `**kwargs`. We'd basically be able to use everywhere:

[code]

But obviously `**kwargs` goes against our efforts of providing good editor and type checking support, so, yeah… I can't find of any other way to check for "this kwarg was not given" other than using a sentinal value at this point.

[2019-10-22 21:25] florimondmanca commented on #433
If anyone is up for tackling this (and give the problem another POV), I'd be super happy. I feel like I'm going crazy over the issues that arise when actually trying to make this change happen, and don't have the resources to dig any deeper right now unfortunately.

[2019-10-22 21:28] thebigmunch commented on #433
I definitely mentioned it in regard to ``Client`` and its methods in your PR. I hadn't thought past that to see if it cropped up even deeper though.

In the prior art of ``requests``, they quite specifically kept ``timeout`` out of ``Session`` because they wanted to keep a semantic separation between the session and the adapter layers (client vs dispatcher in httpx).

Again, probably the solution

[2019-10-22 21:31] thebigmunch commented on #433
This would also go against the decision to remove unsupported parameters for some of the methods.

[2019-10-22 21:45] thebigmunch commented on #433
Yeah, I hadn't yet dove deep enough to see the full extent of the rabbit hole... until just now. Ouch.

[2019-10-22 22:14] mwoss commented on #404
May I take over it?

[2019-10-23 16:37] tomchristie commented on #404
We'll happily take any contributions here yup.

[2019-10-23 16:58] tomchristie commented on #474
I'm not sure *what* additional headers we ought to be including on "CONNECT" proxy requests?
It may be that we ought to be supressing the default request headers in that case.
Are `accept-encoding`, `accept`, and `connection` meaningful in that context?
Is `user-agent` typically included by clients on "CONNECT" requests?

It might help to know what the behavior of `curl` and `requests` is in equiv

[2019-10-23 20:29] mwoss commented on #404
Ok, I will take care of it tommorow or on Friday.

[2019-10-26 14:45] flyinactor91 commented on #349
Hope your Hacktoberfest is going well. Can confirm this happens with all connection types. All I need to do is turn off WiFi to replicate with both sync:

[code]

And async:

[code]

[2019-10-26 15:00] sethmlarson commented on #349
@flyinactor91 httpbin.com isn't a website. Do you mean https://httpbin.org?

[2019-10-26 15:12] Trim21 commented on #349
@sethmlarson He wants `httpx` to raise `socket.gaierror`.

[2019-10-26 15:37] flyinactor91 commented on #349
Lol. Yes I do. So much for typing things in again :)

I'm currently handling generic connection issues via `except socket.gaierror` for the time being. It works (and is stdlib), but a native httpx exception class or the stdlib ConnectionError would be preferred.

[2019-10-31 16:20] tomchristie opened #495 "Logging levels"
I've been spending some time looking at logging levels with `uvicorn` lately, see eg. https://github.com/encode/uvicorn/pull/474 and would like to take a consistent approach across other projects in `encode`.

We've currently got some very detailed logging, that's available, tho it's really at a "dig into the internals" level, rather than general purpose log outputs.

Something that would tie in r

[2019-10-31 16:29] tomchristie opened #496 "Require `pip install httpx[http2]` for HTTP/2 support"
I wonder if we should consider having HTTP/2 be an optional requirement, rather than always-on.

I've been working towards minimal installs in other projects eg. Starlette (no hard dependencies) and Uvicorn - we're planning to move towards `pip install uvicorn` for a basse install of just `click` and `h11`, and `pip install uvicorn[default]` to pull in websockets plus platform specfic stuff like u

[2019-11-01 16:52] svanburen opened #497 "responses-like alternative for httpx"
Hi,

I'm currently using https://github.com/getsentry/responses for testing an app that's using requests. Is there anything similar for httpx?

Thanks for the library!

[2019-11-01 17:25] florimondmanca commented on #497
Hi @svanburen! `responses` looks like a neat utility. I don't think an equivalent for HTTPX exists yet, though. But let's see if it could be possible, and how!

From what I can see in [the code](https://github.com/getsentry/responses/blob/master/responses.py), the way `responses` works is it monkeypatches `requests.adapters.HTTPAdapter.send` with a version that pops a matching response from those

[2019-11-01 18:10] tomchristie commented on #497
A useful pattern here may be to plug the client into a simple WSGI or ASGI app when you want to mock out a set of responses.

For instance if you’re testing a web app that makes some outgoing requests, you could make sure to instantiate a standard client when you’re running the live app, but swap the client out for one that points at a mocked out service when running the test suite.

[2019-11-01 18:17] florimondmanca commented on #497
Good point @tomchristie — this reminds me of a recent article that just exactly that, i.e. mock an external service with Starlette and HTTPX for testing purposes: [Quick and dirty mock service with Starlette](https://www.mattlayman.com/blog/2019/starlette-mock-service/).

[2019-11-01 18:27] StephenBrown2 commented on #497
I have also wanted to add support for httpx to [vcrpy](https://github.com/kevin1024/vcrpy) ([docs](https://vcrpy.readthedocs.io/en/latest/installation.html#compatibility)), as auto-recording responses would be a fantastic feature for mocks as well.

[2019-11-02 11:15] florimondmanca commented on #496
I think having a consistent policy wrt installs across Encode projects is a neat idea. Minimal installs + `<project>[default]` for regular features sounds good to me!

[2019-11-02 11:17] florimondmanca commented on #495
100% yes for me. We currently have very verbose debug logs, which does seem to hint that they should be traces for low-level debugging (e.g. for bug reports etc.). A debug level with just a summary of requests would be enough to address "are my HTTP requests being fired at all?".

[2019-11-02 11:20] florimondmanca commented on #495
I see this approach has already been implemented in a few other Encode projects:

- Uvicorn: https://github.com/encode/uvicorn/pull/474
- Databases: https://github.com/encode/databases/pull/156

I think I'll take a look at adding this to HTTPX. :-)

[2019-11-02 21:49] florimondmanca commented on #497
So, I think the original question for this issue has been answered, 'm going to close this for now. :-) Thanks!

[2019-11-02 21:49] #497 closed

[2019-11-04 09:43] JosXa commented on #376
I'm facing the same issue after trying out the library, I guess it's back to requests

[2019-11-04 10:33] tomchristie commented on #376
@JosXa @MikalaiDavydzenka Could either of you provide some more info to help make it easier for us to replicate this issue ourselves, so we can get it resolved? Are you using charesproxy too, or something else?

[2019-11-04 10:47] MikalaiDavydzenka commented on #376
@tomchristie I was under a corporate network where all outgoing connections should go through a proxy. So, I don't know which proxy server was used there, and moreover, there is no way to get this information. Unfortunately, right now I don't have access to the code and network to provide more detailed examples and debugging information. If I get access again (this may happen next month), I'll pos

[2019-11-04 13:04] gvbgduh opened #503 "Support HTTP/2 without TLS"
Would it be possible to force the `httpx` client to use HTTP/2 to communicate with the server without TLS?

I'm using it as
[code]
but it still (reasonably tho) uses HTTP/1.1.

Most of the clients are trying to negotiate the update to HTTP/2 over HTTP/1.1 before as well, which is desired behaviour, but it might be handy for easier development and/or debugging.

There's `hyper.HTTP20Connection` tha

[2019-11-04 13:23] tomchristie commented on #503
To allow for this I think we'd need to add support for the HTTP header `Upgrade: h2c` right?
(Rather than the current HTTPS-only connections which are ALPN-negotiated.)

I'd be okay with us supporting that - it just needs the extra work is all.

[2019-11-04 13:34] sethmlarson commented on #503
@gvbgduh What is your use-case for HTTP/2 without TLS? All browsers that implement HTTP/2 only support via ALPN.

[2019-11-04 14:53] gvbgduh commented on #96
@florimondmanca I'm also getting this one, but quite reliably with ssl. Works well without ssl.
I'm also using a simple ASGI app + uvicorn in the AsyncClient.

[2019-11-04 15:02] gvbgduh commented on #503
Thanks, @sethmlarson, yes that makes sense.
To be honest, I was looking for some shortcuts with setting up the client for testing for the HTTP/2 implementation against the server-side.

[2019-11-04 15:12] gvbgduh commented on #96
[code]

[2019-11-04 19:13] yeraydiazdiaz commented on #360
Closed via https://github.com/encode/httpx/pull/471

[2019-11-05 08:08] gvbgduh commented on #96
Actually, my test case has a mistake, it tries to communicate over HTTP instead of HTTPS.
And fails in this case

[code]
I guess it's just another facet of the problem

[2019-11-06 01:58] szelenka opened #504 "AttributeError: module 'rfc3986.api' has no attribute 'iri_reference'"
Just did a pip install of httpx, and it appeared to meet all the pre-reqs. However, I'd encounter the error in the title.

(python37) $ pip install httpx
Collecting httpx
  Using cached https://files.pythonhosted.org/packages/15/fb/81861a0dbe87a0de57491b1b587419845f9a99e5b3d48e56cd440b1fcb68/httpx-0.7.6-py2.py3-none-any.whl
Requirement already satisfied: certifi in .../envs/python37/lib/python3.7/

[2019-11-06 09:49] florimondmanca commented on #504
Can confirm this happening when installing `rfc3986==1.2`. 1.3.0 is fine, though. Probably because `iri_reference` was introduced in 1.3, as indicated by the the [rfc3986 pull requests](https://github.com/python-hyper/rfc3986/pulls) page.

If you're up for it, we'll gladly accept a pull request for this change. :-)

Just going to cc @sethmlarson as he's leading maintenance on `rfc3986` I believe.

[2019-11-06 10:00] dmitriyshashkin opened #505 "trust_env is partially ignored for httpx.get calls"
I have a socks5 proxy used in the system and it's not supported by httpx. `all_proxy` environmental variable points to socks5 proxy, therefore `httpx.get('https://httpbin.org/get')` call results in an error (Unknown proxy for URL).

To bypass that I specify trust_env=False like this `httpx.get('https://httpbin.org/get', trust_env=False)`, but still get the same error.

I looked up the request meth

[2019-11-06 10:11] florimondmanca commented on #503
After some research it is true that [HTTP/2 does not *require* encryption](https://http2.github.io/faq/#does-http2-require-encryption), but "currently no browser supports HTTP/2 unencrypted", and there seems to be [various reasons why that is](https://stackoverflow.com/questions/46788904/why-do-web-browsers-not-support-h2c-http-2-without-tls).

I'd agree with Tom that this *could* be supported, bu

[2019-11-06 10:25] gvbgduh commented on #503
Thanks a lot @florimondmanca, yes, it would definitely be an option. As it's not very obvious how to use self-signed certificates.

On the other hand, I gave it a bit of though, and I think there can be a valid example.
Indeed, browsers don't support unencrypted traffic, but your own APIs might not. And if we have a number of services that communicate with each other within the private network beh

[2019-11-06 10:52] tomchristie commented on #505
Good catch, yup. I think we should *only* pass `trust_env` to the Client in that case, and not bother including it on the request (it will just default to the client value).

Stylistically I'd be tempted to do the same for `timeout`, `cert`, `verify` too, which are more typically per-client than per-request.

[2019-11-06 11:12] florimondmanca commented on #503
Ah, so the goal is to test the Uvicorn HTTP/2 implementation? 😄 Sounds exciting.

I think there's not a pressing need otherwise to add support for unencrypted HTTP/2, and as you wrote it's probably worth a different ticket spun up from this one.

If you all are OK with it I'll close this, and open one about documenting usage of self-signed certificates. Thanks @gvbgduh!

[2019-11-06 11:19] florimondmanca opened #507 "Hints on self-signed certificates"
In https://github.com/encode/httpx/issues/503, @gvbgduh mentioned the need to make HTTP/2 requests to a local server. Because of our current implementation (require TLS for HTTP/2, as browsers do), this typically requires to setup a local self-signed certificate for use in tests.

I'm probably not the one most aware of how this can be done — @sethmlarson may have some pointers? But we could at lea

[2019-11-06 11:20] tomchristie commented on #507
Related: https://github.com/encode/uvicorn/issues/47#issuecomment-550266244

[2019-11-06 11:39] gvbgduh commented on #503
Yeah, I'm happy with it. Thanks @florimondmanca!
I guess those 2 cases (unencrypted traffic within secure net and the upgrade flow) may arise at some point eventually, but not sure it's worth attention now.

[2019-11-06 12:06] dmitriyshashkin opened #508 "Incompatible with jupyter"
[code]

When run from Jupyter this snippet produces "Cannot run the event loop while another loop is running" error. Works fine in REPL. Apparently the use of asyncio conflicts with Jupters's own event loop.

httpx version: 0.7.6
os: Fedora 29
python: Python 3.6.9
ipykernel: 5.1.2
ipython: 7.8.0
jupyter: 5.4.1

[2019-11-06 12:38] florimondmanca commented on #508
Do you get the error when running these commands in an `ipython` shell (spawned directly from the command line)?

I'm on `ipython==7.7`, and cannot reproduce this issue on my side. Didn't try with Jupyter though.

![Screenshot 2019-11-06 at 13 37 16](https://user-images.githubusercontent.com/15911462/68298834-ad427a00-009a-11ea-945b-b67dc19e8226.png)

[2019-11-06 12:52] florimondmanca commented on #508
OK, I was able to reproduce. Details are below. The workaround right now is to take advantage of the fact that IPython 7+ supports running `async/await` code, and use an `AsyncClient`:

![Screenshot 2019-11-06 at 13 50 00](https://user-images.githubusercontent.com/15911462/68299648-6786b100-009c-11ea-9fa3-d8b6d5869042.png)

---

Setup:

[code]

I created a notebook via the web UI with your sample

[2019-11-06 13:01] euri10 commented on #508
you can use nest asyncio and plug to the running loop

On Wed, Nov 6, 2019 at 1:52 PM Florimond Manca <notifications@github.com>
wrote:

--
benoit barthelet
http://pgp.mit.edu/pks/lookup?op=get&search=0xF150E01A72F6D2EE

[2019-11-06 13:03] florimondmanca commented on #508
I think this is a more general issue — what happens when people try to use the sync API in an async context? Generally, I'd argue that shouldn't be done, but there are times (like in Jupyter) when users don't know (and shouldn't need to know!) that they actually are in an async context. Which makes me think we might want to accomodate that use case.

@euri10

Could you expand on this?

[2019-11-06 13:08] euri10 commented on #508
in your jupyter instance you do
[code]
then you can use the await without triggering the event_loop error

On Wed, Nov 6, 2019 at 2:03 PM Florimond Manca <notifications@github.com>
wrote:

--
benoit barthelet
http://pgp.mit.edu/pks/lookup?op=get&search=0xF150E01A72F6D2EE

[2019-11-06 13:49] florimondmanca commented on #508
@euri10 Seems crazy to me

Okay so, as funny as it seems, running a coroutine and waiting for it to finish without using `await` in an async context seems like an incredibly difficult task. There's `asyncio.run_coroutine_threadsafe()`, but it *has* to be called in a different thread than the one the loop is currently running in, otherwise it just won't run (i.e. the returned future times out).

Th

[2019-11-06 13:56] graingert opened #509 "dns-over-https DoH"
Normally a DNS resolver would be something you plug in at a different level, however for DoH you need an http client already and for some optimizations (eg using cloudflare DoH to only access the Cloudflare web should only require one connection) you need to be using the same machinery for your DoH and regular web requests

As such httpx should implement DoH directly

[2019-11-06 14:15] florimondmanca commented on #508
Honestly though, I *think* this is a bug in Jupyter itself (more precisely in [ipykernel](https://github.com/ipython/ipykernel), the IPython kernel for Jupyter), since IPython doesn't have any issues with running our sync APIs.

(In fact, if you open an IPython shell and type `loop = asyncio.get_event_loop(); loop.is_running()`, you'll get `False`, while running the same in a Jupyter cell returns

[2019-11-06 14:16] euri10 commented on #508
yep, using nest_ayncio feels more like a hack

iirc, but this is old in my mind, there are 2 ways to determine the current running loop, `asyncio.get_event_loop` or `asyncio.get_running_loop`

the main difference is that `asyncio.get_running_loop` returns the currently running loop if there is one and raise RuntimeError if there is none while `asyncio.get_event_loop` does a lot of  checks and long

[2019-11-06 14:26] sethmlarson commented on #509
DoH can be implemented as a middleware via capturing the request URL domain name and rewrite it to an IP address that's been resolved via DoH. I agree we should implement it once and distribute it via a package.

[2019-11-06 14:31] sethmlarson commented on #507
If it's for local development (especially within the context of testing) I highly recommend using trustme to generate the certificates and then configure them as you would any other certificate. That gets you the most realistic scenario of trusting a CA certificate that previously signed the certificate the server is presenting. It wouldn't be hard to whip up a little tool that just hands you the

[2019-11-06 14:44] gvbgduh commented on #507
Thanks @sethmlarson, it actually works great.

[2019-11-06 14:47] sethmlarson commented on #507
(Btw I'm putting together a little utility that generates certificates in this configuration for you from command line)

[2019-11-06 14:51] florimondmanca commented on #507
I just noticed we currently don't have any usage hints on how to use the `cert` parameter (just a definition of what it is in the Developer Interface). Would this be a good opportunity to set it up?

Perhaps a "Custom SSL certificates" section in the Advanced docs, that shows how to use a `trustme` certificate in HTTPX…

[2019-11-06 15:13] florimondmanca commented on #507
I just tried out `trustme` locally as well:

[code]

[code]

[code]

Usage:

1. `$ python create_certs.py`
1. `$ uvicorn --ssl-certfile=server.pem app:app`
1. `$ python examepl.py`

Have I got that right @sethmlarson @gvbgduh?

[2019-11-06 15:18] sethmlarson commented on #507
Looks right to me, I created a little script that does basically what you have in `create_certs.py`: https://github.com/sethmlarson/trustme-cli

We can mention that in the docs if people aren't using `trustme` programmatically like with `pytest` to generate certs within a test suite but instead poking around or running things manually.

Totally agree we should have a section on this as it's not tr

[2019-11-06 15:23] florimondmanca commented on #507
Awesome @sethmlarson!

Somewhat related — we have the `cert` and `verify` parameters. As I understand, `verify` can be used to tell HTTPX to use a custom CA bundle (i.e. not certifi's), but then in what kind of situations would we use `cert`?

[2019-11-06 15:23] sethmlarson commented on #504
Yep, rfc3986 didn't support IRIs pre 1.3 so we should probably mention that if we want to continue using rfc3986 as our URL parser.

[2019-11-06 15:23] euri10 commented on #508
@florimondmanca I switched to Ipython just to test and I got the same RuntimeError as in Jypyter

I think this is an issue of importance for the day to day life, at least mine because it's tightly coupled with how I code / debug, sorry in advance  if the below is a little bit long, it's just to put some context and maybe you'll tell me my workflow sucks, which is possible >_)

I code my apps in co

[2019-11-06 15:24] sethmlarson commented on #507
`cert` is client cert. It's confusing, but that's Requests' API we're inheriting :man_shrugging:.

Basically `verify` is server verification and `cert` is for the server to do client verification.

[2019-11-06 15:34] florimondmanca commented on #508
Thanks for explaining your use case in detail @euri10. As I understand, the issue is not particularly tied to HTTPX then, is it? I assume the breakpoint is inside an async function, and IPython's async/await support collides with your own async environment as it tries to run its own thing on the event loop…

[2019-11-06 15:38] florimondmanca commented on #507
Ah. Well that *is* confusing. 😆 So `cert` would be used if we have our own certificate, and we want the server to trust that certificate when we connect to it?

[2019-11-06 15:41] euri10 commented on #508
yep that's a perfect summary @florimondmanca, it's not tied to httpx, or databases, it's more like a general "how to use await in a debugging session when you hit the breakpoint in an async function with an already running loop" :drooling_face:

and I have no idea if it's the same use case as OP (seems slightly different and sorry to hijack) and if more importantly the libraries can do something a

[2019-11-06 15:49] sethmlarson commented on #507
`cert` is for client authentication by the server, the certificate says "I'm @sethmlarson" and is signed by a certificate that the server trusts. So if you're interacting with a service that does authentication via TLS certificates then you'd need to provide a `cert` parameter.

[2019-11-06 15:52] florimondmanca commented on #508
It seems to me the core issue is the same:

- @dmitriyshashkin is having HTTPX run `.run_until_complete()` inside an async context (setup by Jupyter)
- You are having IPython run `.run_until_complete()` inside an async context (your Databases-based program).

The difficulty is that ideally HTTPX and IPython should be able to detect if they're running in an async context, and in that case use `awai

[2019-11-06 16:25] StephenBrown2 commented on #504
https://github.com/encode/httpx/blob/2fcf23bbfe41c5526cb35a65d32dd98dde786988/setup.py#L60 should become
[code]
then?

[2019-11-06 16:38] tomchristie commented on #507
We *could* choose to digress from `requests` there, and use `client_cert`.
At the very least we probably want some more documentation there, yup. I'd not picked up that it was for client certification personally, and it definatly falls into the category of "you don't need this, unless you know what you're doing". Presumably it's outside the realm of what browsers will generally do, right? (At leas

[2019-11-06 16:40] tomchristie commented on #509
That's a great call!

[2019-11-06 16:45] tomchristie commented on #508
Right, although it turns out there's a category of cases where you *are* inside a running event loop, but you don't actually want to know or care about that, and *do* want to be able to make bog-standard sync calls. (It's not ideal that you *have* to use `httpx.AsyncClient` inside the `ipython` repl, but you *have* to use `httpx.Client` inside the standard `python` repl.)

If we *can* just use the

[2019-11-06 17:22] florimondmanca commented on #508
I do agree with you Tom — being able to handle both cases would be ideal. But it doesn’t seem possible to me. The only thing you can do with a running loop in a synchronous context is schedule a new task. But AFAICT from a sync function, you can’t tell a running loop “hey, run this coroutine for me and *I’ll wait for the result*”, which is exactly what we’d want to do in the backend’s run() method

[2019-11-06 17:23] graingert commented on #509
It would also be good to support both the Chromium style lookup current provider in table approach, and the Firefox everything via Cloudflare approach, and allow a custom DoH provider

[2019-11-06 17:25] sethmlarson commented on #508
Just to float the idea, what sort of pain would it cause (besides more complex implementation for us) to make the SyncClient not use any async internally? Dispatchers would be split, middlewares would be split. What else?

[2019-11-06 17:30] sethmlarson commented on #509
Do you have a link to Chromium's approach? I haven't heard of that.

[2019-11-06 17:31] graingert commented on #509
@sethmlarson https://blog.chromium.org/2019/09/experimenting-with-same-provider-dns.html

[2019-11-06 17:33] graingert commented on #509
The table is enumerated here: https://www.chromium.org/developers/dns-over-https

[2019-11-06 17:36] graingert commented on #509
Whatever resolver system is used to resolve the initial DoH server should also be pluggable, eg aiodns etc

[2019-11-06 17:55] florimondmanca commented on #507
@sethmlarson `trustme-cli` works like a charm!

I opened #510 with some basic documentation based on what we've seen so far:

- Using a custom certificate
- Making HTTPS requests to localhost

[2019-11-06 19:26] tomchristie commented on #509
Also: I’d really like to see this sort of thing tackled as third party middleware, rather than including it in the core package.

If we have third party packages that later become sufficiently proven and well used, then we can take a call on including directly in the package itself.

[2019-11-06 19:39] tomchristie commented on #508
Careful, or I might start advocating that sync HTTP requests in Python are already well supported via `requests`, and that `httpx` should only target the async case. 😇

[2019-11-06 20:27] yeraydiazdiaz commented on #376
I had a quick look at this, it seems `verify` is not passed into the proxy dispatchers on the `client.get` call but it is on `Client.__init__`. On initialization the `Client` defaults to `verify=True` and the proxies are setup accordingly which causes the self-signed cetificate error.

We can fix that but in the meantime a solution might be:

[code]

@GnubiBORED can you give that a try?

[2019-11-06 21:56] #495 closed

[2019-11-07 05:37] pquentin commented on #389
Oops! More than one month has passed by. @njsmith told me he would like to write a proper comparison at some point, but that takes time and energy. I certainly find it mentally taxing to explain why I prefer to contribute to project A and not project B, when the two projects have similar goals!

I know Nathaniel has some technical reasons that I would not be able to explain well. So this will only

[2019-11-07 05:41] pquentin commented on #508
For what it's worth, this is one advantage of the code generation approach we use in the urllib3 fork: our sync code is really sync and only uses the standard library for the actual I/O. 99% of the code is shared, only the calls to the specific I/O libraries are different.

[2019-11-07 09:46] #507 closed

[2019-11-07 11:35] tomchristie commented on #389
Ah s'all good. The important thing from my POV is that we make sure we're communicating and learning between ourselves - I'm seeing such a positive and constructive attitude on all sides, and yeah I totally dig that sometimes it's easier to just *demonstrate* first.

There's plenty of difficult trade-offs wrt. maturing the async ecosystem in Python - what I'm really appreciating at the moment is t

[2019-11-07 11:39] tomchristie commented on #389
One thing that I do think would be interesting here would be attempting to implement an `urllib3`-based dispatch class, with HTTPX's client as the frontend API. Tho I don't *actually* have any extra headroom myself to actually dig into that right now. 🤣

[2019-11-07 13:24] gvbgduh commented on #507
@florimondmanca @sethmlarson the doco and CLI look fantastic! It'll definitely solve heaps of confusion.

I think it might be reasonable to eventually add a similar section to the `uvicorn` doco and cover it from the server-side. Probably with a cross-link to the `httpx` example and example for `pytest`. I can do it after some battle-testing.

[2019-11-07 17:21] PrimozGodec opened #514 "Issuing requests in close concurrency can unneccessarily result in multiple HTTP/2 connections."
When I do several requests with the AsyncClient it seems that it opens multiple connections to the server. My code looks like this:

[code]

As far as I understand it should use a connection pooling, store the connection and reuse it. In my case I get the following debug message for every `image`- post request I send with a loop:

`DEBUG:httpx.dispatch.connection:start_connect host='api.garaza.io'

[2019-11-07 21:48] thebigmunch opened #515 "HTTPX claims Python 3.6+ support when asyncio backend TCPStream.start_tls explicitly does not support Python 3.6"
As stated, HTTPX explicitly does not support Python 3.6 [here](https://github.com/encode/httpx/blob/master/httpx/concurrency/asyncio.py#L61) but declares Python 3.6 support [here](https://github.com/encode/httpx/blob/master/setup.py#L40). This has caused problems with users of a package of mine that is supposed to support Python 3.6.

[2019-11-08 03:34] sethmlarson commented on #515
Unfortunately Python 3.6 doesn't ship with start_tls() support on the asyncio event loop so you'll only hit this issue when using HTTP proxies. :( If you're using Trio then you can support this use-case, there's just no way to do it in asyncio+3.6.

[2019-11-08 09:37] thebigmunch commented on #515
My main point is that if httpx doesn't fully support 3.6, it really should be 3.7+.

My choices as a developer are to use a different back end (which is of no consequence), make my packages 3.7+ because they don't technically support 3.6, or go use a different client library again.

[2019-11-08 11:07] florimondmanca commented on #515
Well, it would be a shame to declare only 3.7+ Is supported when actually the vast majority of the features (all except proxies, actually) are available on 3.6, wouldn’t it?

Note if this isn’t mentioned in the proxy docs we should probably add a note. :)

(Perhaps there *might* be a way to create or push for a backport of start_tls on 3.6?)

[2019-11-08 11:30] tomchristie commented on #515
I'm absolutely okay with us supporting 3.6, but not providing full `proxies` support in that case. Ideally we'd have a top-level error, rather that waiting until `start_tls` is called.

I'm also somewhat suprised tho - our proxy tests don't exclude 3.6 - presumably there's succeeding because we're not actually making a live connection?

Are there alternatives here?

* Backporting `start_tls`? (Sou

[2019-11-08 11:55] thebigmunch commented on #515
There are no degrees of compatibility here. This is actually the first time I've ever encountered this kind of situation that wasn't a mistake. While one way to think about it is that it's "just proxy support". That also makes it quite difficult to discover. An old debate trick, go to the extreme.

This doesn't really help with discovery here. Note that, in my case, my code does not handle proxies

[2019-11-08 12:26] thebigmunch commented on #515
And, if a different perspective helps, let's talk in terms of packages ``httpx`` is dependent on. ``httpx`` has ``h11`` pinned to ``0.8.*``. I don't know if ``0.9.*`` would require any code changes in ``httpx``, but let's say it would. There are 3 traditionally viable options:

* Keep ``httpx`` pinned to ``0.8.*`` and make no code changes.
* Make code changes and pin ``h11`` to ``0.9.*``.
* Add a

[2019-11-08 12:43] pquentin commented on #508
@tomchristie said that he liked that we learned from each other, so I'd like to explain my point above in more detail to explain why it's actually relevant! It's not actually the code generation approach that's important here, but the fact that we're using the standard library for I/O in the sync case, and not asyncio.

You can keep the async/await annotations and just rely on the fact that all ca

[2019-11-08 13:04] sethmlarson commented on #515
So I remembered another major reason that I wanted to continue supporting 3.6 despite start_tls() not being implemented: With uvloop installed you can get start_tls() to work with Python 3.6.

So our compatibility table looks like this:

| Python Version | Using Asyncio? | Uvloop Installed? | All Proxy Feautres Work |
|----------------|----------------|-------------------|--------------|
| >=3.7

[2019-11-08 13:27] thebigmunch commented on #515
@sethmlarson Shouldn't that be a conditional requirement for httpx for Python instead of pushing that onto users? At this point you are asking a user of a user to manually install something that is required for some functionality of httpx. That should be invisible to them. So what you are asking is for me and other direct httpx users to add that conditional dependency to all the projects we use ht

[2019-11-08 14:19] sethmlarson commented on #515
I agree with you it's a sub-optimal situation. I'm not in favor making a huge set of changes to our dependencies because I have a feeling that this will all be moot in a month.

Here are how I see things currently:
- We're supporting the last 2 stable Python releases. (I don't consider 3.8 stable until it has a bugfix release)
- Python 3.6 accounts for about [~10% of our users](https://pypistats.o

[2019-11-08 15:33] thebigmunch commented on #515
I certainly wouldn't classify as adding a uvloop dependency for Python 3.6 a huge set of changes. Though I just remembered that uvloop doesn't support Windows anyway, so that would be an incomplete solution as well.

I am a bit surprised at httpx only supporting 2 major releases of Python. Python 3.6 still has 2 years of life left. Even as someone who jumps to the next on my personal machine as so

[2019-11-08 15:45] thebigmunch commented on #515
Also, I'm not sure what the definition of supporting a Python version is. If httpx isn't supposed to support Python 3.8, why is it not constrained that way in setup.py?

[2019-11-08 15:56] sethmlarson commented on #515
Yeah, that's why I'm not a fan of adding uvloop as a dependency.

We aren't claiming we're only supporting 2 major releases, my above bullet point is that we're currently supporting 2 stable releases by saying we support Python 3.6+. No one made the decision that that's what we're doing to do as a matter of policy, we'll support as many Python versions as we can as long as it's still viable.

HTTP

[2019-11-08 15:57] sethmlarson commented on #515
Basically what I'm trying to portray in my above comment is that if we drop Python 3.6 right now we'll only be supporting one stable Python release (3.7) which forces our users into a single bucket.

[2019-11-08 16:26] thebigmunch commented on #515
And my point is that httpx doesn't actually support Python 3.6 now, even if it only affects a small number of users. I've asked dozens of people around the office just to make sure I wasn't off base about this. Even linking this issue to them. To a person they are as baffled as I am about this.

But from this discussion, it seems my only option will be to drop Python 3.6 from any projects that I u

[2019-11-08 16:47] florimondmanca commented on #515
As @tomchristie suggested, IMO this:

ie looking at if we can provide a downgraded version of the feature on 3.6 is probably the most sensible next step out of this.

(This and *for now* clarifying that proxies aren’t working (partially?) on 3.6.)

[2019-11-08 16:59] sethmlarson commented on #515
Issuing a new connection that doesn't go through the proxy tunnel could violate a user's privacy by having the DNS request for the requested domain be emitted from their machine, rather than the proxy.

[2019-11-08 17:01] PrimozGodec commented on #514
The issue seems to appear here:

https://github.com/encode/httpx/blob/1a32cf036a825f6eb35395af5388a3b23180a82e/httpx/dispatch/connection_pool.py#L132-L150

Since first `self.pop_connection(origin)` is called then there is `await` call in the line 137 and at the end there is `self.active_connections.add(connection)`. Since there is await in between them first pops for all requests are called (there

[2019-11-08 17:04] gvbgduh opened #518 "[HTTP/2] Connection termination"
I'm trying to clarify the connection termination. I see from the logs that the connection is released by the `httpx`, but I don't receive the `ConnectionTerminated` event to close it from the server-side.
I'm still investigating it more thoroughly who should initiate it when all streams are done. But I also wonder what would _"release_connection"_ mean from the `httpx` perspective.

[code]

[2019-11-08 17:08] gvbgduh commented on #25
I think it would worth implementing at least to comply with most of the clients as they would try to upgrade to HTTP/2 (_under some circumstances_), but I agree that it should be out of the scope for the 1.0.
And I'll try to help with it as part of the uvicorn progress when it comes to this.

[2019-11-08 17:19] gvbgduh commented on #518
Maybe https://github.com/encode/httpx/issues/289 extends this one.

[2019-11-08 18:28] Mattwmaster58 opened #519 "No way to replicate specific multipart requests POST?"
With the requests library, I could do something like this:
[code]
And get this result:
[code]
<details>
<summary>
Reading through the docs, it's unclear how I would replicate this. Here are some of the methods I've tried with `httpx.post(url, files=sub)` and their results:</summary>

### Method 1
#### Input
[code]
#### Ouput
[code]

### Method 2
#### Input
[code]
#### Output
[code]

### Method 3
#

[2019-11-08 23:17] tomchristie commented on #515
We've been working on the basis of 3.6+ support from the start. Turns out one of the very newest features only supports 3.7+, which I hadn't fully appreciated, but isn't a deliberate documentation omission. (httpx is only a few months old, and the proxy support feature is only a few weeks old.)

Constructively our options are:

* Clearly document `proxies` support as 3.7+ only. Make sure it's usag

[2019-11-08 23:28] StephenBrown2 commented on #515
Personally, I'm in favor of option 2:

Certainly easy to do with constraints in `setup.py`:
`"uvloop; sys_platform == 'linux' and python_version < '3.7'"`

[2019-11-09 07:58] florimondmanca commented on #515
Just found this: https://github.com/urllib3/urllib3/issues/1323#issuecomment-362494839 🎉

[2019-11-09 08:02] tomchristie commented on #508
Ohh, that’s really neat!

[2019-11-09 08:50] florimondmanca commented on #508
@pquentin Super interesting stuff, thanks!

If we think about this in terms of our concurrency backend API, we could:

1. Create a SyncBackend implemented via sync I/O, eg socket et. al.
1. Use the trivial event loop as the backend’s run() implementation, ensuring that no async breakpoints are ever present once the backend’s implementation.
1. Have Client use the SyncBackend in all cases (as oppos

[2019-11-09 10:55] pquentin commented on #508
Yes, I think that would work! Here is our sync backend: https://github.com/python-trio/urllib3/blob/bleach-spike/src/urllib3/_backends/sync_backend.py. It is complete enough to get the urllib3 test suite to pass.

[2019-11-10 20:02] yeraydiazdiaz commented on #514
I noticed this happening on a similar situation as well and it also confused me. I fully expected connections to only be created once per origin, but it seems the current behaviour is by design according to this test?

https://github.com/encode/httpx/blob/master/tests/dispatch/test_connection_pools.py#L69-L80

@PrimozGodec, `max_connections` is a [`BoundedSemaphore`](https://docs.python.org/3/libr

[2019-11-11 09:15] PrimozGodec commented on #514
@yeraydiazdiaz thank you for the response. So it looks OK then. Can establishing more connections instead of one at the same time decrease the speed of getting the responses?

[2019-11-11 09:29] tomchristie commented on #514
Yes.

The behaviour you want here is...

* If the connections are `HTTP/1.1` then you *want* to have multiple concurrent connections.
* If the connections are `HTTP/2` then you *don't want* to have multiple concurrent connections, since you can have multiple concurrent streams on a single connection.

That test case happens to in the context of an HTTP/1.1 case, although it doesn't make that clear

[2019-11-11 10:08] tomchristie opened #522 "Discussion about dropping sync support."
I'm opening this issue so that we can have a discussion about something a bit radical. 😇

Right now `httpx` support standard threaded concurrency, plus asyncio and trio.

I think that it *may* be in the projects best interests to *drop*  threaded concurrency support completely, and focus exclusively on providing *a kick-ass async HTTP client*.

The big design goals of HTTPX have been to meet two f

[2019-11-11 10:11] tomchristie commented on #522
*Aside: It's also worth noting that the community could still perfectly well maintain an HTTPX based sync client, either using the bridging techniques we've used, or using a code-gen style approach, but that wouldn't neccessarily be an "encode" project.*

[2019-11-11 10:16] tomchristie commented on #514
@PrimozGodec What *is* the `response.http_version` in your case here?

[2019-11-11 10:25] yeraydiazdiaz commented on #522
Big 👍 from me. I agree 100% with embracing the async model and focusing on that. This was the reason I became interested in HTTPX in the first place.

I do think however that a lot of users have come to HTTPX looking for an alternative to requests given the recent news about its development. We'll need to consider carefully the migration path for them.

[2019-11-11 10:29] PrimozGodec commented on #514
I think it is actually a good solution.

It is HTTP/2

[2019-11-11 10:52] tomchristie commented on #522
It's possible that the code-gen approach being raised in https://github.com/encode/httpx/issues/508 could make some of this moot, since it would largely mean that our codebase could become async-only, and we'd only create a sync version at package build time. (Which would resolve some of the issues I've mentioned here anyways.)

[2019-11-11 10:56] tomchristie commented on #522
Tho we've not really considered if the code gen approach could present race conditions in a threaded context, that are not present in our async case, because the context switching can occur *anywhere*, not just at `await` points.

[2019-11-11 11:11] tomchristie commented on #514
Right, then we've got some slightly complicated work to do.

If you'd issued the connections at very slightly different time intervals, you'd (presumably) find that they'd have ended up on the same single connection. As it is, each has started establishing a connection independently, which all turned out to be HTTP/2 connections, that could have just been a single shared connection.

[2019-11-11 11:12] PrimozGodec commented on #514
Also, I see another potential issue. `pop_connection` is called first and in the case that there is no connection it will call `await self.max_connections.acquire()` which will prevent making more than 100 connections. Then the issue is if I want to make 1000 requests all will pass `pop_connection` first (when no connections in the pool) and will wait at `await self.max_connections.acquire()` for

[2019-11-11 13:07] PrimozGodec commented on #382
I also get the same error with Python 3.7, the trace is:

[code]

My code looks like this:

[code]

As you can see from the code it is implemented that only max 100 requests are sent to server at the same time.

[2019-11-11 16:13] florimondmanca commented on #522
I’d be perfectly fine personally on having HTTPX only provide an async interface.

I’d imagine that the high-level interface would go async, right? What I was wondering is whether HTTPX would still address the use case of “let me fire up an interpreter and make HTTP requests in the shell”. Thankfully, IPython and the 3.8+ asyncio shell would allow us to use HTTPX smoothly. And then people can just

[2019-11-11 16:17] florimondmanca commented on #522
Btw, I think trying to keep a story around Requests and how easy it is to migrate would still be nice. Basically it would be “just import httpx instead, and put an await in front of all method calls.” Not sure if we should still commit to be Requests-compatible after that point, although the general approach seems to be “mostly compatible” already.

[2019-11-12 03:48] toppk commented on #96
just hit this issue (triggered by killing the server during long polling), and this is my stab at pondering  the stack trace I'm seeing.

- h11 cannot process event given the current state: "  h11._util.RemoteProtocolError: can't handle event type ConnectionClosed when role=SERVER and state=SEND_RESPONSE"
- h11 docs  say " If either side violates the protocol, you'll get a h11.ProtocolError except

[2019-11-12 04:35] toppk commented on #96
So I've done some further analysis, and it seems that h11 doesn't give us an opportunity for a detailed exception.  The documentation was hopeful  (see h11's apidocs for  [Connection.next_event](https://h11.readthedocs.io/en/latest/_modules/h11/_connection.html#Connection.next_event) ) but
neither their_state or error_status_hint allows us to create anything but a generic error.  I could whip up a

[2019-11-12 06:50] njsmith commented on #96
h11 could give more detailed exceptions if that's useful (or just clearer error messages), but it's not clear to me what the actual problem you're trying to solve is. You have a server that's closing the connection before it finishes sending the response. Do you want to treat that differently from other kinds of server misbehavior? What information do you actually need here?

[2019-11-12 15:53] toppk commented on #96
It is common in http client libraries to give specific exceptions for transport layer issues, like readtimeout, connectionrefused.   This dropped connection indicates a different class of issue than a typical protocol violation (and the user may want to take a different tactic in handling it, e.g. switch to a different server within a cluster).

However, from httpx's perspective, I believe it woul

[2019-11-12 16:21] SteveAlexander opened #523 "access https proxy CONNECT response headers"
httpx 0.7.6

I want to access the headers returned by the CONNECT HTTP call.

I'm achieving this now by the following grotesque code. I wish there were a supported way to do this, but unfortunately the current implementation throws these headers away.

[code]

[2019-11-12 17:01] tomchristie commented on #96
@toppk - Your diff in https://github.com/encode/httpx/issues/96#issuecomment-552730324 looks about right to me. We just need to be wrapping this case up properly and exposing it as a `ConnectionClosed` exception.

I *think* we should probably be checking for the event type `ConnectionClosed`, rather than inspecting `if self.stream.is_connection_closed():` to determine if we're raising a protocol e

[2019-11-12 18:23] toppk commented on #96
By design of h11, the ConnectionClosed isn't expected, there is no event type 'ConnectionClosed' exposed back to the caller, only a RemoteProtocolError exception.    Or said another way, h11 only exposes ConnectionClosed event when the protocol expects the connection to be closed.

\<verbose details>
The current model of h11 isn't to process unexpected events ( review [h11._state](https://github.c

[2019-11-12 19:03] tomchristie commented on #96
Misunderstanding on my part then. Examine the connection. 👍

[2019-11-12 19:13] njsmith commented on #96
Also this particular exception can only happen if you've passed b"" to h11
to tell it that the connection was closed, in case tracking that is somehow
easier.

On Tue, Nov 12, 2019, 11:03 Tom Christie <notifications@github.com> wrote:

[2019-11-13 02:05] toppk commented on #522
I think it's too soon (if ever?) to jettison non-async users.  Much of python code are in scripts, not daemons, and I haven't seen asyncio pop into too many of those just yet.  In fact I think sigalarm based concurrency is probably more prevalent then threading there.

[2019-11-13 02:22] toppk commented on #509
It's a little bit tricky if your are doing TLS, as the http hostname often must stay as the fqdn for certificate validation reasons.

I do think that plugable name resolution could be useful in several use cases:
1. DoH, DoT
2. DNS SRV records
3. Service discovery (eureka, consul, etcd, zookeeper based implementations)
4. custom DNS RR loadbalancing/high availability handling
5. minimize dns traff

[2019-11-13 02:42] sethmlarson commented on #522
My opinion is that HTTPX should support synchronous requests, and should implement synchronous requests without any async calls internally. Perhaps we can make synchronous requests be HTTP/1.1-only because a synchronous HTTP/2 request doesn't make much sense.

Sync code will always be used in Python for experimentation, tools and utilities, and one-time scripts and shutting out that section of use

[2019-11-13 12:12] florimondmanca commented on #522
I think @sethmlarson and @toppk have a point here w.r.t. user adoption. My previous comments suffered from quick reasoning, so I'll try to pause and ponder things longer here.

It seems to me there are more fundamental questions at play here, all related to the vision we want this project to pursue:

- How do we want to position HTTPX in the ecosystem landscape, in particular w.r.t. existing tooli

[2019-11-13 17:17] PrimozGodec commented on #382
@florimondmanca is it an error or did I make a mistake when using httpx?

[2019-11-13 17:41] florimondmanca commented on #382
@PrimozGodec I'm not sure about the error you've got. We'd need to narrow down in which conditions this error occurs, as currently it is not very clear.

Also, I noticed you have custom logic to rate-limite the requests. Did you know that HTTPX's connection pooling already performed this kind of limiting, also with a 100 hard limit by default? You could leverage this by using a lazy (i.e. streamin

[2019-11-13 18:30] worldveil commented on #96
Currently experiencing this issue with an `aiohttp` (using `httpx`) server reverse proxied by nginx. It's intermittent, but in a load test (and not a big one), I roughly get this distribution of status codes:

[code]

error issue. I had been banking on httpx to handle my async HTTP requests.

Since this issue has been open for months, are there any quick fixes such as a way to close all HTTP conne

[2019-11-13 18:41] njsmith commented on #96
I don't think there are any actual behavioral bugs being discussed in this thread. It's just about how to give a better error message. So I think either there's something wrong with your server setup that's causing it to close connections abruptly without sending responses, or else you've found a different bug in httpx and should probably open a new issue so your problem doesn't get lost in the no

[2019-11-13 18:49] worldveil commented on #96
Hm. Got it. Thanks for the heads up.

I have my load test requests coming in to my server, I then make requests to a vendor server in order to answer the original request. Upon answering these vendor requests, I see this issue.

Do you have any idea where to start looking, or are there known scenarios where this error comes up?

[2019-11-13 20:52] toppk commented on #96
This exception could be seen if your web server closes a tcp connection prematurely (being overloaded could certainly cause this), or if a server dies, although it could just be a bug in the server code.

When using httpx you must capture certain exceptions when legitimate failuremodes occur  (like readtimeouts, connect failures, etc).

This code would look something like this.
[code]

Unfortunate

[2019-11-14 03:08] worldveil commented on #96
Yep, that makes sense. I did some reading about the HTTP protocol today - learned a few things!

My investigations thus far have led me to believe it's some kind of rudely implemented rate limiting, so a retry w/ backoff type solution seems best.

Thanks all for the input and all the great work on `httpx`. It's a wonderful package.

[2019-11-14 07:08] dhirschfeld commented on #522
It seems to me that Python users looking for a synchronous `requests` are already well served by... `requests` and they can continue to use it indefinitely.

I'm just popping up as a user who's looking for a the best *async* http client. API aside, `aiohttp` doesn't fit my needs as I'm after something which works with `trio`. The competition here is [`asks`](https://github.com/theelous3/asks) rath

[2019-11-14 13:52] tomchristie commented on #522
Exactly. Use the right tool, for the right job.

As much as the project would clearly be more *popular* if it covers both cases, that's actually more just a "ohh... shiny new things" effect. There isn't actually any genuine pragmatic benefit in us re-implementing "requests".

The grunge of bridging across to supporting threaded concurrency makes the project significantly less comprehesible when di

[2019-11-14 14:18] florimondmanca commented on #522
Right, I see my analysis of other async HTTP clients was quite incomplete. There's indeed a lot more that HTTPX brings to the table relative to e.g. `aiohttp` (HTTP/2, not-just-asyncio, not-also-a-server-framework, familiar Requests-like API, etc).

To my mind, both options make sense, with different objectives and trade-offs, and I agree that pushing for excellence by keeping the scope down is at

[2019-11-14 14:43] PrimozGodec commented on #382
@florimondmanca thank you a lot for your suggestion and fast reply. I am awarer of the HTTPX limit of the number of requests but I made a custom limit since I didn't want that all images load in memory at the same time. Your idea of lazy loading is very good but the thing is that I removed the part of the code from `_send_to_server` function. Since we are performing a local caching we need to load

[2019-11-14 14:46] florimondmanca commented on #382
I see… If you are able to narrow down the situation when the error occurs to a small reproducible example, I suggest you'd open a separate issue so that we can more easily track this other edge case. (Although it's the same error, this particular issue was related to an edge on Python 3.6.) Thanks!

[2019-11-14 15:08] PrimozGodec commented on #382
Yep, right now I am trying to make a standalone smallest example to reproduce the error.

[2019-11-14 15:32] PrimozGodec opened #527 "Python 3.7: RuntimeError: read() called while another coroutine is already waiting for incoming data"
As we already discussed with @florimondmanca in https://github.com/encode/httpx/issues/382, I am reporting this issue here.

I get the following error: `RuntimeError: read() called while another coroutine is already waiting for incoming data` when I am sending images to the server. As you can see from the code it is implemented that only max 100 requests are sent to the server at the same time. I

[2019-11-14 16:14] carltongibson commented on #522
From the outside, as someone who's been watching and has on the list to pick up HTTPX just the very next time I would have reached for requests, I want a sync wrapper, even if just to start with, so I don't have to spin up an event loop just for a `get(...)`. As long as it's got that...

(Because the real reason is, "Yes, I probably should write this as async" — but I don't want to change library

[2019-11-14 16:19] sethmlarson commented on #522
☝️ Couldn't have put it better myself.

[2019-11-14 16:26] kissgyorgy commented on #522
Why not best of both worlds? Async-only but with sync versions without the threading nonsense. Expose sync functions which make event loops temporarily and run the request in that (Don't bind that to the current thread). It works very well in my opinion. This way, the users calling the sync functions don't even notice they are calling coroutines. So I strongly disagree with @sethmlarson, because I

[2019-11-14 16:35] sethmlarson commented on #522
@kissgyorgy Just a btw we shouldn't have to start threads for sync. We'd have to be thread-safe though so users can make multiple synchronous requests using threads if desired. (See urllib3/requests)

[2019-11-14 16:36] florimondmanca commented on #522
If we dig into this further, I *guess* that if this gets accepted then we'll end up with an *async* high-level API, right? Like…

[code]

So, *maybe* as a middle-ground to not completely knock users off, we could imagine sync high-level API variant:

[code]

By its existance, it would help users get started, prototype, or perform one-off requests in a shell, *but* it should be just-cumbersome-enou

[2019-11-14 16:59] kissgyorgy commented on #522
@florimondmanca This is exactly what I had in mind. Keeping only the async use case as primary, but providing very simple sync possibilities for the simple/interactive shell cases with minimal code.

Yes. What I meant that users can even run multiple threads and those threads will all have different event loops when calling the sync version. Maybe I would print a warning (which could be turned off

[2019-11-14 17:22] florimondmanca commented on #522
What alternative would you suggest? The goal there was to limit users to only be able to use the sync high-level API in the main thread outside of any async environment (so, zero multi-threading support, and zero sync-in-async support).

[2019-11-14 17:51] kissgyorgy commented on #522
I would just create a new event loop and throw it away. Almost the same as yours, just don't mess with a possible loop in the current thread, which might even get created later, maybe even with a different `EventLoopPolicy`. Something like this:

[code]
Or maybe save the created event loop in a thread local (maybe a custom `EventLoopPolicy`) for use with httpx and avoid conflict with possible user

[2019-11-14 22:48] brettcannon commented on #522
For me the answer is "whatever keeps the dev team coming back to work on this project". If that's keeping things simple and focused then that would seem to be async-only. If it's having the largest install base possible then its sync-and-async. But I would prioritize based on what will make you want to keep coming back and contributing to this project above everything but if people burn out then i

[2019-11-14 23:14] dhirschfeld commented on #522
As @florimondmanca demonstrated, with an async repl you don't have to spin up an event loop manually - calling async functions Just Works:
[code]

It's got an extra `await` in there - is that a good reason to introduce a huge amount of added complexity and importantly maintenance burden?

If (potential) users don't want to write async code, maybe just let them keep using requests? I don't see that

[2019-11-15 04:45] hynek commented on #522
I’m not gonna tell you either way, however I feel the need to point out that one of your premises is flawed: `requests` does _not_ serve us well.

Requests 2.x has been declared to be security-fix only and has moved into the GitHub PSF organization. Currently the project is in a weird space that I don’t even want to elaborate. For all intents and purposes, it's unmaintained and its future is uncle

[2019-11-15 05:27] dhirschfeld commented on #522
As a heavy user of requests that both concerning & surprising - I don't want to be depending on a project that will fall into bitrot.

I saw that it had been moved to the [PSF](https://github.com/psf/requests) organisation but I thought that was an indication that the project was in a *more* healthy state, not less healthy - i.e. that it was an officially sanctioned/blessed 3rd party tool by the P

[2019-11-15 09:14] hynek commented on #522
That is definitely not the case. Most of the maintenance work over the years has been done by maintainers that have resigned months and years ago (Cory Benfield & Ian Cordasco come to mind – c.f. https://vorpus.org/blog/why-im-not-collaborating-with-kenneth-reitz/ for some context). Then Kenneth decided he doesn't want to maintain it himself anymore either, which caused the move into the PSF repo.

[2019-11-15 09:35] yeraydiazdiaz commented on #522
I don't think it was @tomchristie's intention to create a "requests-alternative" but to create an "aio-http-alternative". In its inception HTTPX was called `requests-async` and, somewhat organically [sync support was added](https://github.com/encode/httpx/pull/58). During that time the whole situation with requests happened and people rushed to look for an alternative which caused a raise HTTPX's

[2019-11-15 09:45] florimondmanca commented on #522
I'd be interested in knowing how many Requests users actually use anything more than the high-level API (`.get()`, etc.).

I've never used sessions or adapters myself, and I'm pretty sure a lot of casual users haven't either.

This data point would help determining if only having a sync high-level API would allow addressing > 80% of use cases. For the other 20%, I'd be fine with "sorry, it's just

[2019-11-15 09:47] hynek commented on #522
Yes, as I wrote, I'm absolutely not telling you what to do. I'm just pointing out the falsehood of the premise (and it seems that something that I thought is well-known is actually anything but). Do with that information whatever you want; I'm not prone to telling people to do more free labor. :)

[2019-11-15 10:26] thebigmunch commented on #522
I use both. API wrapper and web scraping libraries all commonly use sessions. But I still use the high-level API at times for random things or manually testing a call without running a bunch of other code. I wonder how many people only use the high-level API that really should be using sessions.

I am with @hynek here. I don't think HTTPX should drop sync support. But if that's really what needs t

[2019-11-15 10:31] em92 commented on #522
Instead of dropping, I suggest to wrap sync part of `httpx` over battle tested `requests`. This will probably save mentioned benefits.

[2019-11-15 10:48] tomchristie commented on #522
Thanks all, I'm going to close this off for now - I think there's plenty of useful feedback here.

Very much appreciate @hynek and @brettcannon's observations in particular.

I think it's most likely that we'll continue to provide both sync + async support. My personal use-case is atypical because I'm hugely motivated by leveling up the async Python ecosystem, and don't really have any need for a

[2019-11-15 14:02] tomchristie commented on #522
Coming back to this again, already, because.

Having dived into `httpx` again today, as I'm integrating an ASGI service against it, I *do* think that it has moved too fast and is over-scoped right now. (Discovered that cookies are not being persisted on redirect responses, and got stuck into some bits I'd not been in for a while, found it quite hard to get back to grips with.)

My initial assessme

[2019-11-15 14:11] florimondmanca commented on #522
@tomchristie In line with my previous comment, if the general idea is to scope down to async, but keep sync support on a longer-term roadmap (and make that clear to our users), as a maintainer I'm down for that.

[2019-11-15 14:17] tomchristie commented on #522
Yeah, it wasn't my opening case, but I think based on the discussion that's probably where my leanings would be at the moment.

[2019-11-15 16:33] tomchristie opened #530 "Instances of `tempfile.TemporaryFile` fail when used as an upload file."
When using `tempfile.TemporaryFile` the `file.name` attribute returns an integer, rather than the usual path string, which causes a breakage for us further down the line...

[code]

Have also confirmed that the issue *doesn't* occur with `tempfile.NamedTemporaryFile`.

I believe the resolution will be on this line...

https://github.com/encode/httpx/blob/1a32cf036a825f6eb35395af5388a3b23180a82e/ht

[2019-11-15 16:48] #518 closed

[2019-11-15 20:32] kissgyorgy commented on #522
My very subjective opinion; if you guys want an async-only framework or feel like doing it, if that is what you enjoy maintaining and improving in the long-term, the "greater good" (in this case, replacing requests for example) shouldn't matter that much, you should go for it.

I think it is way better to have a super-cool, fast and modern async-only http framework than "serve the community" with

[2019-11-15 21:52] defineapoorv opened #533 "Errors while linting(some lines in code need to be restructured)"
OS Platform - macOS Mojave Version 10.14.6
Python Version - Python 3.7.4
Nox Version - 2019.11.9

While running the pipeline with nox I got following on the console

[code]

[2019-11-15 22:27] tomchristie commented on #533
Thanks for raising this! I believe it should now be resolved in master and 0.7.7.

[2019-11-15 22:27] #533 closed

[2019-11-16 12:00] sandys commented on #522
I support dropping sync support. Not as a permanent "mission statement", but atleast till the foreseeable future.

I am looking at this from two angles - usage and effort. I'm primarily looking at this from the point of view of existing production codebases and not really start-a-new-project.

Async and sync usage dont generally intersect, so most people who are already using requests will most li

[2019-11-17 01:28] iluxonchik commented on #179
I've just encountered exactly the same issue. In my understanding, there are cases where it makes sense to make sync calls inside a coroutine. Let's say that you have a command-line tool that reads a JSON file from a url containing a `website name: website url` key-value pairs. In your command line tool you want to go through each one of the urls in that JSON file and parse some information from i

[2019-11-17 02:29] iluxonchik commented on #382
I was getting a similar error while trying to use the same `AsyncClient`, to make multiple requests in parallel. Currently, this is not supported (see https://github.com/encode/httpx/pull/52). `httpx.AsyncClient` is **NOT** the same as `aiohttp.ClientSession`.

I was doing something like this:

[code]
Running the code above results in the following exception:

[code]
Changing the code to the follo

[2019-11-17 09:30] florimondmanca commented on #179
@iluxonchik

I think your comment is mistaken here, for two reasons:

1. The only sensible thing we could do to support the sync call would be to spawn a new thread (since you can't just have multiple event loops running in the same thread). So, that would definitely be worse overhead than scheduling a coroutine on the current event loop.
1. *If* there was a way to make the sync call without using

[2019-11-17 10:57] florimondmanca commented on #527
@iluxonchik posted another example in #382, which I'm reposting here in a runnable form:

[code]

This program runs fine on my side, on 3.7.3 and 3.8.0. @iluxonchik Which Python version were you using?

[2019-11-17 10:58] florimondmanca commented on #382
@iluxonchik Can we continue discussion on this in #527?

Also, I *think* you don't need to `.read()` the response and decode it yourelf. You can just use `res.text`, which will take care of applying appropriate decoders.

[2019-11-17 11:10] florimondmanca commented on #527
@PrimozGodec I was able to run your code and reproduce the error you listed (on 3.8.0).

From the traceback I noticed that the requests are made using HTTP/2. I forced usage of HTTP/1.1 by passing `http_versions=["HTTP/1.1"]` and the requests went through just fine. Can you confirm this dirty-fixes the issue for you as well?

This is probably somewhat related to #514.

[2019-11-17 11:22] florimondmanca commented on #527
Interestingly, if I remove the `HTTP/1.1` hot fix, but then set `MAX_PARALLEL = 2` and only make 4 requests, the issue occurs too. It doesn't occur if using anything else than (2, 4), e.g. (1, 2) goes through just fine, and so does (2, 3).

So I turned on TRACE logs and here's what we get:

[code]

It's definitely a race condition. I looked at the code, and roughly we're doing this:

[code]

From

[2019-11-17 11:50] #515 closed

[2019-11-17 13:16] iluxonchik commented on #527
@florimondmanca I'm using Python 3.8

[2019-11-17 13:29] iluxonchik commented on #179
@florimondmanca

I completely agree, however, in the case of a simple script that needs to get some information from a url, **before using that information to distribute it across multiple coroutines**, blocking the event loop does no harm at all. In my example, the sync call happens when there is only one coroutine running on the event loop, so it makes no difference whether I make blocking calls

[2019-11-17 14:19] iluxonchik commented on #527
![Live Demo Demonstration](https://i.imgur.com/D3qWKmY.gif)

Here is the full stack trace:

[code]

So the origin of the issue seems to be [here](https://github.com/encode/httpx/blob/6045ee242fbe0308ce9d5faf654f5de68e1a3dd8/httpx/concurrency/asyncio.py#L112), since the `read_timeoout` gets set to `0.01`. Although setting `httpx.TimeoutConfig`'s fields to 100 does not solve the issue. I don't have

[2019-11-17 14:21] iluxonchik commented on #527
![Live Demo Demonstration](https://i.imgur.com/D3qWKmY.gif)

Here is the full stack trace:

[code]

So the origin of the issue seems to be [here](https://github.com/encode/httpx/blob/6045ee242fbe0308ce9d5faf654f5de68e1a3dd8/httpx/concurrency/asyncio.py#L112), since the `read_timeoout` gets set to `0.01`. Although setting `httpx.TimeoutConfig`'s fields to 100 does not solve the issue. I don't have

[2019-11-17 14:21] iluxonchik commented on #527
![Live Demo Demonstration](https://i.imgur.com/D3qWKmY.gif)

Here is the full stack trace:

[code]

So the origin of the issue seems to be [here](https://github.com/encode/httpx/blob/6045ee242fbe0308ce9d5faf654f5de68e1a3dd8/httpx/concurrency/asyncio.py#L112), since the `read_timeoout` gets set to `0.01`. Although setting `httpx.TimeoutConfig`'s fields to 100 does not solve the issue. I don't have

[2019-11-17 14:28] florimondmanca commented on #527
@iluxonchik Yes, as I wrote in a previous comment this seems to be a race condition. I pushed a fix in #535; if you'd like to check, you can try the patched version out by installing it:

[code]

[2019-11-17 14:46] iluxonchik commented on #527
@florimondmanca I didn't read everything above 😅 Yes, I can confirm that it's fixed!

However, now I have different issue (which randomly existed in the previous version as well). If you specify an `httpx.ConfigTimeout()` with a high value, such as `httpx.ConfigTimeout(timeout=100)`, it raise a:

[code]

However, [you seem to already be aware of this issue](https://github.com/aio-libs/aiohttp/issu

[2019-11-18 07:33] PrimozGodec commented on #527
The read() error seems to be solved. I already go more responses when I run code from my example above. With the same script (code in an issue description) now I get:

[code]

[2019-11-18 13:52] manatlan opened #538 "Key headers are lowercased before sent ?"
Is it a normal behavior ?
From RFC2616, headers are case-insensitive ... but, why httpx/httpcore always lowercase them ?

It could be problematic for server/proxy/tools that don't respect rfc2616, and want case sensitive headers ... no ?

I understand the lowercasing for http/2. But for http/1 ... no ;-(

[2019-11-18 15:51] tomchristie commented on #538
It's feasible that we *could* alter this behavior if we'd determined that in real-world usage it was problematic. Have you observed an issue with some specific tooling related to this?

Any idea what urllib3 / requests behavior is wrt. preserving header casing?

[2019-11-18 17:25] manatlan commented on #538
Sadly, I don't know any real-world usage with that problem, but I'm pretty sure : that should exist ;-(

At my work, in our intranet : I know (at least) one ...

BTW, I edit a [tool](https://reqman-docs.glitch.me/), based on httpx (httpcore) ... and I will need to find another http async lib ;-( ... which send headers1.X as is ;-(

[2019-11-18 17:33] manatlan commented on #538
btw, **requests** seems to do it

[code]

[2019-11-18 17:55] manatlan commented on #538
BTW, **requests** seems to be ok
[code]
will display :

[code]

[2019-11-18 18:03] manatlan commented on #538
here is a [reqman's test](https://test-reqman.glitch.me/?rqm:eJxljMsKwkAMRX_lkrUzLS6zF_sBLgR1MdTAIPMQJwVF_HcbsIK4C-fck8OTSshCDFJp6h850Qo01qJS1LDDdrNjRNUrd12UcJZb85dmizkYaz4W4MPZbmDvBhlkjiSlasimi3RoGnRqjHXfL8j--b_sa-4uSvw19Dq9AUZDOwQ=)

[2019-11-18 18:14] manatlan commented on #538
aiohttp does the job too ! (I will go with this one !)
[code]

[2019-11-18 19:27] florimondmanca commented on #527
Hmm, probably a similar problem but on the write side. I wasn’t able to naively reproduce it in a test for #535, but we could see if a write lock solves it.

[2019-11-18 23:06] svanburen commented on #497
just wanted to pop in to say thanks again for all the helpful details here, appreciate the discussion and the project in general!

[2019-11-19 16:59] ThomasSchoenbeck opened #539 "Async parallel request do not work"
i am trying to execute parallel requests. for that i looked at one of your docs/tutorials. link to the page https://www.encode.io/httpx/async/

got this when executing:

[code]

my code:
[code]

[2019-11-19 17:00] PrimozGodec commented on #527
@florimondmanca I tested adding the lock around write and it solves the issue. :) Can you add that in #535?

I also discovered another issue that is not directly connected with this one. So I prepared a pull request with a fix https://github.com/encode/httpx/pull/540.

[2019-11-19 17:34] PrimozGodec commented on #527
After both bugs are fixed I am able to get at least 100 responses (which is much more than before), but then everything stops. There are no new `receive_events` for about minute and then RedTimeout is triggered. I set a timeout to 60 seconds. I was trying to source the error but I couldn't find the reason for that. The error appears when I run the script from the issue description. Maybe this bug

[2019-11-19 19:44] yeraydiazdiaz commented on #527
Using @florimondmanca's example I'm most of the time hitting the SSL error which seems the same as the one [fixed by @JayH5](https://github.com/encode/httpx/pull/494). This happens on Python 3.8.0 and 3.7.4, both of which [mentioned as fixed upstream in a similar aiohttp issue](https://github.com/aio-libs/aiohttp/issues/3535#issuecomment-497469002).

Sometimes though I do get the `ReadTimeout` err

[2019-11-19 20:59] florimondmanca commented on #539
Hi @ThomasSchoenbeck,

As documented on [this page](https://www.encode.io/httpx/parallel/), parallel requests are a proposed API that has not been implemented yet (and is not yet certain to be implemented in the currently documented form). See #50 for the relevant issue.

At this point, if you'd like to issue requests concurrently then you should use APIs provided by your async library (e.g. `asyn

[2019-11-19 21:04] florimondmanca opened #541 "Docs deployment broken due to bug in mkautodoc?"
As @tomchristie noted in https://github.com/encode/httpx/pull/532#issuecomment-554545897 and reminded in https://github.com/encode/httpx/pull/536#issuecomment-555534508, an issue `mkautodoc` is preventing us from successfully deploying our docs.

[code]

This doesn't prevent package releases, but should be looked into as we currently can't deploy documentation updates anymore.

[2019-11-19 21:08] florimondmanca commented on #541
@tomchristie I was able to release 0.7.8 just now, and the `mkdocs gh-deploy` command went just fine. I'm on 3.8.0, perhaps passing properties to `inspect.signature()` is now supported there?

[2019-11-19 21:53] florimondmanca commented on #527
@PrimozGodec I managed to reproduce the `ReadTimeout` error. At first it happened quite often, but then it happened on very rare occasions (less than 1 in 10), and now almost never anymore. :confused: Same behavior on 3.7.5 and 3.8.0. Could it be a server-side problem (Google or example.com not correctly handling the concurrency)?

Also, I don't have the SSL errors @yeraydiazdiaz is experiencing.

[2019-11-19 21:54] florimondmanca commented on #527
I still haven't managed to reproduce the issue, and I'm not sure in what situation exactly it happens (which means I don't know yet how to add a test for it). So I suggest treating the write issue separate from #535.

[2019-11-19 22:16] florimondmanca commented on #538
Did a bit of digging:

There was a similar issue on the Requests repo, opened in 2013: https://github.com/psf/requests/issues/1561. It was eventually attributed to urllib3, which *used to* make response headers case-insensitive too. The urllib3 issue (https://github.com/urllib3/urllib3/issues/236) was opened in 2013, and solved some time in 2017, though it's unclear when/how it was solved exactly.

[2019-11-20 10:02] tomchristie commented on #539
@florimondmanca - We should just drop any it flat-out - it's confusing users, and we don't need it for async cases.

[2019-11-21 16:00] vyahello opened #543 "Add equivalent to requests.response `ok` property"
Hey there, I'm wondering do we have some equivalent of `requests.response:ok` property in `httpx` library? If no, Is it planning to be added sometime in the future? thx!

[2019-11-21 17:01] StephenBrown2 commented on #543
Not a core dev, so I can't comment on adding that particular feature, but the status codes are accessible via their upper and lower-case names in `httpx.codes`:
[code]
So you can do:
[code]
And also, the compatible `response.raise_for_status()` exists, so you can do:
[code]
Personally I've not used `response.ok` before, and only done `raise_for_status()`, but I can see why that might be a handy ch

[2019-11-21 18:27] thebigmunch commented on #543
That is not equivalent to what ``response.ok`` does in ``requests``.

``requests.ok`` just calls ``response.raise_for_status`` in a try/except and returns a boolean based on that. ``raise_for_status`` is equivalent between ``httpx`` and ``requests``.

I've never used ``response.ok`` from ``requests`` either.

[2019-11-21 20:21] vyahello commented on #96
Hey everyone, do we have some progress on this? I see the same error after delayed calls e.g:
[code]
Does anyone know some workarounds for this? I'm just wondering why I can't see such error in `requests` module ..

[2019-11-21 22:03] tomchristie commented on #543
I think it’s a bit confusing, as the naming kinda points towards “True if the status code was 200 OK”

I’d probably be okay with something like an `is_error` property, mirroring our existing `is_redirect` property.

I’m not sure about an `is_success`?

[2019-11-22 08:19] #179 closed

[2019-11-22 08:34] #527 closed

[2019-11-22 08:48] vyahello commented on #96
Will changes be introduced in version above `0.7.8`, right?

[2019-11-22 08:58] florimondmanca commented on #96
@vyahello Yes, this fix along with some others will be released soon, probably as 0.7.9. :) If you need them now you can install from master.

[2019-11-22 08:59] vyahello commented on #96
thanks!

[2019-11-22 11:14] vyahello commented on #543
Yeah agree with posts above, @tomchristie I guess both `is_error` and `is_success` methods would be useful!

[2019-11-22 17:34] StephenBrown2 commented on #543
Good point. Here's the relevant snippet:
https://github.com/psf/requests/blob/428f7a275914f60a8f1e76a7d69516d617433d30/requests/models.py#L697-L710

`is_error` and `is_success` could be good aliases, would need to be documented in compatibility.md

[2019-11-22 18:42] subfxnet commented on #365
@florimondmanca Are there plans to make the client middleware API public?

I am using httpx as our API client library and would use the middleware concept to implement tracing into our client if it was a public interface.

[2019-11-22 18:51] florimondmanca commented on #365
@subfxnet There aren’t current plans to make it public, no, as we might be heavily reworking this part of HTTPX soon. I believe this is something we’d like to *eventually* provide, though.

[2019-11-22 21:04] kcen opened #546 "Merging query params eats list type paramaters"
When merging two `QueryParam` objects list/repeated param options in the merge-from object stomp on themselves. This is particularly obnoxious because we call `self.merge_queryparams` from `httpx.client.Client().build_request`

**Simplified example**
[code]

**User impact example**
[code]

[2019-11-23 10:39] PrimozGodec commented on #527
Should I open another issue about this? I also cannot reproduce this issue otherwise than with my script on images.

[2019-11-23 10:40] PrimozGodec commented on #527
I will check the server if it reports anything.

[2019-11-24 06:38] gdhameeja opened #549 "Tests fail with `TypeError: attrib() got an unexpected keyword argument 'eq'`"
When running nox, the build fails for python 3.7. However, it passes for python 3.6.x.
Here is the full traceback:
[code]
Here is my `pip freeze` output:
[code]

[2019-11-24 11:08] yeraydiazdiaz commented on #549
Hi @gdhameeja, I can't reproduce this on master. I suggest removing the `.nox` directory as it's possible the virtualenv needs to be updated.

[2019-11-24 14:02] #549 closed

[2019-11-24 22:45] JulienPalard opened #550 "An open stream object is being garbage collected; call "stream.close()" explicitly."
Currently, using cpython 3.8 and httpx and HEAD (a05ba2e9148c3f74c80c68a727b7e52b3d751c8c), with this script:
[code]
I'm getting:
[code]

It looks like two connections are created, the second one during the redirection to `/fr/3.8/`.

Tried with `HTTPX_LOG_LEVEL=trace`:
[code]

Looks like the first connection is not released, so it's probably near the redirect code, maybe closing the connection ri

[2019-11-25 10:50] PrimozGodec opened #551 "Write error on HTTP/2: "AssertionError: assert waiter is None or waiter.cancelled()""
Since #527 is now closed I am opening a new issue. We already discussed this error in #527 but we could not find a simple test that would reproduce the issue.

**Issue** When I run a code appended below I get the following error.

[code]

It seems that there is a lock required around the write function: https://github.com/encode/httpx/blob/a05ba2e9148c3f74c80c68a727b7e52b3d751c8c/httpx/concurrency

[2019-11-26 09:05] #530 closed

[2019-11-27 00:11] dmontagu commented on #95
I'm also getting this issue with 0.7.6 with infrequent calls to an elasticsearch server.

[2019-11-27 13:39] tomchristie commented on #508
No longer relevant, given #553 544

[2019-11-27 13:39] #508 closed

[2019-11-27 13:40] tomchristie commented on #541
Not reproducing for me. Let's close this off pending any further issues.

[2019-11-27 13:40] #541 closed

[2019-11-27 13:44] tomchristie opened #554 "Drop per-request `cert`/`verify`/`trust_env`"
I think we should drop per-request `cert`/`verify` on the client methods, and only allow them on the client itself.

The reasoning for this is that you *don't know* when you make a request on the client if you'll actually acquire (and verify) a connection, or if you'll end up re-acquiring a connection (without any verification).

Really the configuration ought to always just be per-connection-pool

[2019-11-27 13:46] tomchristie commented on #486
Not sure *why* I thought it would be a good idea to support per-request control for proxies.
I think we ought to pass on this, and only allow proxy configuration on a per-client basis instead.

[2019-11-27 13:46] #486 closed

[2019-11-27 13:53] tomchristie commented on #505
Closed via #544

[2019-11-27 13:53] #505 closed

[2019-11-27 13:58] tomchristie commented on #522
Done, and released as 0.8. 😬

I'd can see us coming back to covering sync at a later date, but I just don't dig our approach onto it right now - it's making the API & implementation significantly poorer.

[2019-11-27 14:01] #522 closed

[2019-11-27 14:13] tomchristie commented on #345
So, I'd still like to see this, yup!

I think we'd go with `Client(middleware: typing.Sequence[Middleware] = None)`.

The middleware ought to wrap around the call into `send_single_request`, here... https://github.com/encode/httpx/blob/831e79f50a59cb7c2af549fc186951703497fe08/httpx/client.py#L416

I think a good tack onto a PR for this would be to *start* with a PR that only supports an optional s

[2019-11-27 14:20] tomchristie commented on #393
Closing this. Evidentally outdated somewhere along the line - we *do* support responses as context managers. 👍

[2019-11-27 14:21] tomchristie opened #555 "Garbage collected responses should warn if still open."
See https://github.com/encode/httpx/issues/393#issuecomment-538370554

[2019-11-27 14:27] tomchristie commented on #550
This appears resolved in 0.8 to me. Our redirect middleware wasn't closing the redirect response, which we *are* now doing.

* Before: https://github.com/encode/httpx/blob/a5f99830376ead8d7a1357169f49d9c76f085622/httpx/middleware/redirect.py#L31
* After: https://github.com/encode/httpx/blob/831e79f50a59cb7c2af549fc186951703497fe08/httpx/client.py#L424

[2019-11-27 14:27] #550 closed

[2019-11-27 14:29] tomchristie commented on #539
Dropped from the docs as of #544.

[2019-11-27 14:29] #539 closed

[2019-11-27 14:32] tomchristie commented on #509
Closing this as currently-out-of-scope.
Feasible that we might want to cover this in the core package at *some* point in the future, but for the foreseeable future let's instead push for making it possible in a third party package via https://github.com/encode/httpx/issues/345

[2019-11-27 14:32] #509 closed

[2019-11-27 20:08] WoodyFleurant opened #556 "Too many open files '/Users/vic/.netrc'"
Using pip 19.0.3 and python 3.7
Full trace

  File "/Users/vic/projects/venvs/rasa/lib/python3.7/site-packages/httpx/utils.py", line 114, in get_netrc
  File "/Users/vic/.pyenv/versions/3.7.4/lib/python3.7/netrc.py", line 29, in __init__
OSError: [Errno 24] Too many open files: '/Users/vic/.netrc'

It happens whenever executing this code many times

[code]

[2019-11-27 20:22] yeraydiazdiaz opened #557 "Timeout from ConnectionPool on number of concurrent requests larger than max_connections"
While investigating https://github.com/encode/httpx/issues/551 I noticed that when issuing a high number of concurrent requests to a server an `TimeoutError`.

Running this example adapted from #551:

[code]

Making requests to this simple Quart server:

[code]

And with logging active (raised some lines to DEBUG) a long string of the following line is produced:

`DEBUG [2019-11-27 20:00:31] httpx

[2019-11-28 03:29] gnat commented on #522
Haha. Was wondering why my calls to AsyncClient broke. Good change though.

Thank you @tomchristie

[2019-11-28 10:47] tomchristie commented on #538
Dropping the bug label from this, since our behavior is absolutely within spec here.
Tho from a UX perspective I'd be happy enough to see header casing preserved for HTTP/1.1.
I don't recall if `h11` lowercases *both* incoming and outgoing headers?

[2019-11-28 12:17] tomchristie commented on #556
That's surprising. Does it always fail with the `.netrc` file, or sometimes with other files?
Python's netrc handling closes the file once it's been used, so it's not obvious why that'd be happening.

Perhaps there's something weird happening related to state that `functools.lrucache` was hanging onto. There's a refactoring of the netrc in #558, I guess it's feasible that could resolve the issue.

[2019-11-29 10:40] tomchristie commented on #557
Right, yup. This looks like a UX issue to me.

We've got `pool_limits` configuration which is seperate to the `timeout` configuration.
Counter-intuitively, the `pool_limits` includes a `pool_timeout`, which the default config sets to 5.

You'd be getting the behavior you're expecting if you used...

[code]

But that's rather gross.

We should look at switching this behavior, so that all timeouts a

[2019-11-29 12:01] #557 closed

[2019-11-29 12:51] tomchristie opened #565 "Drop background manager (in favour of a two-function fork primitive)."
I think we're running against the grain with our current `read`, `write`, `background_manager` API on the backends.

Switching to the same style as the `hip` project is using for its concurrency backends is likely a smart thing for us to do here... https://github.com/python-trio/hip/tree/master/src/urllib3/_backends

What would it take for us to switch over to a `send_and_receive_for_a_while` API?

[2019-11-29 13:30] florimondmanca commented on #565
@tomchristie I believe I had a working implementation of this in #526.

[2019-11-29 13:32] florimondmanca commented on #565
But I remember we said somewhere that the parallel send request/receive response flow may not actually be necessary - what’s the latest status on that?

[2019-11-29 13:59] tomchristie commented on #565
Yeah I dug back into that... and no, it's not neccessary for HTTP/1.1.
I was forgetting tho that it is absolutely neccessary for HTTP/2.

(I tried dropping background manager out everywhere to help figure out if we had any obvious failures once we did that, and an HTTP/2 "send a large request" test case started failing, which retrospectively I should have realised would occur.)

[2019-11-29 14:02] tomchristie commented on #565
Part of the motivation here is that if we fall into line with how `hip` have tackled it, we can draw from their work on twisted, sync, and anyio backends.

(Now that we've dropped out all the sync-bridging code, there's a much clearer path onto how we'd *ought* to be supporting the sync case.)

[2019-11-29 14:06] tomchristie commented on #565
As it *happens* I'm probably fairly agnostic on the benefits of `read`+`write`+`background manager` vs. `read_and_write_for_a_while`, but I think we're *probably* better of following their lead here, than not, simply for the benefits of all singing from the same song-sheet, right?

[2019-11-29 14:18] florimondmanca commented on #565
Yeah, I’m good either way. #526 taught be that this won’t necessarily result in simpler code, though — bit of the opposite, since we have to provide some extra abstraction to deal with HTTP/1.1 vs HTTP/2. There may be extra simplifications made possible since we dropped sync. But yeah I’d be fine with taking the same approach than hip here. :)

[2019-11-29 15:29] tomchristie commented on #565
Right.

Also the *big* advantage with this is that a SyncBackend with `read_and_write_for_a_while` makes sense, but a SyncBackend with `read`+`write`+`background manager` isn't really possible. (At least without introducing multi-threading, which we clearly wouldn't want.)

[2019-11-29 15:43] tomchristie commented on #389
Come back *just* to the "should we auto-detect the concurrency backend, based on the async environment.

Looking at it now, the answer to me (coming to it with a fresh pair of eyes) is a clear yes - of course we should be using autodection (with `sniffio`) - why wouldn't we want to do that?

I think our interface here ought to be...

[code]

Usage:

[code]

[2019-11-29 16:37] pquentin commented on #565
That makes a lot of sense and I would also be happy to follow the lead of httpx for any part of hip that is unnecessarily different from httpx. 👍

[2019-11-29 21:58] alukach opened #568 ".netrc taking precedent over explicitly set auth header"
Using `httpx==0.8`, I was trying the following:

[code]

However, I was surprised to see the following printed:
[code]

Going to https://gitter.im/encode/community for assistance, @florimondmanca correctly guessed that the credentials may be coming from `~/.netrc`.  This was a bit of a surprise to me. He described the current order of priority for auth as:

I think that, in general, explicitly set

[2019-11-29 22:09] florimondmanca commented on #568
Just reproduced this:

- NETRC file:

[code]

- Test server (`$ uvicorn server:app`):

[code]

- Client script:

[code]

Usage:

[code]

[2019-11-29 22:16] florimondmanca commented on #568
To refine the "priority order" mentioned here, which authentication source should be used should probably follow this algorithm:

1. Use the `auth` parameter passed on the request.
1. Otherwise, use the `username:password` pair encoded in the URL.
1. Otherwise, use the `Authorization` header on the request.
1. Otherwise, use the `Authorization` header on the client.
1. Otherwise, use credentials f

[2019-11-29 22:18] florimondmanca commented on #568
Also logging here that a workaround this bug is to pass `trust_env=False` (either to the client or per-request) so that HTTPX doesn't even try to read NETRC files.

[2019-11-29 22:21] florimondmanca commented on #554
I'd be interested in seeing this happen! It always felt strange to me that *these particular two* parameters were part of the dispatcher API. To reinforce your point, IMO the use case of verifying/not verifying or using different certs for different requests is narrow enough, and is already supported by the ability to instantiate multiple clients.

[2019-11-29 22:23] florimondmanca commented on #393
@tomchristie Do we? The `Response` class doesn't implement `__aenter__()`/`__aexit__()`, so this might have been an oversight?

[2019-11-30 11:50] #239 closed

[2019-11-30 12:07] tomchristie commented on #568
Closed via 43331cfb3d3d97c9886125b821a04891951eea81

Accidentally pushed to master, rather than via a PR. 😇

[2019-11-30 12:07] #568 closed

[2019-11-30 12:15] #50 closed

[2019-11-30 12:16] tomchristie commented on #50
Let's just leave this up to the primatives of whatever concurrency framework the user is working with.

[2019-11-30 13:21] tomchristie opened #571 "Drop `MessageLoggerASGIMiddleware`"
It makes sense for uvicorn to provide that level of logging for ASGI, but I don't think it properly belongs in `httpx`, and we should keep our ASGI implementation (and any WSGI implementation once we've got sync support back) as absoultely slim and minimal as possible.

If users want any extra smarts they can use it as third party middleware (eg. import it from uvicorn instead, and wrap up the app

[2019-11-30 13:27] florimondmanca commented on #571
Makes sense! Especially this:

[2019-11-30 14:00] tomchristie opened #572 "Supporting Sync. Done right."
So, with the 0.8 release we dropped our sync interface completely.

The approach of bridging a sync interface onto an underlying async one, had some issues, in particular:

* Have Sync and Async variant classes both subclassing Base classes was leading to poorer, less comprehensible code.
* There were niggly issues, such as being unable to run in some environments where top-level async support was

[2019-11-30 14:05] tomchristie commented on #572
Ah, actually I guess that might not quite be okay, given that `async` is a keyword?

Probably workarounds available, but could be problematic.

Anyway's there's:

* scope via subpackage.
* scope via two different pypi pacakges.
* scope via different naming.  (Eg. `SyncResponse`/`AsyncResponse` or `Response`/`AsyncResponse`)

[2019-11-30 14:12] florimondmanca commented on #572
IMO sync should be the second class citizen, not async. Not sticking to this means going backwards wrt discussions and conclusions we’ve drawn from #522.

So, another option: keep the same API, but have it live under httpx.sync.

In short...

[2019-11-30 14:15] tomchristie commented on #522
Right, the project is looking much better already, with our bridging approach to sync+async out of the way.

I think we've got a much better tack onto this on the horizon...

✨ **"Supporting Sync. Done right."** #572 ✨

The big, big, big difference with #572, is that it won't impact the quality of the codebase in the same way that our prior approach was doing. We'll also be using regular ol' funct

[2019-11-30 14:28] #571 closed

[2019-11-30 15:28] tomchristie commented on #191
We now have the behavior described in the previous comment, so I think this issue is now defunct.

[2019-11-30 15:28] #191 closed

[2019-11-30 15:43] tomchristie commented on #523
On the face of it this doesn't immediately look to me like something that we ought to be supporting via our public API.

It's possible that I've made an incorrect assessment here. There's a couple of things that could change my mind on this...

* Is this something that you'd be able to do more easily in `requests`/`urllib3`?
* Do you have a concrete proposal for what the public API for this ought

[2019-11-30 15:43] #523 closed

[2019-11-30 15:46] tomchristie commented on #556
I'm going to assume that this is resolved in master, with our NetRC refactoring in #558.
Please do let us know if that's not the case.

[2019-11-30 15:46] #556 closed

[2019-11-30 15:46] tomchristie commented on #546
Closed via #547

[2019-11-30 15:46] #546 closed

[2019-11-30 16:16] SteveAlexander commented on #523
Thanks for considering this, Tom. I'm not familiar enough with the `httpx` API and the design principles behind it to offer an API suggestion at this point. As I use `httpx` more, I'll give this some thought.

I think reading the `CONNECT` response headers is also quite difficult in `requests` / `urllib3`. For example, there's this open issue on `httplib`:

https://bugs.python.org/issue24964

And,

[2019-11-30 17:43] #543 closed

[2019-11-30 18:02] #413 closed

[2019-11-30 18:04] tomchristie commented on #523
Great - probably worth following up here with how you get on there.

*Perhaps* there's something here that we could come back to, but at the moment it looks more likely that we should instead make sure that it's *not too* painful to do this with a custom proxy class.

[2019-11-30 18:18] tomchristie commented on #331
Closing this as out-of-scope to the core package.
We're tracking the middleware API in #345, which is also somewhat relevant.

[2019-11-30 18:18] #331 closed

[2019-11-30 18:21] tomchristie commented on #458
I'm not really sure what state the tests are in for windows at the moment.
Is anyone keen on digging into this? Really we oughta get them back on track, and then turn off "allowed failure" for them so we don't slip back into this.

[2019-11-30 18:31] tomchristie commented on #396
At the moment this issue is somewhat defunct, since 0.8 dropped sync (and, correspondingly WSGI).

Once #572 is resolved we'll want a WSGIDispatch again. When that's in we can consider if/how we want to unify the two APIs. In the meantime, I've linked to the ASGI docs in #577 to help out here.

[2019-11-30 18:36] tomchristie opened #578 "TimeoutConfig improvements."
1. `TimeoutConfig(5.0)` should really just be `Timeout(5.0)`. We don't want to break the API prior to 1.0 so I guess let's switch it to `Timeout` but have a `TimeoutConfig = Timeout` synonym.

2. Right now we either support `Timeout(5.0)` or `Timeout(read_timeout=5.0)`, however we should actually support a style that provides the default case, and the exceptional cases. Eg...

[code]

[2019-11-30 18:38] #396 closed

[2019-11-30 19:46] #519 closed

[2019-11-30 19:50] Mattwmaster58 opened #579 "Update documentation Re: Multipart File Encoding"
Current documentation is incomplete.
 - Doesn't correctly specify how `content-type` header is is determined

[2019-11-30 20:32] SteveAlexander commented on #523
Okay — subclassing `HTTPProxy` is significantly better. Rather than 90 lines of code copied, and using `Wrapt`, it's now more standard Python and 30 lines of code copied.

[code]

It would be nice to be able to copy less code. Perhaps the hook I inserted into my subclass could be added to `HTTPProxy` along with a no-op implementation of `proxy_response_hook(response)`?

For my purposes, a synchron

[2019-11-30 21:32] SteveAlexander commented on #523
One other thing I'd like to mention: while I was looking for others wanting to use this kind of feature in Python http libraries, I came across the idea of having an option on an HTTP Proxy to either
1. ignore headers from the proxy response
2. combine headers from the proxy response into the regular http response

That would have served my need in this case too.

[2019-11-30 21:45] tomchristie commented on #579
As it stands I'm closing this ticket out of hand, as "current issue description is incomplete".

Very happy to reconsider if there's a clear, postive, actionable description of what you'd like to see improved in that section of the documentation.

[2019-11-30 21:48] tomchristie commented on #579
Related: The bullet points [in the docs section there](https://www.encode.io/httpx/advanced/#multipart-file-encoding) didn't appear to be well formatted.

Eg....

![Screen Shot 2019-11-30 at 21 47 28](https://user-images.githubusercontent.com/647359/69906432-0dd38700-13bb-11ea-8e07-b0772444283a.png)

vs.

![Screen Shot 2019-11-30 at 21 47 35](https://user-images.githubusercontent.com/647359/699064

[2019-11-30 21:56] Mattwmaster58 commented on #579
Updated issue

[2019-12-01 01:58] phillmac commented on #572
I get that this is not stable software, but this was a bit of a rude shock when all my tests broke.

I completely disagree that "sync should be the second class citizen". Imho 90% of use cases will be fetch this page then fetch the next and so on...
Having to convert strictly synchronous to async seems to be a bit of a pain in the backside to me.

[2019-12-01 02:31] phillmac commented on #522
I'd just like to make a point here that @sethmlarson assumed that a "synchronous HTTP/2 request doesn't make much sense".
My use case is that I have a *endless* http/2 stream that I _cannot_ use with `await`. I need to read it synchronously.
It's a stream of events that generates further *synchronous* http requests that need to be performed *before* the next event is read off the stream. Having a

[2019-12-01 08:33] kissgyorgy commented on #522
I don't understand exactly why is this a problem for you, because I don't see your code, but would `asyncio.run(handle_stream_event)` not work for you? So basically, you would not run the asyncio loop all the time, just for the short period of reading one event at a time. It's actually pretty simple to control the event loop yourself. If you can show code I would take a look.

[2019-12-01 08:40] phillmac commented on #522
@kissgyorgy
https://github.com/phillmac/py-orbit-db-http-client-dev/blob/b785cc3289ece70d797f672742d7cfc0a2bc140e/tests/test.py#L159
https://github.com/phillmac/py-orbit-db-http-client-dev/blob/b785cc3289ece70d797f672742d7cfc0a2bc140e/tests/test.py#L170

[2019-12-01 08:44] phillmac commented on #522
See also https://github.com/phillmac/py-orbit-db-http-client-dev/blob/b785cc3289ece70d797f672742d7cfc0a2bc140e/orbitdbapi/client.py#L97

[2019-12-01 09:26] tomchristie commented on #572
@phillmac I hear you competely. We've had a big pain point here in that our prior approach to sync support needed to be ripped out in order to change how we handle it.

Having cleared that out the way, I now absolutely want to support the sync and async cases both equally. We've got a bit of technical stuff to do to get that done, and we've also got the naming decisions here to resolve, but *yes*

[2019-12-01 09:28] phillmac commented on #572
Cool, my fault for not pinning it earlier, but I wanted bleeding edge stuff. Guess I got what I asked for

[2019-12-01 09:32] tomchristie commented on #572
I should be *slightly* more precise here - one thing that *may well* differ is that our sync API may not support HTTP/2. (I see you mention that in the thread in #522.)

[2019-12-01 09:37] phillmac commented on #572
Yeah that's the whole point, I have a http/2 api server, there seems not to be any just bog standard http/2 libraries  😞

[2019-12-01 09:51] tomchristie commented on #579
Fab, thanks.

[2019-12-01 16:37] tomchristie commented on #565
Actually there's a neat alternative for us here...

The background manager API is actually a bit grungy, because although it nearly fits trio's structured concurrency model, it doesn't entirely, since we're calling directly into Trio's nursery `__aenter__` and `__aexit__`, which I'd expect the trio team would consider at the least a code-smell.

We only ever want to support "branch two flows of ex

[2019-12-01 16:42] tomchristie commented on #565
Specifically, our semantics for the fork primitive would be...

* start func1, start func2.
* wait for func1, if it raises an exception raise it (cancelling and ignoring func2).
* wait for func2, if it raises an exception raise it.

We don't need to care about multi-exception cases, and should just raise the first of any exception we see.

[2019-12-01 16:58] yeraydiazdiaz commented on #551
Hi @PrimozGodec, I cannot reproduce this issue with a stripped down version of your code.

[code]

<details>
<summary>Hitting a very simple Quart server.</summary>

[code]

</details>

I'm using the same `image.pkl.zip` file that you posted and encountered no errors on `master`. I did encounter the `PoolTimeout` error in `0.8.0` described in https://github.com/encode/httpx/issues/557 and fixed via

[2019-12-02 03:51] KyleKreutzer opened #581 "Random KeyErrors when performing GET requests (possible race condition)"
When performing a get request using httpx.client.get, I am (with every 1/10 requests or so) getting random key errors. The only argument being handed to this call is a 5 second timeout, a google "NID" cookie, and the URL. I've attached a text file with the error.
[KeyError.txt](https://github.com/encode/httpx/files/3909364/KeyError.txt)

[2019-12-02 11:14] tomchristie opened #582 "HTTP/2 should be off by default."
So...

I'm super excited that we've got an HTTP/2 implementation in here, but we also need to consider *what default behavior we should be aiming for*, and what we should prioritise.

Our HTTP/2 implementation is neccessarily going to be more complex, and less mature than our HTTP/1.1 implementation. Even if that *wasn't* the case, then HTTP/2 infrastructure that we're connecting too is *more* lik

[2019-12-02 11:56] #579 closed

[2019-12-02 16:39] tomchristie commented on #95
Right - I don't think that the issue here is that we're losing the connection, I think it's that we're not *detecting* that we've lost the connection.

When we acquire a connection from the pool we check if it has been closed or not... https://github.com/encode/httpx/blob/12d00b238e837a96271d7b07b8c3b456bd82fe0c/httpx/dispatch/connection_pool.py#L195

However it's been noted that the "is closed" d

[2019-12-02 16:41] tomchristie commented on #95
There are potential mitigations here, such as having a keep-alive time on connections, and assuming that they're expired once the keep-alive is passed, but it'd be good to have a clear handle on if we've got to the root of the cause first.

[2019-12-02 16:44] tomchristie commented on #581
Thanks for reporting this.

What's the simplest possible example that reproduces this reliably?
Is this only occuring against a specific URL, or can you determine various cases where its failing?

[2019-12-02 17:06] KyleKreutzer commented on #581
I've only tried it against the Google Trends API (https://trends.google.com/trends/api/*). The simplest way to reproduce the error would be to pull [](https://github.com/KyleKreutzer/pytrends-async) and run the unit tests. The problem is occurring intermittently so it may take more than 1 run to have the issue appear, but any of those tests seem to reliably reproduce the problem.

[2019-12-02 17:07] #582 closed

[2019-12-02 17:28] tomchristie commented on #523
Gotcha. I don't have much of a gauge on how useful this would likely be to other users or not. Is that a typical thing to do? I *guess* we might want to wait and see if a similar issue comes up again, and if so figure out if there's much commonality?

[2019-12-02 17:33] tomchristie commented on #551
For housekeeping I'll close this, pending confirmation.

[2019-12-02 17:37] SteveAlexander commented on #523
It's kind of niche, I guess.

It is needed by anyone using certain HTTP proxy services that do specific things like rotate IP addresses, where you want to give feedback about the _proxying_ independently of the _requesting_. For example, https://luminati.io/ or https://www.proxymesh.com/

[2019-12-02 22:33] KyleKreutzer commented on #581
`        for i in range(100):
            async with httpx.Client() as c:
                resp = await c.get('https://trends.google.com/?geo={geo}'.format(geo='US'), timeout=5)
                time.sleep(1)`

This will produce the bug

[2019-12-03 11:35] PrimozGodec commented on #551
I can confirm that this issue is fixed with the master branch. Probably it is the consequence of one of the changes.

[2019-12-03 15:47] PrimozGodec commented on #551
I said it too fast. The problem was that I didn't notice that HTTPX switched to HTTP1.1 as default. :( The issue still persists.

Since I had problems to set up HTTP2 local server I changed @yeraydiazdiaz example such that it communicates with our server (which is HTTP2 compatible).

[code]
I changed:
- url adresses
- upickling the image
- adding `http2=True` to the client

After those changes cod

[2019-12-03 17:16] tomchristie commented on #316
I'm *really*, *really* keen on us getting this back.
Dropping the 1.0 milestone tho, since it's not *strictly* required for us to get to a point where we consider HTTPX to be API-stable.

[2019-12-03 17:24] tomchristie opened #587 "Deprecation Policy."
At this point in time we ought to have a *clear* warning on the docs to pin to a median version. eg. 0.8.x

Using this issue to describe what I'd like our deprecation policy to be once we hit 1.0.

* Upgrading from X to X+1 (1.0 to 2.0) never breaks any public API, but may raise warnings.
* Upgrading from X to X+2 (2.0 to 3.0) warnings esclate into errors.
* Upgrading from X to X+3 (3.0 to 4.0) co

[2019-12-03 17:28] tomchristie commented on #137
Closing this off as gone-stale.

[2019-12-03 17:28] #137 closed

[2019-12-03 17:37] tomchristie opened #588 "Reviewing the streaming API"
Right now we issue streaming requests using...

[code]

And have the following stream-specific methods...

* `.read()`
* `.raw()`
* `.stream()`
* `.stream_text()`
* `.stream_lines()`
* `.close()`

For the 1.0 release I think we should consider? droping `stream=True`, as it makes it *exceptionally* easy to leave unclosed connections hanging around.

I'm interested in if we might want to use the fol

[2019-12-03 18:50] florimondmanca commented on #587
Interesting!

So I assume « escalate into errors » still means that we track the code path and raise an appropriate exception/error message, right?

What are the pros of having a « pad major » between breaking changes? Have you seen it help adoption/upgrades compared to strict semver?

[2019-12-03 19:26] StephenBrown2 commented on #587
I was thinking it would follow marking things with [PendingDeprecationWarning](https://docs.python.org/3/library/exceptions.html#PendingDeprecationWarning) and then [DeprecationWarning](https://docs.python.org/3/library/exceptions.html#DeprecationWarning), but those aren't _errors_.

Could also borrow from the [deprecation](https://pypi.org/project/deprecation/) [library](https://github.com/brianc

[2019-12-03 22:57] plizonczyk commented on #587
Not sure if it's the right place, but 0.8 has brought fairly breaking change with removal of AsyncClient, without any prior warning. CHANGELOG.md hasn't been updated neither. The reason I'm bringing it up here is that maybe it's worth to enforce deprecation warnings before v1.0 (unless it's the next version)?

[2019-12-04 07:57] florimondmanca commented on #587
Thanks for raising this @plizonczyk :-)

Ah, correct. @tomchristie Seems only the package was pushed to PyPI, without an extra `Release 0.8` commit + tag?

We most likely won't be breaking things as hard as with 0.8 again pre-1.0, but I hear that the change is , and our communication could have been more proactive (e.g. strongly encouraging users to pin the dependency to the current minor version

[2019-12-04 08:06] florimondmanca commented on #588
Thanks for bringing this up! I remember we mentioned it briefly elsewhere but it's good it has its own issue now.

I agree with the idea of a dedicated method, because passing `stream=True` induces an important change in behavior that should be better reflected in the API.

I also agree on enforcing context manager usage.

Thinking about alternatives, the fact that we have "one method per HTTP ver

[2019-12-04 08:10] florimondmanca commented on #496
With #584, we could consider *multiple* extras, i.e. one per extra feature:

[code]

And in the future, possibly…

[code]

[2019-12-04 09:25] millefalcon commented on #504
I saw this was still open. So i have raised a pull request. Are we making sure the module version is less than 2, because of potential API change in the future ?

[2019-12-04 09:36] tomchristie commented on #588
Indeed yeah.

Options I can see here are...

Provide nested `.get()` and pals...

[code]

Explicit request methods, for the streaming case...

[code]

Support *either one or two* postional args for the streaming case...

[code]

[2019-12-04 09:43] tomchristie commented on #588
Another take could be that we *enforce* that responses *must* be used as a context manager when `stream=True` is used, so...

[code]

Although I. *think* that feels a bit weirdly ambiguous to me.

[2019-12-04 09:57] tomchristie commented on #587
@plizonczyk - Yes. That was unneccessarily blunt, apologies. I've started by updating the README, like so...

---

**Note**: *HTTPX should still be considered in alpha. We'd love early users and feedback,
but would strongly recommend pinning your dependencies to the latest median
release, so that you're able to properly review API changes between package
updates. Currently you should be using `htt

[2019-12-04 10:03] tomchristie commented on #587
See also https://github.com/encode/httpx/pull/590

[2019-12-04 10:05] #504 closed

[2019-12-04 11:54] #433 closed